{"openapi":"3.1.0","info":{"title":"Astra Developer API","description":"Astra's public API endpoints available to our customers.","version":"1.0.0"},"components":{"securitySchemes":{"basicAuth":{"type":"http","scheme":"basic"},"bearerAuth":{"type":"http","scheme":"bearer"}},"headers":{"request-id":{"description":"Unique ID returned with each API response","schema":{"type":"string"}}}},"servers":[{"url":"https://api-sandbox.astra.finance","description":"Sandbox Environment"},{"url":"https://secure.api-sandbox.astra.finance","description":"Secure Sandbox URL"}],"tags":[{"name":"Authorization"},{"name":"User"},{"name":"Accounts"},{"name":"Cards"},{"name":"Routines"},{"name":"Transfers"},{"name":"Transactions"}],"paths":{"/v1/oauth/token":{"post":{"tags":["Authorization"],"summary":"Authorize a User","description":"> 📘\n> \n> You can place your application's `client_id` into the `username` field, and your `client_secret` into the `password` form field of the Authentication section of this documentation 👉.\n\nUse this endpoint to both initially Authorize a User, and also to Refresh Authorization for a user.\n\nIn the **Form Data** below, **Option 1** is for the initial action to Authorize a User.  **Option 2** is for the action of using the `refresh_token` to generate a new `access_token`.\n","requestBody":{"description":"There are two options for retrieving authorization on behalf of a user.  First is the initial authorization request, which requires an authorization_code generated after a user authenticates.  Second, is the method of refreshing a user's access_token.","required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"oneOf":[{"type":"object","properties":{"grant_type":{"type":"string","description":"Grant type of `authorization_code` for initial authorization to generate an `access_token` for a specific user","enum":["authorization_code"]},"code":{"type":"string","format":"password","description":"The authorization code your Client received after the User authorized your application"},"redirect_uri":{"type":"string","description":"The redirect URI you want to send Authenticated Users to on success (this must match your Developer Account settings)"}},"required":["client_id","client_secret","grant_type","code","redirect_uri"]},{"type":"object","properties":{"grant_type":{"type":"string","description":"Grant type of `refresh_token` to refresh authorization and receive a fresh `access_token`","enum":["refresh_token"]},"refresh_token":{"type":"string","format":"password","description":"The `refresh_token` granted with the associated`access_token`"},"redirect_uri":{"type":"string","description":"The redirect URI you want to send Authenticated Users to on success (this must match your Developer Account settings)"}},"required":["grant_type","code","redirect_uri","refresh_token"]}]}}}},"responses":{"200":{"description":"Successfully authorize a user","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string","format":"password","description":"The authorization token for the User"},"expires_in":{"type":"integer","description":"Seconds from the time of authorization that the access_token will expire"},"refresh_token":{"type":"string","format":"password","description":"The token that can be used to refresh authorization and retrieve a new access_token"},"token_type":{"type":"string","description":"The type of token returned"}}}}}}},"security":[{"basicAuth":[]}]}},"/v1/user":{"get":{"tags":["User"],"summary":"Get a User Profile","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint retrieves the profile information for the User whose `access_token` is passed in the authorization header.\n","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"Unique Astra user ID","type":"string"},"email":{"description":"Email address of the user","type":"string"},"phone":{"description":"Phone number of the user","type":"string"},"first_name":{"description":"First name of the user","type":"string"},"last_name":{"description":"Last name of the user","type":"string"},"preferred_first_name":{"description":"Preferred first name of the user","type":"string"},"preferred_last_name":{"description":"Preferred last name of the user","type":"string"},"preferred_pronouns":{"description":"Preferred pronouns of the user","type":"string"},"status":{"description":"Current status of the user (Details on [User Statuses](ref:user-statuses))","type":"string","enum":["approved","pending","retry","document","suspended","rejected"]}}}}}}}}},"/v1/user_intent/{id}":{"get":{"tags":["User"],"summary":"Get a User Intent","description":"> 📘\n> \n> You can place your application's `client_id` into the `username` field, and your `client_secret` into the `password` form field of the Authentication section of this documentation 👉.\n\nA User Intent manages the lifecycle of the creation of a User, before that User has been fully created. This endpoint retrieves the User Intent details.\n\n> 📘\n> \n>  Note that the `user_id` will be returned in the payload if the UserIntent has been successfully converted to a User. Also note that a UserIntent does not need to have an Approved Status to be converted to a User.\n","security":[{"basicAuth":[]}],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"User intent ID"}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"Unique Astra user intent ID","type":"string"},"user_id":{"description":"Unique Astra user ID","type":"string"},"email":{"description":"Email address of the user","type":"string"},"phone":{"description":"Phone number of the user","type":"string"},"first_name":{"description":"First name of the user","type":"string"},"last_name":{"description":"Last name of the user","type":"string"},"preferred_first_name":{"description":"Preferred first name of the user","type":"string"},"preferred_last_name":{"description":"Preferred last name of the user","type":"string"},"preferred_pronouns":{"description":"Preferred pronouns of the user","type":"string"},"status":{"description":"Current status of the user (Details on [User Statuses](ref:user-statuses))","type":"string","enum":["approved","pending","retry","document","suspended","rejected","converted_to_user"]}}}}}}}}},"/v1/user_intent":{"post":{"tags":["User"],"summary":"Create a User Intent","description":"> 📘\n> \n> You can place your application's `client_id` into the `username` field, and your `client_secret` into the `password` form field of the Authentication section of this documentation 👉.      \n\nA User Intent manages the lifecycle of the creation of a User, before that User has been fully created. This endpoint creates a User Intent, starting the process of verifying the end-user's identity in the background.\\n\n\nFor managing UserIntents, Astra recommends that once a UserIntent is created, you should store that UserIntent ID with the User record. The UserIntent ID can then be sent as a query string parameter to the Astra OAuth flow. Once your application receives the `authorization_code`, you can make a call to the `GET /v1/user` endpoint which will give you a `user_id`.\n\n> 🚧\n> \n> Note that a new UserIntent should only be created if an end-user is starting from scratch or had originally provided incorrect information.\n\n> 🚧\n> \n> Note that if a UserIntent doesn't have an address2 value, send Astra an empty string instead of a null or you'll recieve a 400 response upon POSTing the request.\n\n> ❗️\n> \n> Note that you may only attempt to create 3 UserIntents per email address. If you reach this limit while creating UserIntents in your Sandbox Environment, you will receive an error.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"Email address of the user"},"phone":{"type":"string","description":"Phone number of the user (format: +15557771234)","pattern":"^\\+\\d{11}$"},"first_name":{"type":"string","description":"First name of the user"},"last_name":{"type":"string","description":"Last name of the user"},"preferred_first_name":{"type":"string","description":"Preferred first name of the user"},"preferred_last_name":{"type":"string","description":"Preferred last name of the user"},"preferred_pronouns":{"type":"string","description":"Preferred pronouns of the user"},"address1":{"type":"string","description":"Address line 1 of the user (PO Boxes are not allowed)"},"address2":{"type":"string","description":"Address line 2 of the user (PO Boxes are not allowed)"},"city":{"type":"string","description":"City of the user"},"state":{"type":"string","description":"State of the user's address"},"postal_code":{"type":"string","description":"Postal code of the user"},"date_of_birth":{"type":"string","description":"Date of birth of the user (format: YYYY-MM-DD)","pattern":"^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$"},"ssn":{"type":"string","description":"Social Security Number of the user (format: Last four (####) or full number (#########))","pattern":"(^\\d{9}$)|^\\d{4}$"},"ip_address":{"type":"string","description":"IP address of the user"}},"required":["email","phone","first_name","last_name","address1","city","state","postal_code","date_of_birth","ssn","ip_address"]},"examples":{"Approved":{"summary":"Example Approved User Intent","description":"You can use the pre-filled fields from this example to result in a successful user intent.  Simply include a unique email address and a testable phone number.","value":{"first_name":"Edmund","last_name":"Hillary","date_of_birth":"1985-02-03","ssn":"1234","phone":"YOUR_PHONE","email":"YOUR_EMAIL","address1":"123 Astra Ave","city":"Palo Alto","state":"CA","postal_code":"94304","ip_address":"192.0.2.0"}},"Rejected":{"summary":"Example Rejected User Intent","description":"You can use the pre-filled fields from this example to result in a rejected user intent.","value":{"first_name":"Edmund","last_name":"Hillary","date_of_birth":"1970-01-01","ssn":"1234","phone":"+12025551111","email":"YOUR_EMAIL","address1":"123 Astra Ave","city":"Palo Alto","state":"CA","postal_code":"94304","ip_address":"192.0.2.0"}},"Retry":{"summary":"Example Retry Status User Intent","description":"You can use the pre-filled fields from this example to result in a user intent with a status of retry.  Simply include a unique email address and a testable phone number.","value":{"first_name":"retry","last_name":"Hillary","date_of_birth":"1985-02-03","ssn":"1234","phone":"YOUR_PHONE","email":"YOUR_EMAIL","address1":"123 Astra Ave","city":"Palo Alto","state":"CA","postal_code":"94304","ip_address":"192.0.2.0"}},"Document":{"summary":"Example Document Status User Intent","description":"You can use the pre-filled fields from this example to result in a user intent with a status of retry.  Simply include a unique email address and a testable phone number.","value":{"first_name":"document","last_name":"Hillary","date_of_birth":"1985-02-03","ssn":"1234","phone":"YOUR_PHONE","email":"YOUR_EMAIL","address1":"123 Astra Ave","city":"Palo Alto","state":"CA","postal_code":"94304","ip_address":"192.0.2.0"}}}}}},"security":[{"basicAuth":[]}],"responses":{"201":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"Unique Astra user intent ID","type":"string"}}}}}},"403":{"description":"Existing user that is rejected or suspended","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"code":{"description":"Response code","type":"integer"},"name":{"description":"Name of response code","type":"string"},"description":{"description":"Error message","type":"string"}}},"examples":{"Rejected":{"summary":"Existing user that is rejected or suspended","value":{"code":403,"name":"Forbidden","description":"A user with this email and phone number combination was screened by Astra and was not permitted on the platform"}}}}}}}}},"/v1/documents/create_upload_url":{"post":{"tags":["User"],"summary":"Create Document Upload URL for User","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint handles the upload of a government-issued ID for users who have the document status and must upload additional documentation to verify their identity. There are three types of acceptable documents: license, ID card, or passport. There are three types of acceptable document extensions: jpg, jpeg, or png. The document must be in color.\n\n> 📘\n> \n>  After you receive the file upload URL, you should submit the file to the URL: `curl -X PUT --header \"Content-Type:application/octet-stream\" --data-binary @your_file_name.jpg \"your_upload_url\"`\n\n> 📘\n> \n> For the Business Verification flow, a Business may also be placed into a `document` status. For Business types, we allow `.pdf` extensions for document uploads. In this scenario the `document_type` needs to be set to `other`.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"document_type":{"description":"The type of document","type":"string","enum":["license","idCard","passport","other"]},"extension":{"description":"The type of image","type":"string","enum":["jpg","jpeg","png"]}}}}}},"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"filename":{"type":"string","description":"Name of the file to be uploaded"},"method":{"type":"string","description":"HTTP method to use when uploading"},"id":{"type":"string","description":"Unique image ID"},"url":{"type":"string","description":"File upload URL"}}}}}}}}},"/v1/documents/confirm_upload":{"post":{"tags":["User"],"summary":"Confirm Document Upload for User","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nAfter successfully uploading the file, you should post a confirmation to this endpoint using the filename id from `v1/documents/create_upload_url`.  If successfully confirmed, Astra will return a successful response (HTTP 200)        \n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"filename":{"type":"string","description":"The full name of the document that was uploaded including the extension type","example":"filename.jpg","pattern":".*\\.(jpg|jpeg|png|pdf)$"}}}}}},"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response"}}}},"/v1/request_user_phone_number_update":{"post":{"tags":["User"],"summary":"Request User Phone Number Update","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint gives Astra's customers the ability to submit a phone number change request on behalf of a User to Astra, which will be sent through security checks on our end. This ensures that we can safely and securely update a User's phone number and verify that they are the owner.\n\n> 📘\n> \n> Phone number change requests can be rejected if our systems and our team are unable to verify phone ownership.\n\n> 📘\n> \n>  Phone number change requests are typically processed within one business day, but processing times may vary.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"proposed_phone":{"type":"string","description":"The new phone number you would like to associate with the Astra User's profile","example":"+15558675309","pattern":"^\\+\\d{11}$"}}}}}},"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response"}}}},"/v1/accounts":{"get":{"tags":["Accounts"],"summary":"List Accounts for a User","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nRetrieve all Accounts for a User.        \n","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of accounts returned"},"accounts":{"type":"array","items":{"schema":null,"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the Account"},"official_name":{"type":"string","description":"The official name of the Account from the Institution"},"name":{"type":"string","description":"The name of the Account from the Institution"},"nickname":{"type":"string","description":"The name of the Account defined by the User"},"mask":{"type":"string","description":"The last four digits of the Account number"},"institution_name":{"type":"string","description":"The name of the Institution where the Account is held"},"institution_logo":{"type":"string","description":"The Institution logo in base64 format"},"type":{"type":"string","description":"The category of the Account type (ie. depository)"},"subtype":{"type":"string","description":"The sub category of the Account type (ie. checking)"},"current_balance":{"type":"float","description":"The value of the current balance for the Account"},"available_balance":{"type":"float","description":"The value of the available balance for the Account"},"last_balance_update_on":{"type":"date","description":"The last update for the Account object from the Institution"},"connection_status":{"type":"string","description":"The current status of the account (connected or error)"}},"required":[]}}}}}}}}},"post":{"tags":["Accounts"],"summary":"Create Account by Account and Routing (deprecated)","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint will create an Account for a User based on an account and routing number.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"institution_id":{"type":"string","description":"The Institution ID given to you by Astra"},"name":{"type":"string","description":"The name for the Account"},"bank_account_type":{"type":"string","description":"The type of bank account (checking or savings)"},"account_number":{"type":"string","description":"The bank account number"},"routing_number":{"type":"string","description":"The bank routing number"}},"required":["institution_id","name","bank_account_type","account_number","routing_number"]}}}},"security":[{"bearerAuth":[]}],"responses":{"201":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Unique ID of the account"},"official_name":{"type":"string","description":"Official name of the account"},"name":{"type":"string","description":"Name of the account"},"mask":{"type":"string","description":"Masked account number"},"institution_name":{"type":"string","description":"Institution name of the account"},"institution_logo":{"type":"string","description":"Logo of the institution"},"type":{"type":"string","description":"Type of the account"},"subtype":{"type":"string","description":"Subtype of the account"},"connection_status":{"type":"string","description":"Connection status of the account"}}}}}}}}},"/v1/accounts/{id}":{"get":{"tags":["Accounts"],"summary":"Get a Specific Account for a User","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint retrieves a specific Account for a User based on the Account ID.        \n","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","description":"The unique ID of the Account","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the Account"},"official_name":{"type":"string","description":"The official name of the Account from the Institution"},"name":{"type":"string","description":"The name of the Account from the Institution"},"nickname":{"type":"string","description":"The name of the Account defined by the User"},"mask":{"type":"string","description":"The last four digits of the Account number"},"institution_name":{"type":"string","description":"The name of the Institution where the Account is held"},"institution_logo":{"type":"string","description":"The Institution logo in base64 format"},"type":{"type":"string","description":"The category of the Account type (ie. depository)"},"subtype":{"type":"string","description":"The sub category of the Account type (ie. checking)"},"current_balance":{"type":"float","description":"The value of the current balance for the Account"},"available_balance":{"type":"float","description":"The value of the available balance for the Account"},"last_balance_update_on":{"type":"date","description":"The last update for the Account object from the Institution"},"connection_status":{"type":"string","description":"The current status of the account (connected or error)"}}}}}}}},"delete":{"tags":["Accounts"],"summary":"Delete a Specific Account for a User","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint deletes a specific account for a User based on the account ID. The Response will only include a Response Code.\n","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"The ID of the specific account to delete."}],"responses":{"200":{"description":"Successful response"}}}},"/v1/accounts/create":{"post":{"tags":["Accounts"],"summary":"Create Account by Account and Routing","servers":[{"url":"https://secure.api-sandbox.astra.finance","description":"Secure Sandbox URL"}],"description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint will create an Account for a User based on an account and routing number.\n\n> 🚧\n> \n> This resource requires the use of the secure endpoint.\n> \n> | Environment | Secure Endpoint                                             |\n> |-------------|-------------------------------------------------------------|\n> | Production  | https://secure.api.astra.finance/v1/accounts/create         |\n> | Sandbox     | https://secure.api-sandbox.astra.finance/v1/accounts/create |\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"institution_id":{"type":"string","description":"The Institution ID given to you by Astra"},"name":{"type":"string","description":"The name for the Account"},"bank_account_type":{"type":"string","description":"The type of bank account (checking or savings)"},"account_number":{"type":"string","description":"The bank account number"},"routing_number":{"type":"string","description":"The bank routing number"}},"required":["institution_id","name","bank_account_type","account_number","routing_number"]}}}},"security":[{"bearerAuth":[]}],"responses":{"201":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Unique ID of the account"},"official_name":{"type":"string","description":"Official name of the account"},"name":{"type":"string","description":"Name of the account"},"mask":{"type":"string","description":"Masked account number"},"institution_name":{"type":"string","description":"Institution name of the account"},"institution_logo":{"type":"string","description":"Logo of the institution"},"type":{"type":"string","description":"Type of the account"},"subtype":{"type":"string","description":"Subtype of the account"},"connection_status":{"type":"string","description":"Connection status of the account"}}}}}}}}},"/v1/accounts/processor_token":{"post":{"tags":["Accounts"],"summary":"Create Account by Plaid Processor Token","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nAstra and Plaid have partnered to enable you to use your existing Plaid integration to connect bank accounts and leverage Astra's transfer automation capabilities.\n\nTo get started, follow the guide from [Plaid's API docs](https://plaid.com/docs/auth/partnerships/astra/). Completing the process will result in the creation of a `processor_token`.\n\nSending the `processor_token` to this endpoint will create an Account for a User within the Astra platform. You can then easily use the resulting account `id` as the source or destination of a transfer Routine.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"processor_token":{"type":"string","description":"The `processor_token` received when exchanged for an `access_token` via Plaid's API"},"institution_id":{"type":"string","description":"The `institution_id` for your Plaid `access_token` used for a fallback association to the correct institution."}},"required":["processor_token"]}}}},"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Account ID"},"institution_id":{"type":"string","description":"Your Plaid access token institution_id"}}}}}}}}},"/v1/cards":{"get":{"tags":["Cards"],"summary":"List Cards for a User","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nRetrieve all Debit Cards for a user.\n\nUsers can view cards associated with their Astra account by visiting the OAuth Module URL: [https://app.astra.finance/cards](https://app.astra.finance/cards)      \n","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of cards returned"},"cards":{"schema":{"type":"array","items":{"schema":null,"type":"object","properties":{"id":{"type":"string","description":"Unique card ID"},"card_company":{"type":"string","description":"Name of card company"},"expiration_date":{"type":"string","description":"Month/Year of card expiration"},"last_four_digits":{"type":"string","description":"Last 4 digits of the card number"}}}}}}}}}}}},"post":{"tags":["Cards"],"summary":"Create a Card for a User","servers":[{"url":"https://secure.api-sandbox.astra.finance","description":"Secure Sandbox URL"}],"description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nCards can be created directly through the API using this PCI-compliant endpoint if the card is issued from your company.\n\nCards can also be created through the OAuth Module by selecting the **Connect New Debit Card** button. If the card being created is not issued from your company, it must be created through the OAuth module, which is Payment Card Industry (PCI) compliant. Astra is PCI certified.\n\nFor Unit customers, please reference their technical documentation below to learn more about enabling card to card payments. [Enabling Card to Card Payments with Unit & Astra](https://guides.unit.co/partnerships/astra/)\n\n> 🚧\n> \n> This resource requires the use of the secure endpoint.\n>\n> | Environment | Secure Endpoint                                   |\n> |-------------|---------------------------------------------------|\n> | Production  | https://secure.api.astra.finance/cards            |\n> | Sandbox     | https://secure.api-sandbox.astra.finance/v1/cards |\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"card_number":{"type":"string","description":"The card number the User"},"card_security_code":{"type":"string","description":"The card security code"},"expiration_date":{"type":"string","description":"The card expiration date"},"first_name":{"type":"string","description":"The card owner's first name"},"last_name":{"type":"string","description":"The card owner's last name"},"zip_code":{"type":"string","description":"The zip code associated with the card"},"added_by_user":{"type":"boolean","description":"Set to `false` for client-issued debit cards. Set to `true` for externally linked debit cards. Defaults to `false` if not provided"}},"required":["card_number","card_security_code","expiration_date","first_name","last_name","zip_code"]}}}},"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Unique card ID"},"card_company":{"type":"string","description":"Name of card company"},"expiration_date":{"type":"string","description":"Month/Year of card expiration"},"last_four_digits":{"type":"string","description":"Last 4 digits of the card number"}}}}}}}}},"/v1/cards/{id}":{"get":{"tags":["Cards"],"summary":"Get a Card by an ID","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint retrieves a specific Debit Card for a User based on the unique Card ID.\n","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","description":"The unique ID of the Card","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Unique card ID"},"card_company":{"type":"string","description":"Name of card company"},"expiration_date":{"type":"string","description":"Month/Year of card expiration"},"last_four_digits":{"type":"string","description":"Last 4 digits of the card number"}}}}}}}},"delete":{"tags":["Cards"],"summary":"Delete a Card","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint deletes a debit card by way of a card's unique ID. If the card is successfully deleted, you'll receive an HTTP 200 OK response.\n\n> 🚧\n> \n>  Astra will only delete cards that were added by the requesting OAuth Client. End-users can delete cards through the Web App.\n\n> ❗️\n> \n>  A card can only be deleted if there are no active routines or pending transfers associated with it.\n","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","description":"The unique ID of the Card","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response"}}}},"/v1/routines/preview":{"post":{"tags":["Routines"],"summary":"Routine Preview","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint returns a fee structure payload as a response, which provides a preview of what the fee structure will be upon submitting a routine with the same parameters.\n\n> 🚧\n> \n> This endpoint can only be used for previewing routines of a `debit` `payment_type`.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"The type of Routine","enum":["one-time","percentage-based","percentage-balance","recurring","refill","round-up","sweep","fifty-two-week"]},"name":{"type":"string","description":"The name given for the Routine"},"payment_type":{"type":"string","description":"The type of payment","enum":["debit"]},"source_id":{"type":"string","description":"The ID of the Source Account"},"destination_id":{"type":"string","description":"The ID of the Destination Account"},"amount":{"type":"number","format":"float","description":"The amount of the transfer (when explicitly defined like one-time)"},"start_date":{"type":"string","format":"date-time","description":"Optional. The date the Routine should start processing. If not supplied, the start_date will default to the current day (in the Pacific Timezone). Debit start dates cannot be in the future."},"customer_debit_fee_percent_override":{"type":"number","format":"float","description":"Optional parameter for applying a fee to a debit transfer through either an addition on the pull or a subtraction on the push. Contact your Astra admin to configure your clients to have this percentage fee be either additive or subtractive. For debit transfers only. Example amount: 1.25 = 1.25%"}},"required":["type","name","payment_type","source_id","destination_id","amount"]}}}},"security":[{"bearerAuth":[]}],"responses":{"201":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the Routine"},"astra_fee":{"type":"number","format":"float","description":"Astra's fee for the transfer"},"created":{"type":"string","format":"date-time","description":"Date and time of routine preview creation"},"customer_fee":{"type":"number","format":"float","description":"Customer fee for the transfer"},"destination":{"type":"string","description":"The ID of the Destination Account"},"estimated_settlement":{"type":"string","description":"Estimated settlement speed"},"payment_type":{"type":"string","description":"Type of payment","enum":["debit"]},"pull_amount":{"type":"number","format":"float","description":"Pull amount for the transfer"},"push_amount":{"type":"number","format":"float","description":"Push amount for the transfer"},"routine_type":{"type":"string","description":"The type of Routine","enum":["one-time","percentage-based","percentage-balance","recurring","refill","round-up","sweep","fifty-two-week"]},"source":{"type":"string","description":"The ID of the Source Account"}}}}}}}}},"/v1/routines":{"get":{"tags":["Routines"],"summary":"List Routines for a User","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nRetrieve all Routines for a User.\n","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of routines returned"},"routines":{"schema":null,"type":"array","items":{"schema":null,"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the Routine"},"type":{"type":"string","description":"The type of Routine","enum":["one-time","percentage-based","percentage-balance","recurring","refill","round-up","sweep","fifty-two-week"]},"name":{"type":"string","description":"The name given for the Routine"},"payment_type":{"type":"string","description":"The type of payment","enum":["ach","debit","ledger"]},"source_id":{"type":"string","description":"The ID of the Source Account"},"destination_id":{"type":"string","description":"The ID of the Destination Account"},"amount":{"type":"number","format":"float","description":"The amount of the transfer (when explicitly defined like one-time or recurring)"},"start_date":{"type":"string","format":"date-time","description":"The date the Routine should start processing."},"preferred_settlement_speed":{"type":"string","description":"The requested settlement speed for resulting transfers","enum":["T+1","T+2","T+4"]},"frequency":{"type":"string","description":"The frequency a repeating Routine should process","enum":["weekly","bi-weekly","monthly"]},"active":{"type":"boolean","description":"Whether the routine is active (True) or paused (False). Defaults to True."},"status":{"type":"string","description":"The Routine's status on the platform (see [Routine Statuses](ref:routine-statuses))"},"created":{"type":"string","format":"date-time","description":"The date the Routine was created"}}}}}}}}}}},"post":{"tags":["Routines"],"summary":"Create a new Routine","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint creates a new Routine for a User.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"The type of Routine","enum":["one-time","percentage-based","percentage-balance","recurring","refill","round-up","sweep","fifty-two-week"]},"name":{"type":"string","description":"The name given for the Routine"},"payment_type":{"type":"string","description":"The type of payment","enum":["ach","debit","ledger"]},"source_id":{"type":"string","description":"The ID of the Source Account"},"destination_id":{"type":"string","description":"The ID of the Destination Account"},"destination_user_id":{"type":"string","description":"The ID of the receiving User (when using a peer to peer transfer)"},"amount":{"type":"number","format":"float","description":"The amount of the transfer (when explicitly defined like one-time or recurring)"},"start_date":{"type":"string","format":"date-time","description":"Optional. The date the Routine should start processing. If not supplied"},"preferred_settlement_speed":{"type":"string","description":"The requested settlement speed for resulting transfers","enum":["T+1","T+2","T+4"]},"frequency":{"type":"string","description":"The frequency a repeating Routine should process","enum":["weekly","bi-weekly","monthly"]},"threshold":{"type":"number","format":"float","description":"The value for triggering threshold-based Routine (like sweep)"},"spending":{"type":"string","description":"The ID of the Spending Account (for the round-up Routine)"},"amount_start":{"type":"number","format":"float","description":"The starting amount for incrementing Routines (like 52-week)"},"amount_increment":{"type":"number","format":"float","description":"The amount to increment each time the Routine runs (like 52-week)"},"minimum_transaction_threshold":{"type":"number","format":"float","description":"The value for triggering a deposit-based Routine (like percentage-based)"},"percent_of_transaction":{"type":"number","format":"float","description":"The value for calculating the transfer amount when triggered (like percentage-based)"},"percent_of_balance":{"type":"number","format":"float","description":"The value for calculating the transfer amount when triggered (like percentage-balance)"},"client_correlation_id":{"type":"string","description":"An optional correlation id that will be added to ACH or Debit Addenda. This will also be included in the Transfer response."},"customer_debit_fee_percent_override":{"type":"number","format":"float","description":"Optional parameter for applying a fee to a debit transfer through either an addition on the pull or a subtraction on the push. Contact your Astra admin to configure your clients to have this percentage fee be either additive or subtractive. For debit transfers only. Example amount: 1.25 = 1.25%"}},"required":["type","name","source_id","destination_id","amount","payment_type"]}}}},"security":[{"bearerAuth":[]}],"responses":{"201":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the Routine"},"type":{"type":"string","description":"The type of Routine","enum":["one-time","percentage-based","percentage-balance","recurring","refill","round-up","sweep","fifty-two-week"]},"name":{"type":"string","description":"The name given for the Routine"},"payment_type":{"type":"string","description":"The type of payment","enum":["ach","debit","ledger"]},"source_id":{"type":"string","description":"The ID of the Source Account"},"destination_id":{"type":"string","description":"The ID of the Destination Account"},"amount":{"type":"number","format":"float","description":"The amount of the transfer (when explicitly defined like one-time or recurring)"},"start_date":{"type":"string","format":"date-time","description":"The date the Routine should start processing."},"preferred_settlement_speed":{"type":"string","description":"The requested settlement speed for resulting transfers","enum":["T+1","T+2","T+4"]},"frequency":{"type":"string","description":"The frequency a repeating Routine should process","enum":["weekly","bi-weekly","monthly"]},"active":{"type":"boolean","description":"Whether the routine is active (True) or paused (False). Defaults to True."},"status":{"type":"string","description":"The Routine's status on the platform (see [Routine Statuses](ref:routine-statuses))"},"created":{"type":"string","format":"date-time","description":"The date the Routine was created"}}}}}}}}},"/v1/routines/{id}":{"get":{"tags":["Routines"],"summary":"Get a Specific Routine for a User","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint retrieves a specific Routine for a User based on the Routine ID.        \n","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","description":"The unique ID of Routine","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the Routine"},"type":{"type":"string","description":"The type of Routine","enum":["one-time","percentage-based","percentage-balance","recurring","refill","round-up","sweep","fifty-two-week"]},"name":{"type":"string","description":"The name given for the Routine"},"payment_type":{"type":"string","description":"The type of payment","enum":["ach","debit","ledger"]},"source_id":{"type":"string","description":"The ID of the Source Account"},"destination_id":{"type":"string","description":"The ID of the Destination Account"},"amount":{"type":"number","format":"float","description":"The amount of the transfer (when explicitly defined like one-time or recurring)"},"start_date":{"type":"string","format":"date-time","description":"The date the Routine should start processing."},"preferred_settlement_speed":{"type":"string","description":"The requested settlement speed for resulting transfers","enum":["T+1","T+2","T+4"]},"frequency":{"type":"string","description":"The frequency a repeating Routine should process","enum":["weekly","bi-weekly","monthly"]},"active":{"type":"boolean","description":"Whether the routine is active (True) or paused (False). Defaults to True."},"status":{"type":"string","description":"The Routine's status on the platform (see [Routine Statuses](ref:routine-statuses))"},"created":{"type":"string","format":"date-time","description":"The date the Routine was created"}}}}}}}},"put":{"tags":["Routines"],"summary":"Update an Existing Routine","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint updates an existing Routine for a User.\n\n> 🚧\n> \n> Routine types may not be changed. Any of the non-required parameters below may be updated with this endpoint, provided they are included in the model for that Routine type.        \n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name given for the Routine"},"payment_type":{"type":"string","description":"The type of Payment","enum":["ach","debit","ledger"]},"active":{"type":"boolean","description":"Whether the routine is active (True) or paused (False). Defaults to True."},"source_id":{"type":"string","description":"The ID of the Source Account"},"destination_id":{"type":"string","description":"The ID of the Destination Account"},"amount":{"type":"number","format":"float","description":"The amount of the transfer (when explicitly defined like one-time or recurring)"},"start_date":{"type":"string","format":"date-time","description":"The date the Routine should start processing (timezone is \"America/Los_Angeles\")"},"preferred_settlement_speed":{"type":"string","description":"The requested settlement speed for resulting transfers","enum":["T+1","T+2","T+4"]},"frequency":{"type":"string","description":"The frequency a repeating Routine should process","enum":["weekly","bi-weekly","monthly"]},"client_correlation_id":{"type":"string","description":"An optional correlation id that will be added to ACH Addenda. This will also be included in the Transfer response."},"threshold":{"type":"number","format":"float","description":"The value for triggering threshold-based Routine (like sweep)"},"spending":{"type":"string","description":"The ID of the Spending Account (for the round-up Routine)"},"amount_start":{"type":"number","format":"float","description":"The starting amount for incrementing Routines (like 52-week)"},"amount_increment":{"type":"number","format":"float","description":"The starting amount for incrementing Routines (like 52-week)"},"minimum_transaction_threshold":{"type":"number","format":"float","description":"The value for triggering a deposit-based Routine (like percentage-based)"},"percent_of_transaction":{"type":"number","format":"float","description":"The value for caclulating the transfer amount when using a percent (like percentage-based)"},"percent_of_balance":{"type":"number","format":"float","description":"The value for calculating the transfer amount when triggered (like percentage-balance)"}}}}}},"security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"The unique ID of Routine"}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the Routine"},"type":{"type":"string","description":"The type of Routine","enum":["one-time","percentage-based","percentage-balance","recurring","refill","round-up","sweep","fifty-two-week"]},"name":{"type":"string","description":"The name given for the Routine"},"payment_type":{"type":"string","description":"The type of Payment","enum":["ach","debit","ledger"]},"active":{"type":"boolean","description":"Whether the routine is active (True) or paused (False). Defaults to True."},"source_id":{"type":"string","description":"The ID of the Source Account"},"destination_id":{"type":"string","description":"The ID of the Destination Account"},"amount":{"type":"number","format":"float","description":"The amount of the transfer (when explicitly defined like one-time or recurring)"},"start_date":{"type":"string","format":"date-time","description":"The date the Routine should start processing (timezone is \"America/Los_Angeles\")"},"preferred_settlement_speed":{"type":"string","description":"The requested settlement speed for resulting transfers","enum":["T+1","T+2","T+4"]},"frequency":{"type":"string","description":"The frequency a repeating Routine should process","enum":["weekly","bi-weekly","monthly"]},"client_correlation_id":{"type":"string","description":"An optional correlation id that will be added to ACH Addenda. This will also be included in the Transfer response."},"threshold":{"type":"number","format":"float","description":"The value for triggering threshold-based Routine (like sweep)"},"spending":{"type":"string","description":"The ID of the Spending Account (for the round-up Routine)"},"amount_start":{"type":"number","format":"float","description":"The starting amount for incrementing Routines (like 52-week)"},"amount_increment":{"type":"number","format":"float","description":"The starting amount for incrementing Routines (like 52-week)"},"minimum_transaction_threshold":{"type":"number","format":"float","description":"The value for triggering a deposit-based Routine (like percentage-based)"},"percent_of_transaction":{"type":"number","format":"float","description":"The value for caclulating the transfer amount when using a percent (like percentage-based)"},"percent_of_balance":{"type":"number","format":"float","description":"The value for calculating the transfer amount when triggered (like percentage-balance)"}}}}}}}},"delete":{"tags":["Routines"],"summary":"Delete a Routine for a User","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint removes a specific Routine for a User based on the Routine ID. The Response will only include a Response Code.\n","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","description":"The unique ID of Routine","schema":{"type":"string"},"required":true}],"responses":{"204":{"description":"Successful response"}}}},"/v1/transfers":{"get":{"tags":["Transfers"],"summary":"List Transfers for a User","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nRetrieve all Transfers for a User.\n","security":[{"bearerAuth":[]}],"parameters":[{"name":"status","in":"query","description":"The status of the Transfer (pending, cancelled, processed, failed)","schema":{"type":"string"},"required":false},{"name":"source_id","in":"query","description":"The ID of the source account","schema":{"type":"string"},"required":false}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of transfers returned"},"transfers":{"type":"array","items":{"schema":null,"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the transfer"},"routine_type":{"type":"string","description":"The type of routine associated with the transfer","enum":["one-time","percentage-based","percentage-balance","recurring","refill","round-up","sweep","fifty-two-week"]},"routine_name":{"type":"string","description":"The name of the routine associated with the transfer"},"routine_id":{"type":"string","description":"The unique ID of the routine associated with the transfer"},"client_correlation_id":{"type":"string","description":"An optional correlation id that will be added to ACH or Debit Addenda. This will also be included in the Transfer response."},"source_id":{"type":"string","description":"The ID of the Source Account"},"destination_id":{"type":"string","description":"The ID of the Destination Account"},"amount":{"type":"number","format":"float","description":"The amount of the transfer (when explicitly defined like one-time or recurring)"},"payment_type":{"type":"string","description":"The type of payment","enum":["ach","debit","ledger"]},"initiated":{"type":"string","format":"date-time","description":"The date and time the transfer was initiated"},"updated":{"type":"string","format":"date-time","description":"The date and time the transfer was updated"},"estimated_clearing_date":{"type":"string","format":"date-time","description":"The estimated date and time the transfer will clear"},"status":{"type":"string","description":"The status of the Transfer","enum":["pending","processed","cancelled","failed"]}}}}}}}}}}}},"/v1/transfers/{id}":{"get":{"tags":["Transfers"],"summary":"Get a Specific Transfer for a User","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nThis endpoint retrieves a specific Transfer for a User based on the Transfer ID.    \n","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","description":"The transfer ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the transfer"},"routine_type":{"type":"string","description":"The type of routine associated with the transfer","enum":["one-time","percentage-based","percentage-balance","recurring","refill","round-up","sweep","fifty-two-week"]},"routine_name":{"type":"string","description":"The name of the routine associated with the transfer"},"routine_id":{"type":"string","description":"The unique ID of the routine associated with the transfer"},"client_correlation_id":{"type":"string","description":"An optional correlation id that will be added to ACH or Debit Addenda. This will also be included in the Transfer response."},"source_id":{"type":"string","description":"The ID of the Source Account"},"destination_id":{"type":"string","description":"The ID of the Destination Account"},"amount":{"type":"number","format":"float","description":"The amount of the transfer (when explicitly defined like one-time or recurring)"},"payment_type":{"type":"string","description":"The type of payment","enum":["ach","debit","ledger"]},"initiated":{"type":"string","format":"date-time","description":"The date and time the transfer was initiated"},"updated":{"type":"string","format":"date-time","description":"The date and time the transfer was updated"},"estimated_clearing_date":{"type":"string","format":"date-time","description":"The estimated date and time the transfer will clear"},"status":{"type":"string","description":"The status of the Transfer","enum":["pending","processed","cancelled","failed"]}}}}}}}}},"/v1/transfers/{id}/cancel":{"post":{"tags":["Transfers"],"summary":"Cancel Transfer","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nCancel a transfer for a user. To cancel a transfer, you must provide the ID of the transfer in the Endpoint URL. When a transfer is successfully canceled, Astra will return a successful response (HTTP 200) and the status of the transfer in the Transfer table will update to `canceled``.\n\n> 🚧\n> \n>  Transfers can only be canceled if the request is made before the 5p ET / 2p PT cutoff on the first banking day after the Transfer was initiated, as defined by ACH regulations. Transfers cannot be canceled after that cutoff.\n","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","description":"The ID of the Transfer to cancel","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the transfer"},"routine_type":{"type":"string","description":"The type of routine associated with the transfer","enum":["one-time","percentage-based","percentage-balance","recurring","refill","round-up","sweep","fifty-two-week"]},"routine_name":{"type":"string","description":"The name of the routine associated with the transfer"},"routine_id":{"type":"string","description":"The unique ID of the routine associated with the transfer"},"client_correlation_id":{"type":"string","description":"An optional correlation id that will be added to ACH or Debit Addenda. This will also be included in the Transfer response."},"source_id":{"type":"string","description":"The ID of the Source Account"},"destination_id":{"type":"string","description":"The ID of the Destination Account"},"amount":{"type":"number","format":"float","description":"The amount of the transfer (when explicitly defined like one-time or recurring)"},"payment_type":{"type":"string","description":"The type of payment","enum":["ach","debit","ledger"]},"initiated":{"type":"string","format":"date-time","description":"The date and time the transfer was initiated"},"updated":{"type":"string","format":"date-time","description":"The date and time the transfer was updated"},"estimated_clearing_date":{"type":"string","format":"date-time","description":"The estimated date and time the transfer will clear"},"status":{"type":"string","description":"The status of the Transfer","enum":["cancelled"]}}}}}}}}},"/v1/transactions":{"get":{"tags":["Transactions"],"summary":"List Transactions for a User","description":"> 📘\n> \n> You can place the bearer `access_token` for a specific user into the Authentication section of this documentation 👉.\n\nRetrieve all Transactions for a User.\n","security":[{"bearerAuth":[]}],"parameters":[{"name":"date_start","in":"query","description":"The earliest date for which data should be returned. Dates should be formatted as YYYY-MM-DD.","schema":{"type":"string","format":"date","pattern":"^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$"},"required":true},{"name":"date_end","in":"query","description":"The latest date for which data should be returned. Dates should be formatted as YYYY-MM-DD.","schema":{"type":"string","format":"date","pattern":"^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$"},"required":true},{"name":"cursor","in":"query","description":"Include the cursor returned from the previous response to retrieve the next set of Transactions. The `more` field in the response will be `true` if more Transactions are available to pull.","schema":{"type":"string"},"required":false},{"name":"batch_size","in":"query","description":"The number of Transactions to be returned. The default is `50`.","schema":{"type":"integer"},"required":false},{"name":"account_id","in":"query","description":"Filter transactions by Account ID.","schema":{"type":"string"},"required":false}],"responses":{"200":{"description":"Successful response","headers":{"request-id":{"$ref":"#/components/headers/request-id"}},"content":{"application/json":{"schema":{"type":"object","properties":{"cursor":{"type":"string","description":"Include the cursor returned from the previous response to retrieve the next set of Transactions. The `more` field in the response will be `true` if more Transactions are available to pull."},"more":{"type":"boolean","description":"Indicates whether or not there are more transactions available to pull"},"transactions":{"type":"array","items":{"schema":null,"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the Transaction"},"name":{"type":"string","description":"The name of the Transaction"},"account_id":{"type":"string","description":"The unique ID of Account"},"amount":{"type":"number","format":"float","description":"The amount associated with the Transaction"},"category":{"type":"string","description":"The Transaction category"},"date":{"type":"string","format":"date","pattern":"^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$","description":"The date of the Transaction"},"pending":{"type":"boolean","description":"Whether or not the Transaction is currently pending"}}}}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true,"samples-enabled":true}}