{"openapi":"3.0.1","info":{"title":"Enterprise public test API","version":"v2"},"servers":[{"url":"https://api.somethingelse.com"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"organizations","description":"Organizations API [Enterprise integration features]"},{"name":"Data Classification: Organization level","description":"Data classification API for managing organization settings"},{"name":"Data Classification: Team level","description":"Data classification API for managing team settings and bulk updates"},{"name":"Data Classification: Board level","description":"Data classification API for individual boards."}],"paths":{"/v2/orgs/{org_id}/teams/{team_id}/members":{"get":{"tags":["Team members api"],"summary":"List cheese team members","description":"Retrieves team members by cursor.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:read</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"getMembers","parameters":[{"name":"limit","in":"query","description":"Limit of team members in result list","schema":{"type":"integer","format":"int32"},"example":100},{"name":"cursor","in":"query","description":"Team member id that will be used to find team member next to this id in the sorted list","schema":{"type":"string"},"example":3055557345821140500},{"name":"filterQuery","in":"query","description":"Filtering query","schema":{"type":"string"},"example":"role=\"member\""},{"name":"org_id","in":"path","description":"The id of an Organization.","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"team_id","in":"path","description":"The id of a Team.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"responses":{"200":{"description":"Team member object","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeamMember"}}}}}}},"post":{"tags":["Team members api"],"summary":"Invite team membersssssss","description":"Invites a new member to an existing team.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:write</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"inviteMember","parameters":[{"name":"org_id","in":"path","description":"The id of an Organization.","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"team_id","in":"path","description":"The id of a Team.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMemberInvite"}}},"required":true},"responses":{"200":{"description":"Invitation result object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationResult"}}}}}}},"/v2/orgs/{org_id}/teams/{team_id}/boards/{board_id}/data-classification":{"get":{"tags":["Data Classification: Board level"],"summary":"Get board classification","description":"Retrieves data classification for a board.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">boards:read</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"enterprise-dataclassification-board-get","parameters":[{"name":"org_id","in":"path","description":"id of the organization","required":true,"schema":{"type":"string"},"example":3074457345821141000},{"name":"team_id","in":"path","description":"id of the team","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"board_id","in":"path","description":"Unique identifier of the board that you want to retrieve.","required":true,"schema":{"type":"string"},"example":"o9J_kzlUDmo="}],"responses":{"200":{"description":"Board data classification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardDataClassificationLabel"}}}},"400":{"description":"Arguments are not valid"},"401":{"description":"Authorization failure"},"403":{"description":"Illegal access"},"404":{"description":"Resource not found"}}},"post":{"tags":["Data Classification: Board level"],"summary":"Update board classification","description":"Updates data classification for an existing board.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">boards:write</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"enterprise-dataclassification-board-set","parameters":[{"name":"org_id","in":"path","description":"id of the organization","required":true,"schema":{"type":"string"},"example":3074457345821141000},{"name":"team_id","in":"path","description":"id of the team","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"board_id","in":"path","description":"Unique identifier of the board that you want to update.","required":true,"schema":{"type":"string"},"example":"o9J_kzlUDmo="}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataClassificationLabelId"}}},"required":true},"responses":{"200":{"description":"Board data classification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardDataClassificationLabel"}}}},"400":{"description":"Arguments are not valid"},"401":{"description":"Authorization failure"},"403":{"description":"Illegal access"},"404":{"description":"Resource not found"}}}},"/v2/orgs/{org_id}/teams":{"get":{"tags":["Teams api"],"summary":"List teams","description":"Retrieves list of teams in an existing organization.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:read</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 1</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"getTeams","parameters":[{"name":"limit","in":"query","description":"Limit of teams in result list","schema":{"type":"integer","format":"int32"},"example":100},{"name":"cursor","in":"query","description":"Team id that will be used to find team next to this id in the sorted list","schema":{"type":"string"},"example":3055557345821140500},{"name":"filterQuery","in":"query","description":"Filtering query","schema":{"type":"string"},"example":"name=\"My team\""},{"name":"org_id","in":"path","description":"The id of an Organization.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"responses":{"200":{"description":"Team object","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Team"}}}}}}},"post":{"tags":["Teams api"],"summary":"Create team","description":"Creates a new team in an existing organization.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:write</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 1</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"createTeam","parameters":[{"name":"org_id","in":"path","description":"The id of an Organization.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTeamRequest"}}},"required":true},"responses":{"200":{"description":"Team object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Team"}}}}}}},"/v2/teams_settings/{team_id}":{"get":{"tags":["Team settings api"],"summary":"Get team settings","description":"Retrieves team settings of an existing team.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:read</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 1</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"getTeamSettings","parameters":[{"name":"team_id","in":"path","description":"The id of a Team.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"responses":{"200":{"description":"Team settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamSettings"}}}}}},"patch":{"tags":["Team settings api"],"summary":"Update team settings","description":"Updates team settings of an existing team.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:write</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"updateTeamSettings","parameters":[{"name":"team_id","in":"path","description":"The id of a Team.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamSettingsChanges"}}},"required":true},"responses":{"200":{"description":"Team settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamSettings"}}}}}}},"/v2/orgs/{org_id}/teams/{team_id}/members/{member_id}":{"get":{"tags":["Team members api"],"summary":"Get team member","description":"Retrieves team member by id.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:read</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 1</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"getMember","parameters":[{"name":"org_id","in":"path","description":"The id of an Organization.","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"team_id","in":"path","description":"The id of a Team.","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"member_id","in":"path","description":"The id of a Team member.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"responses":{"200":{"description":"Team member object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMember"}}}}}},"delete":{"tags":["Team members api"],"summary":"Delete team member from team","description":"Deletes team member from team by id.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:write</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 1</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"deleteMember","parameters":[{"name":"org_id","in":"path","description":"The id of an Organization.","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"team_id","in":"path","description":"The id of a Team.","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"member_id","in":"path","description":"The id of a Team member.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"responses":{"204":{"description":"Deleted successfully","content":{"application/json":{"schema":{"type":"object"}}}}}},"patch":{"tags":["Team members api"],"summary":"Update team member","description":"Updates team member role in team by id.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:write</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"updateMember","parameters":[{"name":"org_id","in":"path","description":"The id of an Organization.","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"team_id","in":"path","description":"The id of a Team.","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"member_id","in":"path","description":"The id of a Team member.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMemberChanges"}}},"required":true},"responses":{"200":{"description":"Team member object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMember"}}}}}}},"/v2/orgs/{org_id}/teams/{team_id}/data-classification-settings":{"get":{"tags":["Data Classification: Team level"],"summary":"Get team settings","description":"Retrieves data classification settings for an existing team.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:read</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"enterprise-dataclassification-team-settings-get","parameters":[{"name":"org_id","in":"path","description":"id of the organization","required":true,"schema":{"type":"string"},"example":3074457345821141000},{"name":"team_id","in":"path","description":"id of the team","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"responses":{"200":{"description":"Team data classification settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataClassificationTeamSettings"}}}},"400":{"description":"Arguments are not valid"},"401":{"description":"Authorization failure"},"403":{"description":"Illegal access"},"404":{"description":"Resource not found"}}},"patch":{"tags":["Data Classification: Team level"],"summary":"Update team settings","description":"Updates data classification settings for an existing team.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:write</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"enterprise-dataclassification-team-settings-set","parameters":[{"name":"org_id","in":"path","description":"id of the organization","required":true,"schema":{"type":"string"},"example":3074457345821141000},{"name":"team_id","in":"path","description":"id of the team","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTeamSettingsRequest"}}},"required":true},"responses":{"200":{"description":"Team data classification settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataClassificationTeamSettings"}}}},"400":{"description":"Arguments are not valid"},"401":{"description":"Authorization failure"},"403":{"description":"Illegal access"},"404":{"description":"Resource not found"}}}},"/v2/orgs/{org_id}/teams/{team_id}/data-classification":{"patch":{"tags":["Data Classification: Team level"],"summary":"Bulk update boards classification","description":"Updates data classification for not-classified only or all boards in an existing team.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">boards:write</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 4</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"enterprise-dataclassification-team-boards-bulk","parameters":[{"name":"org_id","in":"path","description":"id of the organization","required":true,"schema":{"type":"string"},"example":3074457345821141000},{"name":"team_id","in":"path","description":"id of the team","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBoardsDataClassificationLabelRequest"}}},"required":true},"responses":{"200":{"description":"Number of updated boards","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBoardsDataClassificationLabel"}}}},"400":{"description":"Arguments are not valid"},"401":{"description":"Authorization failure"},"403":{"description":"Illegal access"},"404":{"description":"Resource not found"}}}},"/v2/orgs/{org_id}/teams/{team_id}":{"get":{"tags":["Teams api"],"summary":"Get team","description":"Retrieves team information for an existing team.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:read</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 1</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"getTeam","parameters":[{"name":"org_id","in":"path","description":"The id of an Organization.","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"team_id","in":"path","description":"The id of a Team.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"responses":{"200":{"description":"Team object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Team"}}}}}},"delete":{"tags":["Teams api"],"summary":"Delete team","description":"Deletes an existing team.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:write</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 4</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"deleteTeam","parameters":[{"name":"org_id","in":"path","description":"The id of an Organization.","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"team_id","in":"path","description":"The id of a Team.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"responses":{"204":{"description":"Deleted successfully","content":{"application/json":{"schema":{"type":"object"}}}}}},"patch":{"tags":["Teams api"],"summary":"Update team","description":"Updates an existing team.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:write</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 1</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"updateTeam","parameters":[{"name":"org_id","in":"path","description":"The id of an Organization.","required":true,"schema":{"type":"string"},"example":3074457345618265000},{"name":"team_id","in":"path","description":"The id of a Team.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamChanges"}}},"required":true},"responses":{"200":{"description":"Team object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Team"}}}}}}},"/v2/orgs/{org_id}/members/{member_id}":{"get":{"tags":["organizations"],"summary":"Get organization member","description":"Retrieves organization member information for an existing organization.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:read</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 3</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"getOrganizationMember","parameters":[{"name":"org_id","in":"path","description":"id of the organization","required":true,"schema":{"type":"string"},"example":3074457345821141000},{"name":"member_id","in":"path","description":"id of the organization member","required":true,"schema":{"type":"string"},"example":3055557345821141000}],"responses":{"200":{"description":"Organization member found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMember"}}}}}}},"/v2/orgs/{org_id}/members":{"get":{"tags":["organizations"],"summary":"Get organization members by cursor","description":"Retrieves organization members by provided organization id and by emails.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:read</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 3</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"getOrganizationMembersByCursor_1","parameters":[{"name":"org_id","in":"path","description":"id of the organization","required":true,"schema":{"type":"string"},"example":3074457345821141000},{"name":"query","in":"query","description":"query to be used for organization members retrieval","required":true,"schema":{"$ref":"#/components/schemas/OrganizationMembersCursorQuery"}}],"responses":{"200":{"description":"Organization members queries successfully","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/OrganizationMembersSearchByEmailsResponse"},{"$ref":"#/components/schemas/OrganizationMembersSearchResponse"}]}}}}}}},"/v2/orgs/{org_id}":{"get":{"tags":["organizations"],"summary":"Get organization info","description":"Retrieves organization information.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:read</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 3</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"getOrganization","parameters":[{"name":"org_id","in":"path","description":"id of the organization","required":true,"schema":{"type":"string"},"example":3074457345821141000}],"responses":{"200":{"description":"Organization found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}}}}}},"/v2/orgs/{org_id}/default_teams_settings":{"get":{"tags":["Team settings api"],"summary":"Get default team settings","description":"Retrieves default team settings of an existing organization.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:teams:read</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 1</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"getDefaultTeamSettings","parameters":[{"name":"org_id","in":"path","description":"The id of an Organization.","required":true,"schema":{"type":"string"},"example":3074457345618265000}],"responses":{"200":{"description":"Team settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamSettings"}}}}}}},"/v2/orgs/{org_id}/data-classification-settings":{"get":{"tags":["Data Classification: Organization level"],"summary":"Get organization settings","description":"Retrieves data classification settings for an existing organization.<br/><h3>Required scope</h3> <a target=\"blank\" href=\"/reference/scopes\">organizations:read</a> <br/><h3>Rate limiting</h3> <a target=\"blank\" href=\"/reference/ratelimiting\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=\"blank\" href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users.</p>","operationId":"enterprise-dataclassification-organization-settings-get","parameters":[{"name":"org_id","in":"path","description":"id of the organization","required":true,"schema":{"type":"string"},"example":3074457345821141000}],"responses":{"200":{"description":"Organization data classification settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataClassificationOrganizationSettings"}}}},"400":{"description":"Arguments are not valid"},"401":{"description":"Authorization failure"},"403":{"description":"Illegal access"},"404":{"description":"Resource not found"}}}}},"components":{"schemas":{"InvitationError":{"type":"object","properties":{"memberEmail":{"type":"string"},"reason":{"type":"object","properties":{"stackTrace":{"type":"array","items":{"type":"object","properties":{"classLoaderName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"methodName":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"className":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"message":{"type":"string"},"suppressed":{"type":"array","items":{"type":"object","properties":{"stackTrace":{"type":"array","items":{"type":"object","properties":{"classLoaderName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"methodName":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"className":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"message":{"type":"string"},"localizedMessage":{"type":"string"}}}},"localizedMessage":{"type":"string"}}}}},"InvitationResult":{"type":"object","properties":{"successful":{"type":"array","items":{"$ref":"#/components/schemas/UserId"}},"failed":{"type":"array","items":{"$ref":"#/components/schemas/InvitationError"}}}},"UserId":{"type":"object","properties":{"value":{"type":"integer","format":"int64"}}},"TeamMemberInvite":{"type":"object","properties":{"userEmail":{"type":"string","description":"User email to add to a team","example":"user@miro.com"}}},"DataClassificationLabelId":{"type":"object","properties":{"labelId":{"type":"string","description":"Data classification label id","example":"3000457366756290996"}}},"BoardDataClassificationLabel":{"type":"object","properties":{"id":{"type":"string","description":"Label id","example":"3000457366756290996"},"color":{"type":"string","description":"Label color","example":"blue"},"description":{"type":"string","description":"Label description","example":"Board could not be shared publicly"},"name":{"type":"string","description":"Label name","example":"internal"}}},"Picture":{"type":"object","properties":{"id":{"type":"integer","description":"Id of the picture","format":"int64","example":3074457345618261500},"imageURL":{"type":"string","description":"Url of the picture","example":"https://miro.images/5252525252/125252/266/144/1/size210.jpg"},"originalUrl":{"type":"string","description":"Original team picture url for icon generation","example":"https://miro.com/original-image.jpg"},"type":{"type":"string"}},"description":"Team picture"},"Team":{"type":"object","properties":{"id":{"type":"integer","description":"Team id","format":"int64","example":3074457345618265000},"name":{"type":"string","description":"Team name","example":"Dev Team"},"picture":{"$ref":"#/components/schemas/Picture"},"type":{"type":"string"}}},"CreatePictureRequest":{"type":"object","properties":{"originalUrl":{"type":"string","description":"Original team picture url for icon generation. Note: picture update is not supported yet.","example":"https://miro.com/original-image.jpg"}},"description":"Team picture"},"CreateTeamRequest":{"type":"object","properties":{"name":{"type":"string","description":"Team name","example":"Dev Team"},"picture":{"$ref":"#/components/schemas/CreatePictureRequest"}}},"TeamAccountDiscoverySettings":{"type":"object","properties":{"accountDiscovery":{"type":"string","description":"\n* \"hidden\":  Only invited users can see and access the team.\n* \"request\": Members of organization can find and request to join with admin approval.\n* \"join\":    Members of organization can find and join.\n","enum":["hidden","request","join"]}},"description":"Team account discovery settings"},"TeamCollaborationSettings":{"type":"object","properties":{"coOwnerRoleEnabled":{"type":"boolean","description":"Enable Co-owner role on boards and projects"}},"description":"Team collaboration settings"},"TeamCopyAccessLevelSettings":{"type":"object","properties":{"copyAccessLevel":{"type":"string","description":"\n* \"anyone\":       Anyone with the board access can copy board content on newly created boards.\n* \"team_members\": Team members can copy board content on newly created boards.\n* \"team_editors\": Team members with editing rights can copy board content on newly created boards.\n* \"board_owner\":  Board owners only can copy board content on newly created boards.\n","enum":["anyone","team_members","team_editors","board_owner"]},"copyAccessLevelLimitation":{"type":"string","description":"\n* \"anyone\":       Team members and users outside team can be given permission to copy board content.\n* \"team_members\": Only team members can be given permission to copy board content.\n","enum":["anyone","team_members"]}},"description":"Team copy access settings"},"TeamInvitationSettings":{"type":"object","properties":{"whoCanInvite":{"type":"string","description":"\n* \"only_org_admins\": Company admins only can invite\n* \"admins\":          Company admins and team admins can invite\n* \"all_members\":     All team members can invite\n","enum":["only_org_admins","admins","all_members"]},"inviteExternalUsersEnabled":{"type":"boolean","description":"If allow non-team collaborators for team"}},"description":"Team invitation settings"},"TeamSettings":{"type":"object","properties":{"teamInvitationSettings":{"$ref":"#/components/schemas/TeamInvitationSettings"},"teamCollaborationSettings":{"$ref":"#/components/schemas/TeamCollaborationSettings"},"teamCopyAccessLevelSettings":{"$ref":"#/components/schemas/TeamCopyAccessLevelSettings"},"teamSharingPolicySettings":{"$ref":"#/components/schemas/TeamSharingPolicySettings"},"teamAccountDiscoverySettings":{"$ref":"#/components/schemas/TeamAccountDiscoverySettings"},"teamId":{"type":"integer","description":"Team id","format":"int64","example":3074457345618265000},"organizationId":{"type":"integer","description":"Organization id","format":"int64","example":3074457345618265000},"type":{"type":"string"}}},"TeamSharingPolicySettings":{"type":"object","properties":{"defaultBoardAccess":{"type":"string","description":"\n* \"private\": Only board owners can access\n* \"view\":    Anyone in the team can view\n* \"comment\": Anyone in the team can comment\n* \"edit\":    Anyone in the team can edit\n* \"coown\":   Unavailable policy, needed for dynamic calculation\n","enum":["private","view","comment","edit","coown"]},"defaultProjectAccess":{"type":"string","description":"\n* \"private\": Only board owners can access\n* \"view\":    Anyone in the team can view\n* \"comment\": Anyone in the team can comment\n* \"edit\":    Anyone in the team can edit\n* \"coown\":   Unavailable policy, needed for dynamic calculation\n","enum":["private","view","comment","edit","coown"]},"defaultOrganizationAccess":{"type":"string","description":"\n* \"private\": Only board owners can access\n* \"view\":    Anyone in the team can view\n* \"comment\": Anyone in the team can comment\n* \"edit\":    Anyone in the team can edit\n* \"coown\":   Unavailable policy, needed for dynamic calculation\n","enum":["private","view","comment","edit","coown"]},"whiteListDomainsEnabled":{"type":"boolean","description":"Enable whitelist domains"},"sharingWithExternalUsersEnabled":{"type":"boolean","description":"Allow sharing with external users"},"sharingOnAccountEnabled":{"type":"boolean","description":"Enable sharing on team"},"whiteListedDomains":{"type":"array","description":"Whitelisted domains","items":{"type":"string","description":"Whitelisted domains"}},"sharingViaPublicLinkEnabled":{"type":"boolean","description":"Enable sharing via public link"},"editingViaPublicLinkEnabled":{"type":"boolean","description":"Enable editing via public link"},"moveBoardToAccountEnabled":{"type":"boolean","description":"Enable move board to team"},"sharingOnOrganizationEnabled":{"type":"boolean","description":"Enable sharing on organization"},"editingOnOrganizationEnabled":{"type":"boolean","description":"Enable editing on organization"},"createAssetAccessLevel":{"type":"string","description":"Set who can create assets in a team","enum":["COMPANY_ADMINS","ADMINS","ALL_MEMBERS"]}},"description":"Team sharing policy settings"},"TeamAccountDiscoverySettingsChanges":{"type":"object","properties":{"accountDiscovery":{"type":"string","description":"\n* \"hidden\":  Only invited users can see and access the team.\n* \"request\": Members of organization can find and request to join with admin approval.\n* \"join\":    Members of organization can find and join.\n","enum":["hidden","request","join"]}},"description":"Team account discovery settings"},"TeamCollaborationSettingsChanges":{"type":"object","properties":{"coOwnerRoleEnabled":{"type":"boolean","description":"Enable Co-owner role on boards and projects"}},"description":"Team collaboration settings"},"TeamCopyAccessLevelSettingsChanges":{"type":"object","properties":{"copyAccessLevel":{"type":"string","description":"\n* \"anyone\":       Anyone with the board access can copy board content on newly created boards.\n* \"team_members\": Team members can copy board content on newly created boards.\n* \"team_editors\": Team members with editing rights can copy board content on newly created boards.\n* \"board_owner\":  Board owners only can copy board content on newly created boards.\n","enum":["anyone","team_members","team_editors","board_owner"]},"copyAccessLevelLimitation":{"type":"string","description":"\n* \"anyone\":       Team members and users outside team can be given permission to copy board content.\n* \"team_members\": Only team members can be given permission to copy board content.\n","enum":["anyone","team_members"]}},"description":"Team copy access settings"},"TeamInvitationSettingsChanges":{"type":"object","properties":{"whoCanInvite":{"type":"string","description":"\n* \"only_org_admins\": Company admins only can invite\n* \"admins\":          Company admins and team admins can invite\n* \"all_members\":     All team members can invite\n","enum":["only_org_admins","admins","all_members"]},"inviteExternalUsersEnabled":{"type":"boolean","description":"If allow non-team collaborators for team"}},"description":"Team invitation settings"},"TeamSettingsChanges":{"type":"object","properties":{"teamInvitationSettings":{"$ref":"#/components/schemas/TeamInvitationSettingsChanges"},"teamCollaborationSettings":{"$ref":"#/components/schemas/TeamCollaborationSettingsChanges"},"teamCopyAccessLevelSettings":{"$ref":"#/components/schemas/TeamCopyAccessLevelSettingsChanges"},"teamSharingPolicySettings":{"$ref":"#/components/schemas/TeamSharingPolicySettingsChanges"},"teamAccountDiscoverySettings":{"$ref":"#/components/schemas/TeamAccountDiscoverySettingsChanges"}}},"TeamSharingPolicySettingsChanges":{"type":"object","properties":{"defaultBoardAccess":{"type":"string","description":"\n* \"private\": Only board owners can access\n* \"view\":    Anyone in the team can view\n* \"comment\": Anyone in the team can comment\n* \"edit\":    Anyone in the team can edit\n* \"coown\":   Unavailable policy, needed for dynamic calculation\n","enum":["private","view","comment","edit","coown"]},"defaultProjectAccess":{"type":"string","description":"\n* \"private\": Only board owners can access\n* \"view\":    Anyone in the team can view\n* \"comment\": Anyone in the team can comment\n* \"edit\":    Anyone in the team can edit\n* \"coown\":   Unavailable policy, needed for dynamic calculation\n","enum":["private","view","comment","edit","coown"]},"defaultOrganizationAccess":{"type":"string","description":"\n* \"private\": Only board owners can access\n* \"view\":    Anyone in the team can view\n* \"comment\": Anyone in the team can comment\n* \"edit\":    Anyone in the team can edit\n* \"coown\":   Unavailable policy, needed for dynamic calculation\n","enum":["private","view","comment","edit","coown"]},"whiteListDomainsEnabled":{"type":"boolean","description":"Enable whitelist domains"},"sharingWithExternalUsersEnabled":{"type":"boolean","description":"Allow sharing with external users"},"sharingOnAccountEnabled":{"type":"boolean","description":"Enable sharing on team"},"whiteListedDomains":{"type":"array","description":"Whitelisted domains","items":{"type":"string","description":"Whitelisted domains"}},"sharingViaPublicLinkEnabled":{"type":"boolean","description":"Enable sharing via public link"},"editingViaPublicLinkEnabled":{"type":"boolean","description":"Enable editing via public link"},"moveBoardToAccountEnabled":{"type":"boolean","description":"Enable move board to team"},"sharingOnOrganizationEnabled":{"type":"boolean","description":"Enable sharing on organization"},"editingOnOrganizationEnabled":{"type":"boolean","description":"Enable editing on organization"},"createAssetAccessLevel":{"type":"string","description":"Set who can create assets in a team","enum":["COMPANY_ADMINS","ADMINS","ALL_MEMBERS"]}},"description":"Team sharing policy settings"},"TeamMember":{"type":"object","properties":{"createdAt":{"type":"string","description":"Invited user date","format":"date-time"},"createdByUserId":{"type":"integer","description":"User id of user who invited the team member","format":"int64","example":3074457345618264000},"memberId":{"type":"integer","description":"Team member id","format":"int64","example":3074457345618264000},"modifiedAt":{"type":"string","description":"Latest user role modification date","format":"date-time"},"modifiedByUserId":{"type":"integer","description":"User id of user who updated the team member","format":"int64","example":3074457345618264000},"teamId":{"type":"integer","description":"Team id","format":"int64","example":3074457345618265000},"type":{"type":"string"},"userRole":{"type":"string","description":"\n    * \"non_team\":   External user, non-team user.\n    * \"member\":     Team member with full member permissions.\n    * \"admin\":      Admin of a team. Team member with permission to manage team.\n    * \"team_guest\": Team-guest user, user with access only to a team without access to organization.\n    ","enum":["non_team","member","admin","team_guest"]}}},"TeamMemberChanges":{"type":"object","properties":{"role":{"type":"string","description":"User role inside team","example":"member"}}},"UpdateTeamSettingsRequest":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Data classification enabled for team","example":true},"defaultLabelId":{"type":"integer","description":"Data classification default label id","format":"int64","example":3000457366756291000}}},"DataClassificationTeamSettings":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Data classification enabled for team","example":true},"defaultLabelId":{"type":"string","description":"Data classification default label id","example":"3000457366756290996"}}},"UpdateBoardsDataClassificationLabelRequest":{"type":"object","properties":{"labelId":{"type":"integer","description":"Data classification label id for team","format":"int64","example":3000457366756291000},"notClassifiedOnly":{"type":"boolean","description":"Assign data classification label to not-classified only or to all boards of team","example":true}}},"UpdateBoardsDataClassificationLabel":{"type":"object","properties":{"numberUpdatedBoards":{"type":"integer","description":"Number of boards updated in the team","format":"int64","example":10}}},"TeamChanges":{"type":"object","properties":{"name":{"type":"string","description":"Team name","example":"Dev Team"},"picture":{"$ref":"#/components/schemas/CreatePictureRequest"}}},"OrganizationMember":{"type":"object","properties":{"id":{"type":"string","description":"Id of the user","example":"3074457345821140934"},"active":{"type":"boolean","description":"Flag is user active","example":true},"email":{"type":"string","description":"User email","example":"user@miro.com"},"lastActivityAt":{"type":"string","description":"Last time when the user was active","format":"date-time"},"license":{"type":"string","description":"Name of the current user license in the organization","example":"full","enum":["UNKNOWN","FULL","OCCASIONAL","FREE","FREE_RESTRICTED","FULL_TRIAL"]},"licenseAssignedAt":{"type":"string","description":"Time when the license was assigned to the user","format":"date-time"},"role":{"type":"string","description":"Name of the user role in the organization","example":"organization_internal_user","enum":["UNKNOWN","ORGANIZATION_INTERNAL_ADMIN","ORGANIZATION_INTERNAL_USER","ORGANIZATION_EXTERNAL_USER","ORGANIZATION_TEAM_GUEST_USER"]},"type":{"type":"string"}}},"OrganizationMembersCursorQuery":{"type":"object","properties":{"limit":{"maximum":100,"minimum":0,"type":"integer","description":"Limit of organization members in result list","format":"int32","example":100},"cursor":{"type":"string","description":"Organization member id that will be used to find members next to this id in the sorted list","example":"3055557345821140946"},"active":{"type":"boolean","description":"Filtering parameter. Filter organization members by activity"},"role":{"type":"string","description":"Filtering parameter. Filter organization members by role","example":"organization_internal_user"},"license":{"type":"string","description":"Filtering parameter. Filter organization members by license","example":"full"}}},"OrganizationMembersSearchResponse":{"type":"object","properties":{"limit":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationMember"}},"size":{"type":"integer","format":"int32"},"cursor":{"type":"string"}}},"OrganizationMembersSearchByEmailsResponse":{"type":"array","properties":{"empty":{"type":"boolean"}},"items":{"$ref":"#/components/schemas/OrganizationMember"}},"Organization":{"type":"object","properties":{"id":{"type":"string","description":"Id of the organization","example":"3074457345821140946"},"fullLicensesPurchased":{"type":"integer","description":"Purchased FULL licenses","format":"int32"},"name":{"type":"string","description":"Name of the organization","example":"Miro company"},"plan":{"type":"string","description":"Organization plan type","example":"company","enum":["UNKNOWN","COMPANY","CONSULTANT","CONSULTANT_SLF","BUSINESS","PAID_TEAM_ORG","INTEGRATION_ORG"]},"type":{"type":"string"}}},"DataClassificationLabel":{"type":"object","properties":{"id":{"type":"string","description":"Label id","example":"3000457366756290996"},"color":{"type":"string","description":"Label color","example":"#F5DC80"},"default":{"type":"boolean","description":"Label is default","example":false},"description":{"type":"string","description":"Label description","example":"Board could not be shared publicly"},"name":{"type":"string","description":"Label name","example":"internal"},"orderNumber":{"type":"integer","description":"Label order number","format":"int32","example":2}},"description":"Data classification labels"},"DataClassificationOrganizationSettings":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Data classification enabled for organization","example":true},"labels":{"type":"array","description":"Data classification labels","items":{"$ref":"#/components/schemas/DataClassificationLabel"}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}