{"openapi":"3.0.0","info":{"title":"Network API","version":"1.0","description":"The Cash App Network API connects clients to process transactions on the Cash App network, including functionality for creating payments and refunds, managing disputes, onboarding merchants, and storing customers for on-file payments.","contact":{"url":"https://developers.cash.app","email":"developers@cash.app","name":"Cash App"},"termsOfService":"https://cash.app/legal/us/en-us/tos"},"servers":[{"url":"https://api.cash.app/network/v1","description":"Production"},{"url":"https://api.sandbox.cash.app/network/v1","description":"Sandbox"}],"paths":{"/merchants":{"get":{"summary":"List merchants","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"merchants":{"type":"array","uniqueItems":true,"maxItems":100,"minItems":0,"description":"List of merchants matching the given query parameters","items":{"$ref":"#/components/schemas/Merchant"}},"cursor":{"type":"string","description":"The pagination cursor to be used in a subsequent request. If empty, this is the final response.","minLength":1}},"required":["merchants"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/Error"}}},"required":["errors"]}}},"headers":{}}},"operationId":"list-merchants","description":"Returns a list of merchants matching the given query parameters.\n\n**This endpoint is rate limited to 50 QPS.**\n\nScopes: `MERCHANTS_READ`","parameters":[{"schema":{"type":"string","minLength":1,"maxLength":1024},"in":"query","name":"reference_id","description":"Filters results to only include merchants with a `reference_id` matching the given value."},{"schema":{"type":"string","minLength":1},"in":"query","name":"cursor","description":"A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query."},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"in":"query","name":"limit","description":"Maximum number of merchants to return"},{"$ref":"#/components/parameters/Region"}],"tags":["Merchants"],"security":[{"Client":["MERCHANTS_READ"]}]},"parameters":[],"post":{"summary":"Create merchant","operationId":"create-merchant","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","description":"","properties":{"merchant":{"$ref":"#/components/schemas/Merchant"}},"required":["merchant"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Example":{"value":{"errors":[{"category":"INVALID_REQUEST_ERROR","code":"CONFLICT","detail":"The reference_id 'external-id' is already used by another merchant.","field":"merchant.reference_id"}]}}}}}}},"description":"Creates a new merchant. Merchants must have an `address` or `site_url` set.\n\n**This endpoint is not rate limited.**\n\nScopes: `MERCHANTS_WRITE`","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"idempotency_key":{"$ref":"#/components/schemas/IdempotencyKey"},"merchant":{"type":"object","description":"Details about the merchant to create","required":["name","brand_id","country","currency","category","reference_id"],"properties":{"name":{"type":"string","description":"The name of the individual or business entity associated with the merchant.","minLength":1,"maxLength":255},"brand_id":{"type":"string","description":"ID of the brand associated with this merchant","minLength":1,"maxLength":128},"country":{"$ref":"#/components/schemas/Country"},"currency":{"$ref":"#/components/schemas/Currency"},"category":{"$ref":"#/components/schemas/Category"},"reference_id":{"type":"string","description":"A user-defined identifier for this merchant, typically used to associate the merchant with a record in an external system.\n\n**Must be unique across all merchants.**","minLength":1,"maxLength":1024,"example":"external-id"},"address":{"$ref":"#/components/schemas/Address"},"site_url":{"type":"string","description":"The URL of the website, if this merchant is for an eCommerce site","format":"uri","example":"https://example.com","minLength":7}}}},"required":["idempotency_key","merchant"]}}},"description":""},"tags":["Merchants"],"parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["MERCHANTS_WRITE"]}]},"put":{"summary":"Upsert merchant","operationId":"upsert-merchant","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"merchant":{"$ref":"#/components/schemas/Merchant"}},"required":["merchant"]}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"merchant":{"$ref":"#/components/schemas/Merchant"}},"required":["merchant"]}},"application/xml":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"description":"Creates or updates a merchant based on the merchant's `reference_id`.\n\nIf a merchant with a matching `reference_id` is found, \nit will be updated. If no matching merchant is found,\na new one will be created.\n\nThe HTTP response code (`200 OK` or `201 Created`) indicates\nwhether the resource was updated or created, respectively.\n\nMerchants must have an `address` or `site_url` set.\n\n**This endpoint is not rate limited.**\n\nScopes: `MERCHANTS_WRITE`","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"merchant":{"type":"object","description":"Details about the merchant to create or update","required":["name","brand_id","country","currency","category","reference_id"],"properties":{"name":{"type":"string","description":"The name of the individual or business entity associated with the merchant","minLength":1,"maxLength":255},"brand_id":{"type":"string","description":"ID of the brand associated with this merchant","minLength":1},"country":{"$ref":"#/components/schemas/Country"},"currency":{"$ref":"#/components/schemas/Currency"},"category":{"$ref":"#/components/schemas/Category"},"reference_id":{"type":"string","description":"A user-defined identifier for this merchant, typically used to associate the merchant with a record in an external system.\n\n**Must be unique across all merchants.**","minLength":1,"maxLength":1024},"address":{"$ref":"#/components/schemas/Address"},"site_url":{"type":"string","format":"uri","description":"The URL of the website, if this merchant is for an eCommerce site"}}}},"required":["merchant"]}}}},"tags":["Merchants"],"parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["MERCHANTS_WRITE"]}]}},"/merchants/{merchant_id}":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x"},"name":"merchant_id","in":"path","required":true,"description":"ID of the merchant"}],"get":{"summary":"Retrieve merchant","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"merchant":{"$ref":"#/components/schemas/Merchant"}},"required":["merchant"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"retrieve-merchant","description":"Returns a merchant matching the given `merchant_id`.\n\n**This endpoint is not rate limited.**\n\nScopes: `MERCHANTS_READ`","parameters":[{"$ref":"#/components/parameters/Region"}],"tags":["Merchants"],"security":[{"Client":["MERCHANTS_READ"]}]},"patch":{"summary":"Update merchant","operationId":"update-merchant","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"merchant":{"$ref":"#/components/schemas/Merchant"}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"merchant":{"type":"object","description":"Details about the merchant to update","properties":{"brand_id":{"type":"string","description":"ID of the brand associated with this merchant\n\n*This field cannot be cleared.*"},"category":{"$ref":"#/components/schemas/Category"},"country":{"$ref":"#/components/schemas/Country"},"currency":{"$ref":"#/components/schemas/Currency"},"name":{"type":"string","minLength":1,"description":"The name of the individual or business entity associated with the merchant.\n\n*This field cannot be cleared.*"},"reference_id":{"type":"string","description":"A user-defined identifier for this merchant, typically used to associate the merchant with a record in an external system\n\n*This field cannot be cleared, and must be unique across all merchants.*","minLength":1,"maxLength":1024,"example":"external-id"},"address":{"oneOf":[{"$ref":"#/components/schemas/Address"},{"nullable":true}],"description":"Where the entity associated with this merchant is located, if the merchant is a business with a physical location"},"site_url":{"type":"string","format":"uri","description":"The URL of the website, if this merchant is an eCommerce site","maxLength":8000,"minLength":7,"nullable":true},"status":{"type":"string","enum":["ACTIVE","CLIENT_DISABLED"],"description":"Whether or not this merchant can be used to accept payments or issue refunds.\n\n**Note:** when the value is `PENDING`, `COMPLIANCE_DISABLED`, or `RISK_DISABLED`, the status of the merchant cannot be changed."}}}},"required":["merchant"]}}}},"description":"Updates a merchant matching the provided `merchant_id` with the given attributes.\n\nTo clear a field, set it to `null`. Fields that are not provided in the request will not be changed.\n\n**This endpoint is not rate limited.**\n\nScopes: `MERCHANTS_WRITE`","tags":["Merchants"],"parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["MERCHANTS_WRITE"]}]}},"/brands":{"get":{"summary":"List brands","tags":["Brands"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"brands":{"type":"array","minItems":0,"uniqueItems":true,"maxItems":100,"description":"List of brands matching the given query parameters","items":{"$ref":"#/components/schemas/Brand"}},"cursor":{"type":"string","description":"The pagination cursor to be used in a subsequent request. If empty, this is the final response."}},"required":["brands"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"list-brands","description":"Returns a list of brands matching the given query parameters.\n\n**This endpoint is rate limited to 50 QPS.**\n\nScopes: `BRANDS_READ`","parameters":[{"schema":{"type":"string","minLength":1},"in":"query","description":"A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query.","name":"cursor"},{"schema":{"type":"integer","maximum":100,"minimum":1,"default":50},"in":"query","name":"limit","description":"Maximum number of brands to return"},{"schema":{"type":"string","minLength":1,"maxLength":1024},"in":"query","name":"reference_id","description":"Filters results to only include brands with a `reference_id` matching the given value."},{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["BRANDS_READ"]}]},"post":{"summary":"Create brand","operationId":"create-brand","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"brand":{"$ref":"#/components/schemas/Brand"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"description":"Creates a new brand with the given attributes.\n\n**This endpoint is not rate limited.**\n\nScopes: `BRANDS_WRITE`","x-internal":false,"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"idempotency_key":{"$ref":"#/components/schemas/IdempotencyKey"},"brand":{"type":"object","description":"Details about the brand to create","required":["name","reference_id"],"properties":{"name":{"type":"string","minLength":1,"maxLength":255,"description":"Name of the brand to be shown in Cash App next to payments"},"reference_id":{"type":"string","description":"A user-defined identifier for this brand, typically used to associate the brand with a record in an external system\n\n**Must be unique across all brands.**","minLength":1,"maxLength":1024},"profile_image_url":{"type":"string","description":"URL to the image that should be shown in Cash App next to payments made to this brand, typically the brand's logo.\n\nThe image should be square and be at least 256x256. It must be less than 2MB in filesize.","format":"uri","pattern":".*\\.(png|jpg|jpeg)$","minLength":1,"maxLength":1024},"color":{"type":"string","description":"Primary color associated with this brand and its logo, in 6-digit hex code format.","pattern":"^#[a-fA-F0-9]{6}$","minLength":7,"maxLength":7,"example":"#ffffff"}}}},"required":["idempotency_key","brand"]}}},"description":""},"tags":["Brands"],"parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["BRANDS_WRITE"]}]},"put":{"summary":"Upsert brand","operationId":"upsert-brand","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"brand":{"$ref":"#/components/schemas/Brand"}}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"brand":{"$ref":"#/components/schemas/Brand"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"tags":["Brands"],"description":"Creates or updates a brand based on the brand's `reference_id`.\n\nIf a brand with a matching `reference_id` is found, \nit will be updated. If no matching brand is found,\na new one will be created.\n\nThe HTTP response code (`200 OK` or `201 Created`) indicates\nwhether the resource was updated or created, respectively.\n\n**This endpoint is not rate limited.**\n\nScopes: `BRANDS_WRITE`","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"brand":{"type":"object","description":"Details about the brand to create or update","required":["name","reference_id"],"properties":{"name":{"type":"string","minLength":1,"maxLength":255,"description":"Name of the brand to be shown in Cash App next to payments"},"reference_id":{"type":"string","minLength":1,"maxLength":1024,"description":"A user-defined identifier for this brand, typically used to associate the brand with a record in an external system\n\n**Must be unique across all brands.**"},"profile_image_url":{"type":"string","pattern":".*\\.(png|jpg|jpeg)$","minLength":1,"maxLength":1024,"description":"URL to the image that should be shown in Cash App next to payments made to this brand, typically the brand's logo.\n\nThe image should be square and be at least 256x256. It must be less than 2MB in filesize."},"color":{"type":"string","minLength":7,"maxLength":7,"description":"Primary color associated with this brand and its logo, in 6-digit hex code format.","pattern":"^#[a-fA-F0-9]{6}$","example":"#ffffff"}}}},"required":["brand"]}}}},"parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["BRANDS_WRITE"]}]}},"/brands/{brand_id}":{"parameters":[{"schema":{"type":"string","example":"B_jsrnuiix","minLength":1,"maxLength":128},"name":"brand_id","in":"path","required":true,"description":"ID of the brand"}],"get":{"summary":"Retrieve brand","tags":["Brands"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"brand":{"$ref":"#/components/schemas/Brand"}},"required":["brand"]},"examples":{"Example":{"value":{"brand":{"id":"string","name":"string","profile_image_url":"https://franklin-assets.s3.amazonaws.com/merchants/assets/v3/generic/m_category_business.png","color":"#ffffff","reference_id":"string","created_at":"2021-01-01T00:00:00Z","updated_at":"2021-01-01T00:00:00Z"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Example":{"value":{"errors":[{"category":"INVALID_REQUEST_ERROR","code":"BRAND_NOT_FOUND","detail":"No brand was found for the given ID."}]}}}}}}},"operationId":"retrieve-brand","description":"Returns a brand matching the given `brand_id`.\n\n**This endpoint is not rate limited.**\n\nScopes: `BRANDS_READ`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["BRANDS_READ"]}]},"patch":{"summary":"Update brand","operationId":"update-brand","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"brand":{"$ref":"#/components/schemas/Brand"}}},"examples":{"Example":{"value":{"brand":{"id":"B_jsrnuiix","name":"Out of this World","profile_image_url":"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Earth_from_Space.jpg/480px-Earth_from_Space.jpg","color":"#ffffff","reference_id":"external-id","created_at":"2021-01-01T00:00:00Z","updated_at":"2021-01-01T00:00:00Z"}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Invalid Color":{"value":{"errors":[{"category":"INVALID_REQUEST_ERROR","code":"VALUE_REGEX_MISMATCH","detail":"Expected brand.color to match pattern: ^#[a-fA-F0-9]{6}$.","field":"brand.color"}]}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"brand":{"type":"object","description":"Details about the brand to update","properties":{"name":{"type":"string","minLength":1,"description":"Name of the brand to be shown in Cash App next to payments.\n\n*This field cannot be cleared.*","maxLength":255},"reference_id":{"type":"string","minLength":1,"description":"A user-defined identifier for this brand, typically used to associate the brand with a record in an external system\n\n*This field cannot be cleared, and must be unique across all brands.*"},"profile_image_url":{"type":"string","description":"URL to the image that should be shown in Cash App next to payments made to this brand, typically the brand's logo.\n\nThe image should be square and be at least 256x256. It must be less than 2MB in filesize.\n\n*This field cannot be cleared.*","minLength":1},"color":{"type":"string","description":"Primary color associated with this brand and its logo, in 6-digit hex code format.","minLength":7,"maxLength":7,"pattern":"^#[a-fA-F0-9]{6}$","example":"#ffffff","nullable":true}}}},"required":["brand"]},"examples":{"Example":{"value":{"brand":{"name":"Out of this World","profile_image_url":"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Earth_from_Space.jpg/480px-Earth_from_Space.jpg","color":"#ffffff","reference_id":"external-id"}}}}}},"description":""},"description":"Updates a brand matching the provided `brand_id` with the given attributes.\n\nTo clear a field, set it to `null`. Fields that are not provided in the request will not be changed.\n\n**This endpoint is not rate limited.**\n\nScopes: `BRANDS_WRITE`","tags":["Brands"],"parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["BRANDS_WRITE"]}]}},"/payments":{"get":{"summary":"List payments","tags":["Payments"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"payments":{"type":"array","uniqueItems":true,"minItems":0,"maxItems":100,"description":"List of payments matching the given query parameters","items":{"$ref":"#/components/schemas/Payment"}},"cursor":{"type":"string","description":"The pagination cursor to be used in a subsequent request. If empty, this is the final response."}},"required":["payments"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"list-payments","description":"Returns a list of payments matching the given query parameters.\n\n**This endpoint is rate limited to 100 QPS.**\n\nScopes: `PAYMENTS_READ`","parameters":[{"schema":{"type":"string","minLength":1},"in":"query","name":"cursor","description":"A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query."},{"schema":{"type":"string","minLength":1,"maxLength":1024,"example":"external-id"},"in":"query","name":"reference_id","description":"Filters results to only include payments with a `reference_id` matching the given value."},{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"AUTH_24g7nq7m1je9b6fnzbtvwzqej"},"in":"query","name":"customer_id","description":"Filters results to only include payments made by a customer that matches the the given ID."},{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x"},"in":"query","name":"merchant_id","description":"Filters results to only include payments made to a merchant that matches the the given ID."},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"in":"query","name":"limit","description":"Maximum number of payments to return"},{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["PAYMENTS_READ"]}]},"post":{"summary":"Create payment","operationId":"create-payment","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"payment":{"$ref":"#/components/schemas/Payment"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"idempotency_key":{"$ref":"#/components/schemas/IdempotencyKey"},"payment":{"type":"object","description":"Data about the payment to create","required":["amount","currency","merchant_id","grant_id"],"properties":{"amount":{"type":"integer","minimum":0,"example":100,"description":"The amount of money to charge the customer, in the lowest denomination of currency for the payment"},"currency":{"$ref":"#/components/schemas/Currency"},"merchant_id":{"type":"string","minLength":1,"description":"ID of the merchant to make the payment to","maxLength":128,"example":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x"},"grant_id":{"type":"string","description":"A customer ID or one-time use token from the Customer Request API that indicates which customer is making the payment","minLength":1,"maxLength":128,"example":"GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50"},"reference_id":{"type":"string","example":"external-id","description":"A user-defined identifier for this payment, typically used to associate the payment with a record in an external system","minLength":1,"maxLength":1024},"capture":{"type":"boolean","default":true,"description":"Whether or not to automatically capture the payment once it's created"}}}},"required":["idempotency_key","payment"]}}},"description":""},"description":"Creates a payment from a customer to a merchant.\n\n\n> **Note**: Creating a payment requires a grant that is associated with the `ON_FILE_PAYMENT` or `ONE_TIME_PAYMENT` actions. To generate a grant, use the Customer Request API.\n\n**This endpoint is not rate limited.**\n\nScopes: `PAYMENTS_WRITE`","tags":["Payments"],"parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["PAYMENTS_WRITE"]}]}},"/payments/{payment_id}":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"PWC_4nn21zy6t0v2yhqg5bvhk7xkq"},"name":"payment_id","in":"path","required":true,"description":"ID of the payment to retrieve","explode":false}],"get":{"summary":"Retrieve payment","tags":["Payments"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"payment":{"$ref":"#/components/schemas/Payment"}},"required":["payment"]},"examples":{}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","uniqueItems":true,"minItems":1,"items":{"$ref":"#/components/schemas/Error"}}},"required":["errors"]}}}}},"operationId":"retrieve-payment","description":"Retrieves a payment by its ID.\n\n**This endpoint is not rate limited.**\n\nScopes: `PAYMENTS_READ`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["PAYMENTS_READ"]}]}},"/payments/{payment_id}/capture":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"PWC_4nn21zy6t0v2yhqg5bvhk7xkq"},"name":"payment_id","in":"path","required":true,"description":"ID of the payment to capture"}],"post":{"summary":"Capture payment","operationId":"capture-payment","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"payment":{"$ref":"#/components/schemas/Payment"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"tags":["Payments"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"amount":{"type":"integer","minimum":1,"example":100,"description":"The amount of money to collect from the customer, in the lowest denomination of currency for the payment.\n\nTo over-capture or under-capture the payment, set this field to a different value from the current payment amount."}},"required":["amount"]}}}},"description":"Updates a payment with the given amount and finalizes it so that it can be paid out in the next nightly settlement batch.\n\n**This endpoint is not rate limited.**\n\nScopes: `PAYMENTS_WRITE`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["PAYMENTS_WRITE"]}]}},"/payments/{payment_id}/void":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"PWC_4nn21zy6t0v2yhqg5bvhk7xkq"},"name":"payment_id","in":"path","required":true,"description":"ID of the payment to void"}],"post":{"summary":"Void payment","operationId":"void-payment","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"payment":{"$ref":"#/components/schemas/Payment"}},"required":["payment"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"tags":["Payments"],"description":"Moves an authorized payment to the voided state and releases the payment authorization from the customer's Cash App account.\n\n> **Note**: You can only void an authorized payment. If a payment is captured, refund it instead.\n\n**This endpoint is not rate limited.**\n\nScopes: `PAYMENTS_WRITE`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["PAYMENTS_WRITE"]}]}},"/payments/void-by-idempotency-key":{"post":{"summary":"Void payment by idempotency key","tags":["Payments"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"payment":{"$ref":"#/components/schemas/Payment"}},"required":["payment"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"example-1":{"value":{"errors":[{"category":"INVALID_REQUEST_ERROR","code":"string","detail":"string","field":"field_a[2].field_b"}]}}}}}}},"operationId":"void-payment-by-idempotency-key","description":"Moves an authorized payment to the voided state and releases the payment authorization from the customer's Cash App account.\n\n> **Note**: You can only void an authorized payment. If a payment is captured, refund it instead.\n\n**This endpoint is not rate limited.**\n\nScopes: `PAYMENTS_WRITE`","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"idempotency_key":{"type":"string","description":"Idempotency key used in the CreatePayment request for the payment you want to void.","minLength":1,"maxLength":64}},"required":["idempotency_key"]}}}},"parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["PAYMENTS_WRITE"]}]}},"/refunds":{"get":{"summary":"List refunds","tags":["Refunds"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"refunds":{"type":"array","uniqueItems":true,"maxItems":100,"minItems":0,"description":"List of refunds matching the given query parameters","items":{"$ref":"#/components/schemas/Refund"}},"cursor":{"type":"string","description":"The pagination cursor to be used in a subsequent request. If empty, this is the final response."}},"required":["refunds"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"list-refunds","parameters":[{"schema":{"type":"string","minLength":1},"in":"query","name":"cursor","description":"A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query."},{"schema":{"type":"string","minLength":1,"maxLength":1024,"example":"external-id"},"in":"query","name":"reference_id","description":"Filters results to only include refunds with a `reference_id` matching the given value."},{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"AUTH_24g7nq7m1je9b6fnzbtvwzqej"},"in":"query","name":"customer_id","description":"Filters results to only include refunds made to a customer that matches the the given ID."},{"schema":{"type":"string","example":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x","minLength":1,"maxLength":128},"in":"query","name":"merchant_id","description":"Filters results to only include refunds made by a merchant that matches the given ID."},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"in":"query","name":"limit","description":"Maximum number of refunds to return"},{"$ref":"#/components/parameters/Region"}],"description":"Returns a list of refunds matching the given query parameters.\n\n**This endpoint is rate limited to 100 QPS.**\n\nScopes: `REFUNDS_READ`","security":[{"Client":["REFUNDS_READ"]}]},"post":{"summary":"Create refund","operationId":"create-refund","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"refund":{"$ref":"#/components/schemas/Refund"}},"required":["refund"]},"examples":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"idempotency_key":{"$ref":"#/components/schemas/IdempotencyKey"},"refund":{"type":"object","description":"Details about the refund to create","required":["amount","currency","merchant_id","reason"],"properties":{"amount":{"type":"integer","minimum":1,"description":"The amount of money to refund the customer, in the lowest denomination of currency for the refund","example":1500},"currency":{"$ref":"#/components/schemas/Currency"},"merchant_id":{"type":"string","description":"ID of the merchant to make the refund from","minLength":1,"maxLength":128},"reason":{"type":"string","description":"Why this refund occurred","enum":["REQUESTED_BY_CUSTOMER","FRAUDULENT","DUPLICATE"],"example":"REQUESTED_BY_CUSTOMER"},"payment_id":{"type":"string","description":"For linked refunds, this is the ID of the payment to refund.","minLength":1,"maxLength":128,"example":"PWC_4nn21zy6t0v2yhqg5bvhk7xkq"},"grant_id":{"type":"string","description":"For unlinked refunds, this is the ID of a grant from the Customer Request API that can be used to issue a refund. Grants associated with `ON_FILE_PAYMENT` and `UNLINKED_REFUND` actions can be used to create an unlinked refund.","minLength":1,"maxLength":128,"example":"GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50"},"capture":{"type":"boolean","default":true,"description":"Whether or not to automatically capture the refund once it's created"},"reference_id":{"type":"string","minLength":1,"maxLength":1024,"example":"external-id","description":"A user-defined identifier for this refund, typically used to associate the refund with a record in an external system"}}}},"required":["idempotency_key","refund"]},"examples":{"Create a $1 (USD) Refund":{"value":{"idempotency_key":"178f2318-a335-4be2-9792-6259a8887874","refund":{"amount":100,"currency":"USD","merchant_id":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x","capture":true,"payment_id":"PWC_etdng09kyyqf5zr583v8xcs2k","reference_id":"external-id","reason":"REQUESTED_BY_CUSTOMER"}}},"Create a $5 (USD) Unlinked Refund":{"value":{"idempotency_key":"178f2318-a335-4be2-9792-6259a8887874","refund":{"amount":500,"currency":"USD","grant_id":"C_5yp4jayhh","merchant_id":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x","capture":true,"reason":"REQUESTED_BY_CUSTOMER"}}}}}},"description":""},"tags":["Refunds"],"description":"Creates a refund from a merchant to a customer.\n\nYou can create 2 types of refunds: **linked**, which are associated with a\npayment, and **unlinked**, which are not associated with a payment:\n\n- To issue a linked refund, provide a `payment_id` in the request.\n- To issue an unlinked refund, provide a `grant_id` in the request. The grant\nmust be associated with the `ON_FILE_PAYMENT` or `UNLINKED_REFUND` actions.\nTo generate a grant to pass to this field, use the Customer Request API.\n\n**This endpoint is not rate limited.**\n\nScopes: `REFUNDS_WRITE`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["REFUNDS_WRITE"]}]}},"/refunds/{refund_id}":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"PWCR_da1v3j4p3z15y47adpzzq0whj"},"name":"refund_id","in":"path","required":true,"description":"ID of the refund to retrieve"}],"get":{"summary":"Retrieve refund","tags":["Refunds"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"refund":{"$ref":"#/components/schemas/Refund"}},"required":["refund"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}},"operationId":"retrieve-refund","description":"Retrieves a refund by its ID.\n\n**This endpoint is not rate limited.**\n\nScopes: `REFUNDS_READ`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["REFUNDS_READ"]}]}},"/refunds/{refund_id}/capture":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"PWCR_da1v3j4p3z15y47adpzzq0whj"},"name":"refund_id","in":"path","required":true,"description":"ID of the refund to capture"}],"post":{"summary":"Capture refund","tags":["Refunds"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"refund":{"$ref":"#/components/schemas/Refund"}},"required":["refund"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}},"operationId":"capture-refund","description":"Finalizes a refund so that it can be allocated in the next nightly settlement batch.\n\n**This endpoint is not rate limited.**\n\nScopes: `REFUNDS_WRITE`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["REFUNDS_WRITE"]}]}},"/refunds/{refund_id}/void":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"PWCR_da1v3j4p3z15y47adpzzq0whj"},"name":"refund_id","in":"path","required":true,"description":"ID of the refund to void"}],"post":{"summary":"Void refund","tags":["Refunds"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"refund":{"$ref":"#/components/schemas/Refund"}},"required":["refund"]},"examples":{"Voided Refund":{"value":{"refund":{"id":"PWCR_da1v3j4p3z15y47adpzzq0whj","amount":2500,"currency":"USD","customer_id":"AUTH_24g7nq7m1je9b6fnzbtvwzqej","merchant_id":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x","status":"VOIDED","grant_id":"GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50","payment_id":"PWC_4nn21zy6t0v2yhqg5bvhk7xkq","reference_id":"external-id","created_at":"2022-01-01T12:00:00Z","updated_at":"2022-01-05T12:00:00Z"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Not Found":{"value":{"errors":[{"category":"INVALID_REQUEST_ERROR","code":"NOT_FOUND","detail":"No refund could be found for the given ID."}]}}}}}}},"operationId":"void-refund","description":"Moves an authorized refund to the voided state and removes the \"pending refund\" screen from a customer's Cash App account.\n\n> **Note**: You can only void an authorized refund.\n\n**This endpoint is not rate limited.**\n\nScopes: `REFUNDS_WRITE`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["REFUNDS_WRITE"]}]}},"/refunds/void-by-idempotency-key":{"post":{"summary":"Void refund by idempotency key","operationId":"void-refund-by-idempotency-key","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"refund":{"$ref":"#/components/schemas/Refund"}},"required":["refund"]},"examples":{"Voided Refund":{"value":{"refund":{"id":"PWCR_da1v3j4p3z15y47adpzzq0whj","amount":2500,"currency":"USD","customer_id":"AUTH_24g7nq7m1je9b6fnzbtvwzqej","merchant_id":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x","status":"VOIDED","grant_id":"GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50","payment_id":"PWC_4nn21zy6t0v2yhqg5bvhk7xkq","reference_id":"external-id","created_at":"2022-01-01T12:00:00Z","updated_at":"2022-01-05T12:00:00Z"}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Refund Not Found":{"value":{"errors":[{"category":"PAYMENT_PROCESSING_ERROR","code":"REFUND_NOT_FOUND","detail":"No refund could be found for the given idempotency key.","field":"idempotency_key"}]}}}}}}},"tags":["Refunds"],"description":"Moves an authorized refund to the voided state using the idempotency key specified while creating the refund.\n\n> **Note**: You can only void an authorized refund. If a refund is captured, there is no way to reverse it.\n\nIn rare cases, an issue with an integration, network connectivity, or the Cash App Pay API may cause an API client to end up in a state where a refund is created in Cash App Pay, but the API client doesn't know the ID of the refund. This endpoint allows an API client to void a refund using _only_ the idempotency key to recover from these situations.\n\nIf you don't have the idempotency key or ID of the refund you want to void, you can use the [ListRefunds](ref:list-refunds) endpoint to try to search for the refund you're looking for.\n\n**This endpoint is not rate limited.**\n\nScopes: `REFUNDS_WRITE`","parameters":[{"$ref":"#/components/parameters/Region"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"idempotency_key":{"$ref":"#/components/schemas/IdempotencyKey"}},"required":["idempotency_key"]}}}},"security":[{"Client":["REFUNDS_WRITE"]}]}},"/customers":{"get":{"summary":"List customers","tags":["Customers"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"customers":{"type":"array","minItems":0,"maxItems":100,"uniqueItems":true,"description":"List of customers matching the given query parameters","items":{"$ref":"#/components/schemas/Customer"}},"cursor":{"type":"string","description":"The pagination cursor to be used in a subsequent request. If empty, this is the final response."}},"required":["customers"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"list-customers","description":"Returns a list of all customers matching the given query parameters who have ever authorized this client to take an action on their account.\n\n**This endpoint is rate limited to 50 QPS.**\n\nScopes: `CUSTOMERS_READ`","parameters":[{"schema":{"type":"string"},"in":"query","name":"cursor","description":"A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query."},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"in":"query","name":"limit","description":"Maximum number of customers to return"},{"schema":{"type":"string"},"in":"query","name":"cashtag","description":"Filters results to only include customers with a matching Cashtag."},{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["CUSTOMERS_READ"]}]}},"/customers/{customer_id}":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"AUTH_24g7nq7m1je9b6fnzbtvwzqej"},"name":"customer_id","in":"path","required":true,"description":"ID of the customer to retrieve"}],"get":{"summary":"Retrieve customer","tags":["Customers"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"customer":{"$ref":"#/components/schemas/Customer"}},"required":["customer"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"retrieve-customer","description":"Retrieves a customer by its ID.\n\n**This endpoint is not rate limited.**\n\nScopes: `CUSTOMERS_READ`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["CUSTOMERS_READ"]}]}},"/customers/{customer_id}/grants":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"AUTH_24g7nq7m1je9b6fnzbtvwzqej"},"name":"customer_id","in":"path","required":true,"description":"ID of the customer that approved the customer grants"}],"get":{"summary":"List customer grants","tags":["Customers"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"grants":{"type":"array","maxItems":100,"uniqueItems":true,"minItems":0,"description":"List of customer grants matching the given query parameters","items":{"$ref":"#/components/schemas/Grant"}},"cursor":{"type":"string","description":"The pagination cursor to be used in a subsequent request. If empty, this is the final response."}},"required":["grants"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"list-customer-grants","parameters":[{"schema":{"type":"string","enum":["ACTIVE","CONSUMED","REVOKED","EXPIRED"],"example":"ACTIVE"},"in":"query","name":"status","description":"Filters results to only include customer grants matching the given status."},{"schema":{"type":"string","minLength":1},"in":"query","name":"cursor","description":"A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query."},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"in":"query","description":"Maximum number of customer grants to return","name":"limit"},{"$ref":"#/components/parameters/Region"}],"description":"Returns a list of all customer grants for a given customer that match the provided query parameters.\n\n**This endpoint is rate limited to 250 QPS.**\n\nScopes: `GRANTS_READ`","security":[{"Client":["GRANTS_READ"]}]}},"/customers/{customer_id}/grants/{grant_id}":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"AUTH_24g7nq7m1je9b6fnzbtvwzqej"},"name":"customer_id","in":"path","required":true,"description":"ID of the customer that approved the customer grant"},{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50"},"name":"grant_id","in":"path","required":true,"description":"ID of the customer grant to retrieve"}],"get":{"summary":"Retrieve customer grant","tags":["Customers"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"grant":{"$ref":"#/components/schemas/Grant"}},"required":["grant"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{}}}}},"operationId":"retrieve-customer-grant","description":"Retrieves a customer grant by the ID of the customer that approved it and its own ID.\n\n**This endpoint is not rate limited.**\n\nScopes: `GRANTS_READ`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["GRANTS_READ"]}]}},"/customers/{customer_id}/grants/{grant_id}/revoke":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"AUTH_24g7nq7m1je9b6fnzbtvwzqej"},"name":"customer_id","in":"path","required":true,"description":"ID of the customer that approved the customer grant"},{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50"},"name":"grant_id","in":"path","description":"ID of the customer grant to retrieve","required":true}],"post":{"summary":"Revoke customer grant","tags":["Customers"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"grant":{"$ref":"#/components/schemas/Grant"}},"required":["grant"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"revoke-customer-grant","description":"Revokes a customer grant, rendering it unusable. Other endpoints will no longer be able to use the grant to perform its associated action.\n\n> **Note**: You cannot un-revoke a grant. Use with caution.\n\n**This endpoint is not rate limited.**\n\nScopes: `GRANTS_WRITE`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["GRANTS_WRITE"]}]}},"/disputes":{"get":{"summary":"List disputes","tags":["Disputes"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"disputes":{"type":"array","uniqueItems":true,"minItems":0,"maxItems":100,"description":"List of disputes matching the given query parameters","items":{"$ref":"#/components/schemas/Dispute"}},"cursor":{"type":"string","description":"The pagination cursor to be used in a subsequent request. If empty, this is the final response."}},"required":["disputes"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"list-disputes","description":"Returns a list of all disputes (matching the given query parameters) associated with payments created by this client.\n\n**This endpoint is rate limited to 50 QPS.**\n\nScopes: `DISPUTES_READ`","parameters":[{"schema":{"type":"string","minLength":1},"in":"query","name":"cursor","description":"A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query."},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"in":"query","name":"limit","description":"Maximum number of disputes to return"},{"schema":{"type":"string","example":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x","minLength":1,"maxLength":128},"in":"query","name":"merchant_id","description":"Filters results to only include disputes filed against a merchant that matches the the given ID."},{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["DISPUTES_READ"]}]}},"/disputes/{dispute_id}":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"DSPT_1fbjn9dg7rmz1xeyv6gkyh8vg"},"name":"dispute_id","in":"path","required":true,"description":"ID of the dispute."}],"get":{"summary":"Retrieve dispute","tags":["Disputes"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"dispute":{"$ref":"#/components/schemas/Dispute"}},"required":["dispute"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"retrieve-dispute","description":"Retrieves a dispute by its ID.\n\n**This endpoint is not rate limited.**\n\nScopes: `DISPUTES_READ`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["DISPUTES_READ"]}]}},"/disputes/{dispute_id}/accept":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"DSPT_1fbjn9dg7rmz1xeyv6gkyh8vg"},"name":"dispute_id","in":"path","required":true,"description":"ID of the dispute."}],"post":{"summary":"Accept dispute","tags":["Disputes"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"dispute":{"$ref":"#/components/schemas/Dispute"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"accept-dispute","parameters":[{"$ref":"#/components/parameters/Region"}],"description":"Resolves a dispute by having the merchant accept responsibility for it. This leads to a \"loss\" of the dispute from the merchant's perspective, and a \"win\" of the dispute from the customer's perspective.\n\n> **Note:** Once a dispute is accepted, the decision is final; it can never be changed.\n\n**This endpoint is not rate limited.**\n\nScopes: `DISPUTES_WRITE`","security":[{"Client":["DISPUTES_WRITE"]}]}},"/disputes/{dispute_id}/challenge":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"DSPT_1fbjn9dg7rmz1xeyv6gkyh8vg"},"name":"dispute_id","in":"path","required":true,"description":"ID of the dispute."}],"post":{"summary":"Challenge dispute","tags":["Disputes"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"dispute":{"$ref":"#/components/schemas/Dispute"}},"required":["dispute"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"challenge-dispute","description":"Submits evidence uploaded to this dispute to Cash App Pay for review.\n\nOnce Cash App Pay reviews the dispute, a final decision will be reached and funds will be settled appropriately. If this endpoint is not called by the `response_due_at` timestamp, the merchant will automatically \"lose\" the dispute.\n\n> Challenging a dispute does not guarantee that the merchant will \"win\" it. It only means that it will be reviewed, instead of being automatically accepted by the merchant.\n\n**This endpoint is not rate limited.**\n\nScopes: `DISPUTES_WRITE`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["DISPUTES_WRITE"]}]}},"/disputes/{dispute_id}/evidence":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"DSPT_1fbjn9dg7rmz1xeyv6gkyh8vg"},"name":"dispute_id","in":"path","required":true,"description":"ID of the dispute."}],"get":{"summary":"List dispute evidence","tags":["Disputes"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"evidence":{"type":"array","uniqueItems":true,"minItems":0,"maxItems":100,"description":"List of pieces of evidence for the dispute matching the given query parameters","items":{"$ref":"#/components/schemas/DisputeEvidence"}},"cursor":{"type":"string","description":"The pagination cursor to be used in a subsequent request. If empty, this is the final response."}},"required":["evidence"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"list-dispute-evidence","parameters":[{"schema":{"type":"string","minLength":1},"in":"query","name":"cursor","description":"A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query."},{"schema":{"type":"integer","default":50,"minimum":1,"maximum":100},"in":"query","name":"limit","description":"Maximum number of pieces of dispute evidence to return"},{"$ref":"#/components/parameters/Region"}],"description":"Returns a list of all pieces of evidence associated with the given dispute.\n\n**This endpoint is rate limited to 50 QPS.**\n\nScopes: `DISPUTES_READ`","security":[{"Client":["DISPUTES_READ"]}]}},"/disputes/{dispute_id}/evidence-text":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"DSPT_1fbjn9dg7rmz1xeyv6gkyh8vg"},"name":"dispute_id","in":"path","required":true,"description":"ID of the dispute."}],"post":{"summary":"Create dispute evidence text","tags":["Disputes"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"evidence":{"$ref":"#/components/schemas/DisputeEvidence"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"create-dispute-evidence-text","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"idempotency_key":{"$ref":"#/components/schemas/IdempotencyKey"},"evidence":{"type":"object","required":["category","text"],"description":"Details about the evidence to create.","properties":{"category":{"type":"string","enum":["GENERIC_EVIDENCE","ONLINE_OR_APP_ACCESS_LOG","AUTHORIZATION_DOCUMENTATION","CANCELLATION_OR_REFUND_DOCUMENTATION","CARDHOLDER_COMMUNICATION","CARDHOLDER_INFORMATION","PURCHASE_ACKNOWLEDGEMENT","DUPLICATE_CHARGE_DOCUMENTATION","PRODUCT_OR_SERVICE_DESCRIPTION","RECEIPT","SERVICE_RECEIVED_DOCUMENTATION","PROOF_OF_DELIVERY_DOCUMENTATION","RELATED_TRANSACTION_DOCUMENTATION","REBUTTAL_EXPLANATION","TRACKING_NUMBER"],"description":"Describes what type of information is contained in this piece of evidence.\n\nCurrent values:\n\n- `GENERIC_EVIDENCE`: Default evidence type used if no other category applies.\n- `ONLINE_OR_APP_ACCESS_LOG`: Server or activity logs that show proof of the cardholder’s identity and that the cardholder successfully ordered and received the goods (digitally or otherwise). Example evidence includes IP addresses, corresponding timestamps/dates, cardholder’s name and email address linked to a cardholder profile held by the seller, proof the same device and card (used in dispute) were previously used in prior undisputed transaction, and any related detailed activity.\n- `AUTHORIZATION_DOCUMENTATION`: **[File Only]** Evidence that the cardholder did provide authorization for the charge. Example evidence includes a signed credit card authorization.\n- `CANCELLATION_OR_REFUND_DOCUMENTATION`: Evidence that the cardholder acknowledged your refund or cancellation policy. Example evidence includes a signature or checkbox showing the cardholder’s acknowledgement of your refund or cancellation policy.\n- `CARDHOLDER_COMMUNICATION`: **[File Only]** Evidence that shows relevant communication with the cardholder. Example evidence includes emails or texts that show the cardholder received goods/services or demonstrate cardholder satisfaction.\n- `CARDHOLDER_INFORMATION`: Evidence that validates the customer's identity. Example evidence includes personally identifiable details such as name, email address, purchaser IP address, and a copy of the cardholder ID.\n- `PURCHASE_ACKNOWLEDGEMENT`: Evidence that shows proof of the sale/transaction. Example evidence includes an invoice, contract, or other item showing the customer’s acknowledgement of the purchase and your terms.\n- `DUPLICATE_CHARGE_DOCUMENTATION`: **[File Only]** Evidence that shows the charges in question are valid and distinct from one another. Example evidence includes receipts, shipping labels, and invoices along with their distinct payment IDs.\n- `PRODUCT_OR_SERVICE_DESCRIPTION`: A description of the product or service sold.\n- `RECEIPT`: A receipt or message sent to the cardholder detailing the charge. Note: You do not need to upload the Square receipt; Square submits the receipt on your behalf.\n- `SERVICE_RECEIVED_DOCUMENTATION`: Evidence that the service was provided to the cardholder or the expected date that services will be rendered. Example evidence includes a signed delivery form, work order, expected delivery date, or other written agreements.\n- `PROOF_OF_DELIVERY_DOCUMENTATION`: Evidence that shows the product was provided to the cardholder or the expected date of delivery. Example evidence includes a signed delivery form or written agreement acknowledging receipt of the goods or services.\n- `RELATED_TRANSACTION_DOCUMENTATION`: Evidence that shows the cardholder previously processed transactions on the same card and did not dispute them.\n- `REBUTTAL_EXPLANATION`: An explanation of why the cardholder’s claim is invalid. Example evidence includes an explanation of why each distinct charge is a legitimate purchase, why the cardholder’s claim for credit owed due to their attempt to cancel, return, or refund is invalid per your stated policy and cardholder agreement, or an explanation of how the cardholder did not attempt to remedy the issue with you first to receive credit.\n- `TRACKING_NUMBER`: The tracking number for the order provided by the shipping carrier. If you have multiple numbers, they need to be submitted individually as separate pieces of evidence."},"text":{"type":"string","minLength":1,"maxLength":500,"description":"The blob of text to upload as evidence."}}}},"required":["idempotency_key","evidence"]}}},"description":""},"description":"Creates a piece of evidence for the given dispute from a blob of plain text, which can then be submitted with the [ChallengeDispute](ref:challenge-dispute) endpoint.\n\nIf you have more than 500 characters of text to submit as evidence, split it into multiple pieces where possible.\n\n> **Note:** Uploading evidence does not challenge the dispute. Make sure to call the [ChallengeDispute](ref:challenge-dispute) endpoint before the `response_due_at` timestamp, or else the merchant will automatically \"lose\" the dispute.\n\n**This endpoint is not rate limited.**\n\nScopes: `DISPUTES_WRITE`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["DISPUTES_WRITE"]}]}},"/disputes/{dispute_id}/evidence-file":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"DSPT_1fbjn9dg7rmz1xeyv6gkyh8vg"},"name":"dispute_id","in":"path","required":true,"description":"ID of the dispute the pieces of evidence are associated with."}],"post":{"summary":"Create dispute evidence file","tags":["Disputes"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"evidence":{"$ref":"#/components/schemas/DisputeEvidence"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"create-dispute-evidence-file","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"idempotency_key":{"$ref":"#/components/schemas/IdempotencyKey"},"evidence":{"type":"object","required":["category","file"],"description":"Details about the evidence to create.","properties":{"category":{"type":"string","enum":["GENERIC_EVIDENCE","ONLINE_OR_APP_ACCESS_LOG","AUTHORIZATION_DOCUMENTATION","CANCELLATION_OR_REFUND_DOCUMENTATION","CARDHOLDER_COMMUNICATION","CARDHOLDER_INFORMATION","PURCHASE_ACKNOWLEDGEMENT","DUPLICATE_CHARGE_DOCUMENTATION","PRODUCT_OR_SERVICE_DESCRIPTION","RECEIPT","SERVICE_RECEIVED_DOCUMENTATION","PROOF_OF_DELIVERY_DOCUMENTATION","RELATED_TRANSACTION_DOCUMENTATION","REBUTTAL_EXPLANATION","TRACKING_NUMBER"],"description":"Describes what type of information is contained in this piece of evidence.\n\nCurrent values:\n\n- `GENERIC_EVIDENCE`: Default evidence type used if no other category applies.\n- `ONLINE_OR_APP_ACCESS_LOG`: Server or activity logs that show proof of the cardholder’s identity and that the cardholder successfully ordered and received the goods (digitally or otherwise). Example evidence includes IP addresses, corresponding timestamps/dates, cardholder’s name and email address linked to a cardholder profile held by the seller, proof the same device and card (used in dispute) were previously used in prior undisputed transaction, and any related detailed activity.\n- `AUTHORIZATION_DOCUMENTATION`: **[File Only]** Evidence that the cardholder did provide authorization for the charge. Example evidence includes a signed credit card authorization.\n- `CANCELLATION_OR_REFUND_DOCUMENTATION`: Evidence that the cardholder acknowledged your refund or cancellation policy. Example evidence includes a signature or checkbox showing the cardholder’s acknowledgement of your refund or cancellation policy.\n- `CARDHOLDER_COMMUNICATION`: **[File Only]** Evidence that shows relevant communication with the cardholder. Example evidence includes emails or texts that show the cardholder received goods/services or demonstrate cardholder satisfaction.\n- `CARDHOLDER_INFORMATION`: Evidence that validates the customer's identity. Example evidence includes personally identifiable details such as name, email address, purchaser IP address, and a copy of the cardholder ID.\n- `PURCHASE_ACKNOWLEDGEMENT`: Evidence that shows proof of the sale/transaction. Example evidence includes an invoice, contract, or other item showing the customer’s acknowledgement of the purchase and your terms.\n- `DUPLICATE_CHARGE_DOCUMENTATION`: **[File Only]** Evidence that shows the charges in question are valid and distinct from one another. Example evidence includes receipts, shipping labels, and invoices along with their distinct payment IDs.\n- `PRODUCT_OR_SERVICE_DESCRIPTION`: A description of the product or service sold.\n- `RECEIPT`: A receipt or message sent to the cardholder detailing the charge. Note: You do not need to upload the Square receipt; Square submits the receipt on your behalf.\n- `SERVICE_RECEIVED_DOCUMENTATION`: Evidence that the service was provided to the cardholder or the expected date that services will be rendered. Example evidence includes a signed delivery form, work order, expected delivery date, or other written agreements.\n- `PROOF_OF_DELIVERY_DOCUMENTATION`: Evidence that shows the product was provided to the cardholder or the expected date of delivery. Example evidence includes a signed delivery form or written agreement acknowledging receipt of the goods or services.\n- `RELATED_TRANSACTION_DOCUMENTATION`: Evidence that shows the cardholder previously processed transactions on the same card and did not dispute them.\n- `REBUTTAL_EXPLANATION`: An explanation of why the cardholder’s claim is invalid. Example evidence includes an explanation of why each distinct charge is a legitimate purchase, why the cardholder’s claim for credit owed due to their attempt to cancel, return, or refund is invalid per your stated policy and cardholder agreement, or an explanation of how the cardholder did not attempt to remedy the issue with you first to receive credit.\n- `TRACKING_NUMBER`: The tracking number for the order provided by the shipping carrier. If you have multiple numbers, they need to be submitted individually as separate pieces of evidence."},"file":{"type":"object","required":["filename","content_type"],"description":"Metadata about the uploaded file.","properties":{"filename":{"type":"string","minLength":1,"maxLength":40,"description":"Name of the uploaded file. It should be descriptive enough to indicate what type of information is contained in the uploaded file."},"content_type":{"type":"string","enum":["application/pdf","image/png","image/jpeg","image/heic","image/heif","image/tiff"],"description":"The MIME type of the uploaded file.\n\nCurrent values:\n\n- `application/pdf`\n- `image/heic`\n- `image/heif`\n- `image/jpeg`\n- `image/png`\n- `image/tiff`"}}}}}},"required":["idempotency_key","evidence"]}}},"description":""},"description":"Uploads a binary file as a piece of evidence for the given dispute, which can then be submitted with the [ChallengeDispute](ref:challenge-dispute) endpoint.\n\nThe file must be one of the supported formats, or else it may not be usable to challenge the dispute:\n\n- `JPEG`\n- `HEIC`\n- `HEIF`\n- `PNG`\n- `PDF`\n- `TIFF`\n\n> **Note:** Uploading evidence does not challenge the dispute. Make sure to call the [ChallengeDispute](ref:challenge-dispute) endpoint before the `response_due_at` timestamp, or else the merchant will automatically \"lose\" the dispute.\n\n**This endpoint is not rate limited.**\n\nScopes: `DISPUTES_WRITE`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["DISPUTES_WRITE"]}]}},"/disputes/{dispute_id}/evidence/{evidence_id}":{"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"DSPT_1fbjn9dg7rmz1xeyv6gkyh8vg"},"name":"dispute_id","in":"path","required":true,"description":"ID of the dispute the evidence is associated with."},{"schema":{"type":"string","minLength":1,"maxLength":128,"example":"EVD_dbdda8e161b7bad8519f7f73"},"name":"evidence_id","in":"path","required":true,"description":"ID of the piece of dispute evidence."}],"delete":{"summary":"Delete dispute evidence","tags":["Disputes"],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"delete-dispute-evidence","description":"Deletes a piece of dispute evidence by the ID of the dispute its for and its own ID.\n\n**This endpoint is not rate limited.**\n\nScopes: `DISPUTES_WRITE`","parameters":[{"$ref":"#/components/parameters/Region"}],"security":[{"Client":["DISPUTES_WRITE"]}]},"get":{"summary":"Retrieve dispute evidence","tags":["Disputes"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"evidence":{"$ref":"#/components/schemas/DisputeEvidence"}},"required":["evidence"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"retrieve-dispute-evidence","parameters":[{"$ref":"#/components/parameters/Region"}],"description":"Retrieves a piece of dispute evidence by the ID of the dispute its for and its own ID.\n\n**This endpoint is not rate limited.**\n\nScopes: `DISPUTES_READ`","security":[{"Client":["DISPUTES_READ"]}]}}},"components":{"schemas":{"Address":{"title":"address","type":"object","description":"Where this entity is located","properties":{"line_1":{"type":"string","description":"First line of the street address, typically including street number, street name, and / or building name"},"line_2":{"type":"string","description":"Second line of the address, if any"},"city":{"type":"string","description":"City or township where the entity is located"},"country":{"$ref":"#/components/schemas/Country"},"postal_code":{"type":"string","description":"ZIP or postal code"},"state":{"type":"string","description":"State or province"}}},"Brand":{"title":"brand","type":"object","description":"A brand is the entity a customer perceives that they are transacting with.","properties":{"id":{"type":"string","description":"A unique identifier for the brand issued by Cash App","minLength":1,"maxLength":128},"name":{"type":"string","minLength":1,"maxLength":255,"description":"Name of the brand to be shown in Cash App next to payments"},"created_at":{"type":"string","format":"date-time","description":"When this brand was created, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).","example":"2021-01-01T00:00:00Z"},"updated_at":{"type":"string","format":"date-time","description":"When this brand was last updated, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).","example":"2021-01-01T00:00:00Z"},"reference_id":{"type":"string","description":"A user-defined identifier for this brand, typically used to associate the brand with a record in an external system","minLength":1,"maxLength":1024,"example":"example-id"},"color":{"type":"string","description":"Primary color associated with this brand and its logo, in 6-digit hex code format.","pattern":"^#[a-fA-F0-9]{6}$","example":"#ffffff","minLength":7,"maxLength":7},"profile_image_url":{"type":"string","format":"uri","example":"https://franklin-assets.s3.amazonaws.com/merchants/assets/v3/generic/m_category_business.png","default":"https://franklin-assets.s3.amazonaws.com/merchants/assets/v3/generic/m_category_business.png","description":"URL to the image that should be shown in Cash App next to payments made to this brand, typically the brand's logo.\n\nThe image should be square and be at least 256x256. It must be less than 2MB in filesize.","pattern":".*\\.(png|jpg|jpeg)$"}},"required":["id","name","created_at","updated_at","reference_id"]},"Category":{"type":"string","title":"category","pattern":"[0-9]","minLength":4,"description":"The merchant category code associated with the entity. Values are from the [ISO-18245 specification](https://www.iso.org/standard/33365.html).","maxLength":4},"Country":{"type":"string","title":"country","example":"US","description":"Indicates the country associated with an entity. Values are from the [ISO-3166 Alpha-2](https://www.iso.org/iso-3166-country-codes.html) specification.\n\nCurrent values:\n\n- `US`: United States of America","x-internal":false,"enum":["US"]},"Currency":{"type":"string","title":"currency","minLength":3,"maxLength":6,"pattern":"[A-Z]","example":"USD","description":"Indicates the country associated with an entity. Values are from the [ISO-4217 Alpha-3](https://www.iso.org/iso-4217-currency-codes.html) specification.\n\nCurrent values:\n\n- `USD`: United States Dollar","enum":["USD"]},"Customer":{"title":"customer","type":"object","description":"","x-examples":{"Example":{"value":{"id":"AUTH_24g7nq7m1je9b6fnzbtvwzqej","cashtag":"$JohnDoe"}}},"properties":{"id":{"type":"string","description":"Unique identifier for this customer issued by Cash App","minLength":1,"maxLength":128,"example":"AUTH_24g7nq7m1je9b6fnzbtvwzqej"},"cashtag":{"type":"string","description":"Public identifier for the customer on Cash App. [Learn more](https://cash.app/help/us/en-us/3123-cashtags)","minLength":1}},"required":["id","cashtag"]},"Dispute":{"title":"Dispute","type":"object","description":"Represents a dispute initiated by a customer within Cash App or the customer's linked bank","properties":{"id":{"type":"string","minLength":1,"maxLength":128,"example":"DSPT_1fbjn9dg7rmz1xeyv6gkyh8vg","description":"A unique identifier for the dispute issued by Cash App."},"payment_id":{"type":"string","minLength":1,"maxLength":128,"example":"PWC_4nn21zy6t0v2yhqg5bvhk7xkq","description":"ID of the disputed payment."},"amount":{"type":"integer","minimum":1,"example":1500,"description":"Amount of disputed money, in the lowest denomination of currency on the associated payment."},"reason":{"type":"string","enum":["FR10","FR11","PE10","PE11","PE12","CD10","CD11","CD13"],"description":"4-digit code consisting of 2 letters followed by 2 numbers that indicates why the dispute was created, at a high level.\n\nCurrent values:\n\n- `FR10`: Customer has no knowledge of the payment.\n- `FR11`: Customer has no knowledge of the payment and liability has shifted to the merchant due to collusion, fraud monitoring program thresholds, or any other reason.\n- `PE10`: Payment was processed twice.\n- `PE11`: Payment amount differs from agreed amount.\n- `PE12`: Payment was paid for by another means.\n- `CD10`: Cancelled services.\n- `CD11`: Goods or services differ from what was agreed upon for the payment.\n- `CD12`: The goods or services were not received.\n- `CD13`: The purchase was cancelled or returned, but the refund has not been processed.","minLength":4,"maxLength":4,"example":"FR10"},"settlement_withholding":{"type":"string","enum":["NOT_WITHHELD","WITHHELD_ALREADY"],"description":"Indicates if the disputed amount has already been withheld from a settlement or not.\n\nCurrent values:\n\n- `NOT_WITHHELD`: The disputed amount has not yet been withheld in a settlement. It may impact future settlements if the dispute is \"lost\" by the merchant.\n\n- `WITHHELD_ALREADY`: The disputed amount was withheld in a prior settlement. This dispute will not impact future settlements."},"state":{"type":"string","enum":["RESPONSE_REQUIRED","NO_RESPONSE_REQUIRED","PROCESSING","ACCEPTED","WON","PARTIALLY_WON","LOST"],"example":"RESPONSE_REQUIRED","description":"The step in the dispute lifecycle that this dispute is currently at:\n\n- `RESPONSE_REQUIRED`\n- `NO_RESPONSE_REQUIRED`\n- `PROCESSING`\n- `ACCEPTED`\n- `WON`\n- `PARTIALLY_WON`\n- `LOST`"},"created_at":{"type":"string","format":"date-time","description":"When this dispute was created, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).","example":"2022-01-01T12:00:00Z"},"response_due_at":{"type":"string","format":"date-time","description":"When the dispute must be challenged by, after which it will be automatically accepted, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).","example":"2022-05-01T00:00:00Z"},"updated_at":{"type":"string","format":"date-time","description":"When this dispute was last updated, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).","example":"2022-01-05T12:00:00Z"},"merchant_id":{"type":"string","minLength":1,"maxLength":128,"example":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x","description":"ID of the merchant that collected the disputed payment."}},"required":["id","payment_id","amount","reason","settlement_withholding","state","created_at","response_due_at","updated_at","merchant_id"]},"DisputeEvidence":{"title":"evidence","type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":128,"example":"EVD_dbdda8e161b7bad8519f7f73","description":"A unique identifier for the dispute evidence issued by Cash App."},"dispute_id":{"type":"string","minLength":1,"maxLength":128,"example":"DSPT_1fbjn9dg7rmz1xeyv6gkyh8vg","description":"ID of the dispute this evidence is associated with."},"category":{"type":"string","enum":["GENERIC_EVIDENCE","ONLINE_OR_APP_ACCESS_LOG","AUTHORIZATION_DOCUMENTATION","CANCELLATION_OR_REFUND_DOCUMENTATION","CARDHOLDER_COMMUNICATION","CARDHOLDER_INFORMATION","PURCHASE_ACKNOWLEDGEMENT","DUPLICATE_CHARGE_DOCUMENTATION","PRODUCT_OR_SERVICE_DESCRIPTION","RECEIPT","SERVICE_RECEIVED_DOCUMENTATION","PROOF_OF_DELIVERY_DOCUMENTATION","RELATED_TRANSACTION_DOCUMENTATION","REBUTTAL_EXPLANATION","TRACKING_NUMBER"],"description":"Describes what type of information is contained in this piece of evidence.\n\nCurrent values:\n\n- `GENERIC_EVIDENCE`: Default evidence type used if no other category applies.\n- `ONLINE_OR_APP_ACCESS_LOG`: Server or activity logs that show proof of the cardholder’s identity and that the cardholder successfully ordered and received the goods (digitally or otherwise). Example evidence includes IP addresses, corresponding timestamps/dates, cardholder’s name and email address linked to a cardholder profile held by the seller, proof the same device and card (used in dispute) were previously used in prior undisputed transaction, and any related detailed activity.\n- `AUTHORIZATION_DOCUMENTATION`: **[File Only]** Evidence that the cardholder did provide authorization for the charge. Example evidence includes a signed credit card authorization.\n- `CANCELLATION_OR_REFUND_DOCUMENTATION`: Evidence that the cardholder acknowledged your refund or cancellation policy. Example evidence includes a signature or checkbox showing the cardholder’s acknowledgement of your refund or cancellation policy.\n- `CARDHOLDER_COMMUNICATION`: **[File Only]** Evidence that shows relevant communication with the cardholder. Example evidence includes emails or texts that show the cardholder received goods/services or demonstrate cardholder satisfaction.\n- `CARDHOLDER_INFORMATION`: Evidence that validates the customer's identity. Example evidence includes personally identifiable details such as name, email address, purchaser IP address, and a copy of the cardholder ID.\n- `PURCHASE_ACKNOWLEDGEMENT`: Evidence that shows proof of the sale/transaction. Example evidence includes an invoice, contract, or other item showing the customer’s acknowledgement of the purchase and your terms.\n- `DUPLICATE_CHARGE_DOCUMENTATION`: **[File Only]** Evidence that shows the charges in question are valid and distinct from one another. Example evidence includes receipts, shipping labels, and invoices along with their distinct payment IDs.\n- `PRODUCT_OR_SERVICE_DESCRIPTION`: A description of the product or service sold.\n- `RECEIPT`: A receipt or message sent to the cardholder detailing the charge. Note: You do not need to upload the Square receipt; Square submits the receipt on your behalf.\n- `SERVICE_RECEIVED_DOCUMENTATION`: Evidence that the service was provided to the cardholder or the expected date that services will be rendered. Example evidence includes a signed delivery form, work order, expected delivery date, or other written agreements.\n- `PROOF_OF_DELIVERY_DOCUMENTATION`: Evidence that shows the product was provided to the cardholder or the expected date of delivery. Example evidence includes a signed delivery form or written agreement acknowledging receipt of the goods or services.\n- `RELATED_TRANSACTION_DOCUMENTATION`: Evidence that shows the cardholder previously processed transactions on the same card and did not dispute them.\n- `REBUTTAL_EXPLANATION`: An explanation of why the cardholder’s claim is invalid. Example evidence includes an explanation of why each distinct charge is a legitimate purchase, why the cardholder’s claim for credit owed due to their attempt to cancel, return, or refund is invalid per your stated policy and cardholder agreement, or an explanation of how the cardholder did not attempt to remedy the issue with you first to receive credit.\n- `TRACKING_NUMBER`: The tracking number for the order provided by the shipping carrier. If you have multiple numbers, they need to be submitted individually as separate pieces of evidence."},"file":{"type":"object","description":"If the evidence is of type `FILE`, contains metadata about the binary file uploaded as evidence.","properties":{"filename":{"type":"string","minLength":1,"maxLength":40,"description":"Name of the uploaded file. It should be descriptive enough to indicate what type of information is contained in the uploaded file."},"content_type":{"type":"string","enum":["application/pdf","image/heic","image/heif","image/jpeg","image/png","image/tiff"],"description":"The MIME type of the uploaded file.\n\nCurrent values:\n\n- `application/pdf`\n- `image/heic`\n- `image/heif`\n- `image/jpeg`\n- `image/png`\n- `image/tiff`"}},"required":["filename","content_type"]},"text":{"type":"string","minLength":1,"maxLength":500,"description":"If the evidence is of type `TEXT`, contains the blob of text created as evidence."},"type":{"type":"string","enum":["FILE","TEXT"],"example":"TEXT","description":"Indicates if the evidence is a file or plain text.\n\nCurrent values:\n- `TEXT`: The evidence is a blob of text under 500 characters.\n- `FILE`: The evidence is an uploaded binary file."},"created_at":{"type":"string","format":"date-time","description":"When this evidence was created, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).","example":"2022-01-01T12:00:00Z"}},"required":["id","dispute_id","category","type","created_at"]},"Error":{"title":"error","type":"object","description":"Represents an error encountered during a request to the API.","properties":{"category":{"type":"string","description":"The high-level reason the error occurred","enum":["API_ERROR","AUTHENTICATION_ERROR","BRAND_ERROR","DISPUTE_ERROR","MERCHANT_ERROR","INVALID_REQUEST_ERROR","PAYMENT_PROCESSING_ERROR","RATE_LIMIT_ERROR"],"example":"INVALID_REQUEST_ERROR"},"code":{"type":"string","description":"A unique identifier for the specific type of error that occurred"},"detail":{"type":"string","description":"Human-readable description of why the error occurred and how to resolve it"},"field":{"type":"string","description":"The field in the request that caused the error, using array and object dot notation","example":"field_a[2].field_b"}},"required":["category","code"]},"ErrorResponse":{"title":"errors","type":"object","properties":{"errors":{"type":"array","minItems":1,"uniqueItems":true,"items":{"$ref":"#/components/schemas/Error"}}},"required":["errors"]},"Grant":{"title":"grant","type":"object","description":"Describes a grant that can be used to perform actions specified in a customer request using the Network API.","properties":{"id":{"type":"string","description":"Unique identifier for this grant issued by Cash App","minLength":1,"maxLength":128,"example":"GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50"},"customer_id":{"type":"string","description":"ID of the customer that approved this grant","minLength":1,"maxLength":128,"example":"AUTH_24g7nq7m1je9b6fnzbtvwzqej"},"action":{"$ref":"#/components/schemas/Customer-Request-API.v1_Action"},"status":{"type":"string","enum":["ACTIVE","CONSUMED","REVOKED","EXPIRED"],"description":"Describes whether or not this grant can be used to perform the action associated with it.\n\nIf `ACTIVE`, it can be used to perform the action.\n\nIf `EXPIRED`, it may no longer be used to perform the action due to the current time being past the \"expires_at\" time.\n\nIf `CONSUMED`, it was already redeemed to perform the action and cannot be used again.\n\nIf `REVOKED`, the customer or merchant explicitly unauthorized the grant, preventing it from being used to perform the action."},"type":{"type":"string","enum":["ONE_TIME","EXTENDED"],"description":"Describes whether this grant can be only be used once (`ONE_TIME`) or repeatedly (`EXTENDED`).","example":"ONE_TIME"},"created_at":{"type":"string","format":"date-time","description":"When this grant was created, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).","pattern":"2022-01-01T12:00:00Z"},"updated_at":{"type":"string","format":"date-time","description":"When this grant was last updated, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).","pattern":"2022-01-01T12:01:00Z"},"expires_at":{"type":"string","format":"date-time","description":"If present, indicates when the grant's status will become `EXPIRED`, preventing a client from using it to create payments or refunds.\n\nThe timestamp is in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).","example":"2022-04-01T12:00:00Z"}},"required":["id","customer_id","action","status","type","created_at","updated_at"]},"Merchant":{"title":"merchant","x-examples":{"Example":{"id":"M123123123123","name":"Little Red Wagon","country":"US","currency":"USD","category":"5814","reference_id":"7afce7ce-9ab0-4f9c-802f-7e658bd88a0d"}},"description":"A merchant represents a depository account when processing payments from Cash App customers. Merchants do not have direct access to Cash App, so processed payments are stored in this account until they are ready for settlement.","x-tags":["Merchants"],"type":"object","x-internal":false,"properties":{"id":{"type":"string","description":"A unique identifier for the merchant issued by Cash App.","example":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x","minLength":1,"maxLength":128},"brand_id":{"type":"string","description":"ID of the brand associated with this merchant.","minLength":1,"maxLength":128},"name":{"type":"string","minLength":1,"description":"The name of the individual or business entity associated with the merchant."},"country":{"$ref":"#/components/schemas/Country"},"currency":{"$ref":"#/components/schemas/Currency"},"category":{"$ref":"#/components/schemas/Category"},"reference_id":{"type":"string","description":"A user-defined identifier for this merchant, typically used to associate the merchant with a record in an external system","example":"external-id","maxLength":1024,"minLength":1},"status":{"type":"string","enum":["ACTIVE","RISK_DISABLED","COMPLIANCE_DISABLED","CLIENT_DISABLED","PENDING"],"example":"ACTIVE","description":"Whether or not this merchant can be used to accept payments or issue refunds.\n\n- `ACTIVE`: The merchant can accept payments or issue refunds.\n- `RISK_DISABLED`: Cash App Pay blocked this merchant due to them being high risk. There is no way to re-enable them programmaticaly.\n- `COMPLIANCE_DISABLED`: Cash App Pay blocked this merchant due to them not following the terms of service, Program Rules, or local laws. There is no way to re-enable them programmaticaly.\n- `CLIENT_DISABLED`: The client called the [UpdateMerchant](ref:update-merchant) endpoint and disabled this merchant, preventing it from being able to handle payments or refunds. To reverse this, call the endpoint again with the status field set to `ACTIVE`.\n- `PENDING`: The merchant is not ready to accept payments or refunds yet; the registration process is still running."},"created_at":{"type":"string","format":"date-time","description":"When this merchant was created, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).","example":"2022-01-01T12:00:00Z"},"updated_at":{"type":"string","format":"date-time","description":"When this merchant was last updated, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).","example":"2022-01-05T12:00:00Z"},"address":{"$ref":"#/components/schemas/Address"},"site_url":{"type":"string","format":"uri","description":"The URL of the website, if this merchant is for an eCommerce site","maxLength":8000,"minLength":8}},"required":["id","brand_id","name","country","currency","category","reference_id","status","created_at","updated_at"]},"Payment":{"title":"payment","type":"object","description":"","x-tags":["Payments"],"properties":{"id":{"type":"string","description":"Unique identifier for this payment issued by Cash App.","minLength":1,"maxLength":128,"example":"PWC_4nn21zy6t0v2yhqg5bvhk7xkq"},"amount":{"type":"integer","description":"Amount of money to collect, in the lowest denomination of currency on the payment.","minimum":1,"example":1500},"refunded_amount":{"type":"integer","description":"Sum of captured refunds in the lowest denomination of currency on the payment.","minimum":0,"example":100},"net_amount":{"type":"integer","description":"Amount left over after refunds are deducted from the amount field, in the lowest denomination of currency on the payment.","minimum":0,"example":1400},"currency":{"$ref":"#/components/schemas/Currency"},"customer_id":{"type":"string","description":"ID of the customer that sent this payment.","minLength":1,"maxLength":128,"example":"AUTH_24g7nq7m1je9b6fnzbtvwzqej"},"merchant_id":{"type":"string","description":"ID of the merchant that received this payment.","minLength":1,"maxLength":128,"example":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x"},"grant_id":{"type":"string","description":"ID of the grant to used to create this payment.","minLength":1,"maxLength":128,"example":"GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50"},"status":{"type":"string","enum":["AUTHORIZED","CAPTURED","VOIDED","DECLINED"],"description":"The step of the payment processing lifecycle that this payment is currently at.\n\n- `AUTHORIZED`\n- `CAPTURED`\n- `VOIDED`"},"created_at":{"type":"string","format":"date-time","description":"When this payment was created, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).","example":"2022-01-01T12:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2022-01-05T12:00:00Z","description":"When this payment was last updated, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC)."},"refund_ids":{"type":"array","minItems":1,"uniqueItems":true,"description":"A list of one or more IDs associated with refunds issued for this payment.","example":["PWCR_da1v3j4p3z15y47adpzzq0whj"],"items":{"type":"string"}},"reference_id":{"type":"string","description":"A user-defined identifier for this payment, typically used to associate the payment with a record in an external system.","minLength":1,"maxLength":1024,"example":"external-id"}},"required":["id","amount","net_amount","currency","customer_id","merchant_id","grant_id","status","created_at","updated_at"]},"Refund":{"title":"refund","type":"object","x-tags":["Refunds"],"x-examples":{},"properties":{"id":{"type":"string","description":"Unique identifier for this refund issued by Cash App","example":"PWCR_da1v3j4p3z15y47adpzzq0whj","minLength":1,"maxLength":128},"amount":{"type":"integer","minimum":1,"exclusiveMinimum":false,"example":2500,"description":"Amount of money to refund, in the lowest denomination of currency on the refund"},"currency":{"$ref":"#/components/schemas/Currency"},"customer_id":{"type":"string","description":"ID of the customer that received this refund","example":"AUTH_24g7nq7m1je9b6fnzbtvwzqej","minLength":1,"maxLength":128},"merchant_id":{"type":"string","description":"ID of the merchant that issued this refund","example":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x","minLength":1,"maxLength":128},"status":{"type":"string","enum":["AUTHORIZED","CAPTURED","VOIDED","DECLINED"],"description":"The step of the refund processing lifecycle that this refund is currently at.\n\n- `AUTHORIZED`\n- `CAPTURED`\n- `VOIDED`"},"created_at":{"type":"string","format":"date-time","example":"2022-01-01T12:00:00Z","description":"When this refund was created, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC)."},"updated_at":{"type":"string","format":"date-time","example":"2022-01-05T12:00:00Z","description":"When this refund was last updated, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC)."},"grant_id":{"type":"string","description":"If an unlinked refund, the ID of the grant used to create this refund.\n\nIf a linked refund, empty.","example":"GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50","minLength":1,"maxLength":128},"payment_id":{"type":"string","description":"If a linked refund, ID of the payment that was refunded.\n\nIf an unlinked refund, empty.","example":"PWC_4nn21zy6t0v2yhqg5bvhk7xkq","minLength":1,"maxLength":128},"reference_id":{"type":"string","minLength":1,"maxLength":1024,"description":"A user-defined identifier for this refund, typically used to associate the refund with a record in an external system","example":"external-id"}},"required":["id","amount","currency","customer_id","merchant_id","status","created_at","updated_at"]},"IdempotencyKey":{"type":"string","title":"idempotency_key","description":"A unique identifier which can be used by Cash App to de-duplicate retries of this request, making it idempotent. Learn more about [idempotency](ref:idempotency) in the API.","minLength":1,"maxLength":64,"example":"e345c3fb-1caa-46fd-b0d3-aa6c7b00ab19"},"Customer-Request-API.v1_Action":{"oneOf":[{"$ref":"#/components/schemas/Customer-Request-API.v1_OneTimePaymentAction"},{"$ref":"#/components/schemas/Customer-Request-API.v1_UnlinkedRefundAction"},{"$ref":"#/components/schemas/Customer-Request-API.v1_OnFilePaymentAction"}],"description":"Represents what the client intends to do to a customer if given authorization.","title":"action"},"Customer-Request-API.v1_OnFilePaymentAction":{"title":"On File Payment Action","type":"object","description":"Describes an intent for a client to store a customer's account, allowing a client to create payments or issue refunds for it on a recurring basis.","properties":{"scope_id":{"type":"string","description":"ID of the client, brand, or merchant that will charge customers.\n\nIf a client ID is passed, the grant from this action can be used to create a payment for any merchant account owned by the client.\n\nIf a brand ID is passed, the grant from this action can be used to create a payment for any merchant account that has a matching brand ID.\n\nIf a merchant ID is passed, the grant from this action can be used to create a payment for the merchant with a matching ID.","minLength":1,"example":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x"},"type":{"type":"string","default":"ON_FILE_PAYMENT","enum":["ON_FILE_PAYMENT"],"description":"The type of the action (`ON_FILE_PAYMENT`)"}},"required":["scope_id","type"]},"Customer-Request-API.v1_OneTimePaymentAction":{"title":"One Time Payment Action","type":"object","description":"Describes an intent for a client to charge a customer a given amount.","properties":{"amount":{"type":"integer","minimum":1,"description":"Amount to charge the customer, in the lowest unit of the associated currency","example":2500},"currency":{"$ref":"#/components/schemas/Currency"},"merchant_id":{"type":"string","description":"ID of the merchant that intends to collect payment","minLength":1,"maxLength":128,"example":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x"},"type":{"type":"string","example":"ONE_TIME_PAYMENT","enum":["ONE_TIME_PAYMENT"],"description":"The type of the action (`ONE_TIME_PAYMENT`)"}},"required":["amount","currency","merchant_id","type"]},"Customer-Request-API.v1_UnlinkedRefundAction":{"title":"Unlinked Refund Action","type":"object","description":"Describes an intent for a client to refund a customer a given amount.","properties":{"amount":{"type":"integer","minimum":1,"description":"Amount to refund to the customer, in the lowest unit of the associated currency","example":2500},"currency":{"$ref":"#/components/schemas/Currency"},"merchant_id":{"type":"string","description":"ID of the merchant that intends to issue the refund","example":"MERCHANT_4vxs5egfk7hmta3qx2h6rp91x","minLength":1,"maxLength":128},"type":{"type":"string","example":"UNLINKED_REFUND","enum":["UNLINKED_REFUND"],"description":"The type of the action (`UNLINKED_REFUND`)"}},"required":["amount","currency","merchant_id","type"]}},"securitySchemes":{"Client":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://api.cash.app","scopes":{"BRANDS_READ":"Permits listing brands and retrieving individual brands.","BRANDS_WRITE":"Permits creating, upserting, and updating brands.","CUSTOMERS_READ":"Permits listing customers and retrieving individual customers.","DISPUTES_READ":"Permits listing disputes / dispute evidence and retrieving details about individual disputes / dispute evidence.","DISPUTES_WRITE":"Permits uploading dispute evidence, accepting disputes, and challenging disputes.","GRANTS_READ":"Permits listing grants for a customer and retrieving individual grants.","GRANTS_WRITE":"Permits revoking a grant.","MERCHANTS_READ":"Permits listing merchants and retrieving individual merchants.","MERCHANTS_WRITE":"Permits creating, upserting, and updating merchants.","PAYMENTS_READ":"Permits listing payments and retrieving individual payments.","PAYMENTS_WRITE":"Permits taking payments, capturing payments, and voiding payments.","REFUNDS_READ":"Permits listing refunds and retrieving individual refunds.","REFUNDS_WRITE":"Permits issuing refunds, capturing refunds, and voiding refunds."}}},"description":"Client authentication is provided by setting the `Authorization` header to the following format: `Client <Client ID> <API Key>`."}},"parameters":{"Region":{"name":"X-Region","in":"header","required":true,"schema":{"type":"string","example":"PDX"},"description":"The IATA airport code from the list of accepted regions that is closest to the area your server(s) is operating in."}}},"tags":[{"name":"Brands"},{"name":"Customers"},{"name":"Disputes"},{"name":"Merchants"},{"name":"Payments"},{"name":"Refunds"}],"security":[{"Client":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true,"samples-enabled":true}}