{"openapi":"3.1.0","info":{"title":"Redzone Community API","version":"2.0","contact":{"name":"Redzone","url":"https://rzsoftware.com","email":"support@rzsoftware.com"},"description":"Redzone Community and Advanced Integration APIs","termsOfService":"https://rzsoftware.com/privacy-policy","summary":"Redzone's Next Generation API"},"servers":[{"url":"https://api.rz-ops.com/public/v2/customers/{customerId}","description":"Plant Endpoint","variables":{"customerId":{"default":"abcdef"}}}],"paths":{"/product-groups":{"get":{"summary":"List Product Groups","tags":["Product Groups"],"operationId":"get-productgroups","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListProductGroupsResponse"}}}}},"description":"List product groups"},"post":{"summary":"Create Product Group","operationId":"post-productgroups","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductGroup"}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProductGroupRequest"}}}},"description":"Create product group","tags":["Product Groups"]},"parameters":[]},"/product-groups/{productGroupId}":{"parameters":[{"schema":{"type":"string","format":"uuid"},"name":"productGroupId","in":"path","required":true}],"get":{"summary":"Get Product Group","tags":["Product Groups"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductGroup"}}}},"400":{"description":"Invalid ID supplied"},"404":{"description":"Not Found"}},"operationId":"get-productgroups-productGroupUUID","description":"Get product group"},"put":{"summary":"Update Product Group","operationId":"put-productgroups-productGroupUUID","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductGroup"}}}},"400":{"description":"Invalid ID supplied"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProductGroupRequest"}}}},"description":"Update product group","tags":["Product Groups"]},"delete":{"summary":"Delete Product Group","operationId":"delete-productgroups-productGroupUUID","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductGroup"}}}},"400":{"description":"Invalid ID supplied"}},"description":"Delete product group","tags":["Product Groups"]}},"/products":{"get":{"summary":"List Products","tags":["Products"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListProductsResponse"}}}}},"operationId":"get-products","description":"List products"},"post":{"summary":"Create Product","operationId":"post-products","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}}},"description":"Create product","tags":["Products"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProductRequest"}}}}},"parameters":[]},"/products/{productId}":{"parameters":[{"schema":{"type":"string","format":"uuid"},"name":"productId","in":"path","required":true,"description":"Product ID"}],"get":{"summary":"Get Product","tags":["Products"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"400":{"description":"Invalid ID supplied"},"404":{"description":"Not Found"}},"operationId":"get-products-productGroupUUID","description":"Get product"},"put":{"summary":"Update Product","operationId":"put-products-productUUID","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"400":{"description":"Invalid ID supplied"}},"description":"Update product","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProductRequest"}}},"description":""},"tags":["Products"]},"delete":{"summary":"Delete Product","operationId":"delete-products-productUUID","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"400":{"description":"Invalid ID supplied"}},"description":"Delete product","tags":["Products"]}},"/products/{productId}/product-groups":{"parameters":[{"schema":{"type":"string","format":"uuid"},"name":"productId","in":"path","required":true}],"get":{"summary":"List Product Groups","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListProductGroupsResponse"}}}},"400":{"description":"Invalid ID supplied"}},"operationId":"get-products-productUUID-groups","description":"Get product groups for a product","tags":["Products"]},"post":{"summary":"Add Product Groups","operationId":"post-products-productUUID-groups","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListProductGroupsResponse"}}}},"400":{"description":"Invalid ID supplied"}},"tags":["Products"],"description":"Add groups to product","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetProductGroupsRequest"}}}}},"put":{"summary":"Update Product Groups","operationId":"put-products-productUUID-groups","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListProductGroupsResponse"}}}},"400":{"description":"Invalid ID supplied"}},"tags":["Products"],"description":"Replace groups for a product","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplaceProductGroupsRequest"}}}}}},"/products/unit-conversions":{"parameters":[],"get":{"summary":"List Unit Conversions","tags":["Products"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListUnitConversionsResponse"}}}},"400":{"description":"Invalid ID supplied"}},"operationId":"get-products-productUUID-unitconversions","description":"List unit conversions for product"},"post":{"summary":"Create Unit Conversion","operationId":"post-products-productUUID-unitconversions","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnitConversion"}}}},"400":{"description":"Invalid ID supplied"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUnitConversionRequest"}}}},"tags":["Products"],"description":"Add unit conversion to product"}},"/products/{productId}/unit-conversions/{unitConversionId}":{"parameters":[{"schema":{"type":"string","format":"uuid"},"name":"productId","in":"path","required":true},{"schema":{"type":"string","format":"uuid"},"name":"unitConversionId","in":"path","required":true}],"get":{"summary":"Get Unit Conversion","tags":["Products"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnitConversion"}}}},"400":{"description":"Invalid ID supplied"},"404":{"description":"Not Found"}},"operationId":"get-products-productUUID-unitconversions-unitConversionUUID","description":"Get unit conversion for product"},"put":{"summary":"Update Unit Conversion","operationId":"put-products-productUUID-unitconversions-unitConversionUUID","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnitConversion"}}}},"400":{"description":"Invalid ID supplied"}},"tags":["Products"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUnitConversionRequest"}}}},"description":"Update unit conversion for product"},"delete":{"summary":"Delete Unit Conversion","operationId":"delete-products-productUUID-unitconversions-unitConversionUUID","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnitConversion"}}}},"400":{"description":"Invalid ID supplied"}},"description":"Delete unit conversion for product","tags":["Products"]}},"/products/{productId}/location-configs":{"parameters":[{"schema":{"type":"string","format":"uuid"},"name":"productId","in":"path","required":true}],"get":{"summary":"List Location Configs","tags":["Products"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListProductLocationConfigsResponse"}}}},"400":{"description":"Invalid ID supplied"}},"operationId":"get-products-productUUID-locationconfigs","description":"List location specific configs for product"},"post":{"summary":"Create Location Config","operationId":"post-products-productUUID-locationconfigs","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductLocationConfig"}}}},"400":{"description":"Invalid ID supplied"}},"tags":["Products"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProductLocationConfigRequest"}}},"description":""},"description":"Create location specific config for product"},"put":{"summary":"Update Location Config","operationId":"put-products-productUUID-locationconfigs","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListProductLocationConfigsResponse"}}}},"400":{"description":"Invalid ID supplied"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetProductLocationConfigRequest"}}}},"description":"Set location specific configs for product","tags":["Products"]},"delete":{"summary":"Delete Location Configs","operationId":"delete-products-productUUID-locationconfigs","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListProductLocationConfigsResponse"}}}},"400":{"description":"Invalid ID supplied"}},"tags":["Products"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteProductLocationConfigsRequest"}}}},"description":"Delete location specific configs for product"}},"/products/{productId}/cycle-targets":{"parameters":[{"schema":{"type":"string","format":"uuid"},"name":"productId","in":"path","required":true}],"get":{"summary":"Delete Cycle Targets","tags":["Products"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCycleTargetsResponse"}}}},"400":{"description":"Invalid ID supplied"}},"operationId":"get-products-productUUID-cycletargets","description":"List cycle targets for product"},"put":{"summary":"Update Cycle Targets","operationId":"put-products-productUUID-cycletargets","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCycleTargetsResponse"}}}},"400":{"description":"Invalid ID supplied"}},"tags":["Products"],"description":"Set cycle targets for product","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetCycleTargetsRequest"}}}}},"delete":{"summary":"Delete Cycle Targets","operationId":"delete-products-productUUID-cycletargets","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCycleTargetsResponse"}}}},"400":{"description":"Invalid ID supplied"}},"description":"Delete cycle targets for product","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCycleTargetsRequest"}}}},"tags":["Products"]}},"/unit-of-measures":{"get":{"summary":"List Unit of Measures","tags":["Unit Of Measures"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListUnitOfMeasuresResponse"}}}}},"operationId":"get-unitofmeasures","description":"List unit of measures"},"parameters":[]},"/locations":{"get":{"summary":"List Locations","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListLocationsResponse"}}}}},"operationId":"get-locations","description":"List locations","tags":["Locations"]},"parameters":[]},"/location/{locationId}/scheduled-runs":{"parameters":[{"schema":{"type":"string"},"name":"locationId","in":"path","required":true}],"get":{"summary":"List Scheduled Runs","tags":["Locations"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListScheduledRunsResponse"}}}},"400":{"description":"Invalid ID supplied"}},"operationId":"get-location-locationUUID-scheduledruns","description":"List scheduled runs"},"post":{"summary":"Create Scheduled Run","operationId":"post-location-locationUUID-scheduledruns","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledRun"}}}},"400":{"description":"Invalid ID supplied"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateScheduledRunRequest"}}}},"description":"Create scheduled run","tags":["Locations","Products"]}},"/location/{locationId}/scheduled-runs/{runId}":{"parameters":[{"schema":{"type":"string","format":"uuid"},"name":"locationId","in":"path","required":true},{"schema":{"type":"string"},"name":"runId","in":"path","required":true}],"get":{"summary":"Get Scheduled Run","tags":["Locations"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledRun"}}}},"400":{"description":"Invalid ID supplied"},"404":{"description":"Not Found"}},"operationId":"get-location-locationUUID-scheduledruns-runUUID","description":"Get scheduled run"},"put":{"summary":"Update Scheduled Run","operationId":"put-location-locationUUID-scheduledruns-runUUID","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListScheduledRunsResponse"}}}},"400":{"description":"Invalid ID supplied"}},"description":"Update scheduled run","tags":["Products","Locations"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateScheduledRunRequest"}}}}},"delete":{"summary":"Delete Scheduled Run","operationId":"delete-location-locationUUID-scheduledruns-runUUID","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledRun"}}}},"400":{"description":"Invalid ID supplied"}},"description":"Delete scheduled run","tags":["Locations"]}},"/manufacturing-types":{"get":{"summary":"List Manufacturing Types","tags":["Manufacturing Types"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListManufacturingTypesResponse"}}}}},"operationId":"get-manufacturingtypes","description":"List manufacturing types"},"parameters":[]},"/characteristics":{"get":{"summary":"List Characteristics","tags":["Characteristics"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCharacteristicsResponse"}}}}},"operationId":"get-characteristics","description":"List characteristics"},"parameters":[]},"/characteristics/values":{"get":{"summary":"List Characteristic Values","tags":["Characteristics"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCharacteristicValuesResponse"}}}}},"operationId":"get-characteristics-values","description":"List characteristic values","parameters":[{"schema":{"type":"string"},"in":"query","name":"targetType","required":true},{"schema":{"type":"string","format":"uuid"},"in":"query","name":"targetUUID","required":true}]},"put":{"summary":"Update Characteristic Value","operationId":"put-characteristics-values","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCharacteristicValuesResponse"}}}}},"description":"Set characteristic values","tags":["Characteristics"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetCharacteristicValuesRequest"}}}}},"delete":{"summary":"Delete Characteristic Value","operationId":"delete-characteristics-values","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCharacteristicValuesResponse"}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCharacteristicValuesRequest"}}}},"description":"Delete characteristic values","tags":["Characteristics"]},"parameters":[]}},"components":{"schemas":{"CharacteristicValueTargetType":{"type":"string","title":"CharacteristicValueTargetType","enum":["Location","ManufacturingType","ProductType"]},"DateLabelBase":{"type":"string","title":"DateLabelBase","enum":["RunStart","ShiftStart","Now"]},"ProductGroup":{"title":"ProductGroup","type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"}},"required":["uuid","name"]},"ListProductGroupsResponse":{"title":"ListProductGroupsResponse","type":"array","items":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"}},"required":["uuid","name"]}},"CreateProductGroupRequest":{"title":"CreateProductGroupRequest","type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"UpdateProductGroupRequest":{"title":"CreateProductGroupRequest","type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"Product":{"title":"Product","type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"sku":{"type":"string"},"packingEnabled":{"type":"boolean"},"laborEnabled":{"type":"boolean"},"cycleEnabled":{"type":"boolean"},"manufacturingTypeName":{"type":"string"},"unitOfMeasureName":{"type":"string"},"overheadCost":{"type":"number","format":"float"},"materialCost":{"type":"number","format":"float"},"labelWeight":{"type":"number","format":"float"},"target":{"type":"number","format":"float"},"standardRatePerMin":{"type":"number","format":"float"},"standardRatePerManHour":{"type":"number","format":"float"},"targetCrewSize":{"type":"number","format":"float"},"activeMinutes":{"type":"number","format":"float"},"totalMinutes":{"type":"number","format":"float"},"externalId":{"type":"string"}},"required":["uuid","name","packingEnabled","laborEnabled","cycleEnabled","manufacturingTypeName","unitOfMeasureName"]},"ListProductsResponse":{"title":"ListProductsResponse","type":"array","items":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"sku":{"type":"string"},"packingEnabled":{"type":"boolean"},"laborEnabled":{"type":"boolean"},"cycleEnabled":{"type":"boolean"},"manufacturingTypeName":{"type":"string"},"unitOfMeasureName":{"type":"string"},"overheadCost":{"type":"number","format":"float"},"materialCost":{"type":"number","format":"float"},"labelWeight":{"type":"number","format":"float"},"target":{"type":"number","format":"float"},"standardRatePerMin":{"type":"number","format":"float"},"standardRatePerManHour":{"type":"number","format":"float"},"targetCrewSize":{"type":"number","format":"float"},"activeMinutes":{"type":"number","format":"float"},"totalMinutes":{"type":"number","format":"float"},"externalId":{"type":"string"}},"required":["uuid","name","packingEnabled","laborEnabled","cycleEnabled","manufacturingTypeName","unitOfMeasureName"]}},"CreateProductRequest":{"title":"CreateProductRequest","type":"object","properties":{"name":{"type":"string"},"sku":{"type":"string"},"packingEnabled":{"type":"boolean"},"laborEnabled":{"type":"boolean"},"cycleEnabled":{"type":"boolean"},"manufacturingTypeName":{"type":"string"},"unitOfMeasureName":{"type":"string"},"overheadCost":{"type":"number","format":"float"},"materialCost":{"type":"number","format":"float"},"labelWeight":{"type":"number","format":"float"},"target":{"type":"number","format":"float"},"standardRatePerMin":{"type":"number","format":"float"},"standardRatePerManHour":{"type":"number","format":"float"},"targetCrewSize":{"type":"number","format":"float"},"activeMinutes":{"type":"number","format":"float"},"totalMinutes":{"type":"number","format":"float"},"externalId":{"type":"string"}},"required":["name","packingEnabled","laborEnabled","cycleEnabled","manufacturingTypeName","unitOfMeasureName"]},"UpdateProductRequest":{"title":"UpdateProductRequest","type":"object","properties":{"name":{"type":"string"},"sku":{"type":"string"},"packingEnabled":{"type":"boolean"},"laborEnabled":{"type":"boolean"},"cycleEnabled":{"type":"boolean"},"manufacturingTypeName":{"type":"string"},"unitOfMeasureName":{"type":"string"},"overheadCost":{"type":"number","format":"float"},"materialCost":{"type":"number","format":"float"},"labelWeight":{"type":"number","format":"float"},"target":{"type":"number","format":"float"},"standardRatePerMin":{"type":"number","format":"float"},"standardRatePerManHour":{"type":"number","format":"float"},"targetCrewSize":{"type":"number","format":"float"},"activeMinutes":{"type":"number","format":"float"},"totalMinutes":{"type":"number","format":"float"},"externalId":{"type":"string"}},"required":["name","packingEnabled","laborEnabled","cycleEnabled","manufacturingTypeName","unitOfMeasureName"]},"SetProductGroupsRequest":{"title":"SetProductGroupsRequest","type":"array","items":{"type":"string","format":"uuid"}},"ReplaceProductGroupsRequest":{"title":"ReplaceProductGroupsRequest","type":"array","items":{"type":"string","format":"uuid"}},"UnitConversion":{"title":"UnitConversion","type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"fromUnitOfMeasure":{"type":"object","required":["uuid","name"],"properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"externalId":{"type":"string"}}},"fromValue":{"type":"number","format":"double","minimum":0},"toUnitOfMeasure":{"type":"object","required":["uuid","name"],"properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"externalId":{"type":"string"}}},"toValue":{"type":"number","format":"double","minimum":0}},"required":["uuid","fromUnitOfMeasure","fromValue","toUnitOfMeasure","toValue"]},"ListUnitConversionsResponse":{"title":"ListUnitConversionsResponse","type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"fromUnitOfMeasure":{"type":"object","required":["uuid","name"],"properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"externalId":{"type":"string"}}},"fromValue":{"type":"number","format":"double","minimum":0},"toUnitOfMeasure":{"type":"object","required":["uuid","name"],"properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"externalId":{"type":"string"}}},"toValue":{"type":"number","format":"double","minimum":0}},"required":["uuid","fromUnitOfMeasure","fromValue","toUnitOfMeasure","toValue"]},"CreateUnitConversionRequest":{"title":"CreateUnitConversionRequest","type":"object","properties":{"fromUnitOfMeasureUUID":{"type":"string","format":"uuid"},"fromValue":{"type":"number","format":"double","minimum":0},"toUnitOfMeasureUUID":{"type":"string","format":"uuid"},"toValue":{"type":"number","format":"double","minimum":0}},"required":["fromUnitOfMeasureUUID","fromValue","toUnitOfMeasureUUID","toValue"]},"UpdateUnitConversionRequest":{"title":"UpdateUnitConversionRequest","type":"object","properties":{"fromUnitOfMeasureUUID":{"type":"string","format":"uuid"},"fromValue":{"type":"number","format":"double","minimum":0},"toUnitOfMeasureUUID":{"type":"string","format":"uuid"},"toValue":{"type":"number","format":"double","minimum":0}},"required":["fromUnitOfMeasureUUID","fromValue","toUnitOfMeasureUUID","toValue"]},"ProductLocationConfig":{"title":"ProductLocationConfig","type":"object","properties":{"location":{"type":"object","required":["uuid","name"],"properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"externalId":{"type":"string"}}},"standardRatePerMin":{"type":"number","format":"double","minimum":0},"standardRatePerManHour":{"type":"number","format":"double","minimum":0},"targetCrewSize":{"type":"number","format":"double","minimum":0}},"required":["location"]},"ListProductLocationConfigsResponse":{"title":"ListProductLocationConfigsResponse","type":"array","items":{"type":"object","properties":{"location":{"type":"object","required":["uuid","name"],"properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"externalId":{"type":"string"}}},"standardRatePerMin":{"type":"number","format":"double","minimum":0},"standardRatePerManHour":{"type":"number","format":"double","minimum":0},"targetCrewSize":{"type":"number","format":"double","minimum":0}},"required":["location"]}},"CreateProductLocationConfigRequest":{"title":"CreateProductLocationConfigRequest","type":"object","properties":{"locationUUID":{"type":"string","format":"uuid"},"standardRatePerMin":{"type":"number","format":"double","minimum":0},"standardRatePerManHour":{"type":"number","format":"double","minimum":0},"targetCrewSize":{"type":"number","format":"double","minimum":0}},"required":["locationUUID"]},"SetProductLocationConfigRequest":{"title":"SetProductLocationConfigRequest","type":"array","items":{"type":"object","properties":{"locationUUID":{"type":"string","format":"uuid"},"standardRatePerMin":{"type":"number","format":"double","minimum":0},"standardRatePerManHour":{"type":"number","format":"double","minimum":0},"targetCrewSize":{"type":"number","format":"double","minimum":0}},"required":["locationUUID"]}},"DeleteProductLocationConfigsRequest":{"type":"array","title":"DeleteProductLocationConfigsRequest","uniqueItems":true,"items":{"type":"string","format":"uuid"},"description":""},"ListUnitOfMeasuresResponse":{"title":"ListUnitOfMeasuresResponse","type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"externalId":{"type":"string"}},"required":["uuid","name"]},"ListLocationsResponse":{"title":"ListLocationsResponse","type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"externalId":{"type":"string"}},"required":["uuid","name"]},"ListCycleTargetsResponse":{"title":"ListCycleTargetsResponse","type":"array","items":{"type":"object","properties":{"productUUID":{"type":"string","format":"uuid"},"unitOfMeasureUUID":{"type":"string","format":"uuid"},"cycleActiveTarget":{"type":"number","format":"double","minimum":0},"totalCycleTarget":{"type":"number","format":"double","minimum":0},"gracePeriod":{"type":"number","format":"double","minimum":0}},"required":["productUUID","unitOfMeasureUUID","cycleActiveTarget","totalCycleTarget"]}},"SetCycleTargetsRequest":{"title":"SetCycleTargetsRequest","type":"array","description":"","items":{"type":"object","properties":{"unitOfMeasureUUID":{"type":"string","format":"uuid"},"cycleActiveTarget":{"type":"number","format":"double","minimum":0},"totalCycleTarget":{"type":"number","format":"double","minimum":0},"gracePeriod":{"type":"number","format":"double","minimum":0}},"required":["unitOfMeasureUUID","cycleActiveTarget","totalCycleTarget"]}},"DeleteCycleTargetsRequest":{"title":"SetCycleTargetsRequest","type":"array","description":"","items":{"type":"object","properties":{"unitOfMeasureUUID":{"type":"string","format":"uuid"}},"required":["unitOfMeasureUUID"]}},"ScheduledRun":{"title":"ScheduledRun","type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"productUUID":{"type":"string","format":"uuid"},"plannedQuantity":{"type":"number","minimum":0,"format":"double"},"plannedStartTime":{"type":"number","format":"double","minimum":0},"runId":{"type":"string"},"customReference":{"type":"string"},"standardRatePerMin":{"type":"number","format":"double","minimum":0},"standardRatePerManHour":{"type":"number","format":"double","minimum":0},"crewSize":{"type":"number","format":"double","minimum":0}},"required":["uuid","productUUID","plannedQuantity"]},"ListScheduledRunsResponse":{"title":"ListScheduledRunsResponse","type":"array","items":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"productUUID":{"type":"string","format":"uuid"},"plannedQuantity":{"type":"number","minimum":0,"format":"double"},"plannedStartTime":{"type":"number","format":"double","minimum":0},"runId":{"type":"string"},"customReference":{"type":"string"},"standardRatePerMin":{"type":"number","format":"double","minimum":0},"standardRatePerManHour":{"type":"number","format":"double","minimum":0},"crewSize":{"type":"number","format":"double","minimum":0}},"required":["uuid","productUUID","plannedQuantity"]}},"CreateScheduledRunRequest":{"title":"CreateScheduledRunRequest","type":"object","description":"","properties":{"productUUID":{"type":"string","format":"uuid"},"plannedQuantity":{"type":"number","minimum":0,"format":"double"},"plannedStartTime":{"type":"number","format":"double","minimum":0},"runId":{"type":"string"},"customReference":{"type":"string"},"standardRatePerMin":{"type":"number","format":"double","minimum":0},"standardRatePerManHour":{"type":"number","format":"double","minimum":0},"crewSize":{"type":"number","format":"double","minimum":0}},"required":["productUUID","plannedQuantity"]},"UpdateScheduledRunRequest":{"title":"CreateScheduledRunRequest","type":"object","description":"","properties":{"productUUID":{"type":"string","format":"uuid"},"plannedQuantity":{"type":"number","minimum":0,"format":"double"},"plannedStartTime":{"type":"number","format":"double","minimum":0},"runId":{"type":"string"},"customReference":{"type":"string"},"standardRatePerMin":{"type":"number","format":"double","minimum":0},"standardRatePerManHour":{"type":"number","format":"double","minimum":0},"crewSize":{"type":"number","format":"double","minimum":0}},"required":["productUUID","plannedQuantity"]},"ListManufacturingTypesResponse":{"title":"ListManufacturingTypesResponse","type":"array","items":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"externalId":{"type":"string"}},"required":["uuid","name"]}},"ListCharacteristicsResponse":{"title":"ListCharacteristicsResponse","type":"array","items":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"}},"required":["uuid"]}},"ListCharacteristicValuesResponse":{"title":"ListCharacteristicValuesResponse","type":"array","items":{"type":"object","properties":{"targetType":{"$ref":"#/components/schemas/CharacteristicValueTargetType"},"locationUUID":{"type":"string","format":"uuid"},"manufacturingTypeUUID":{"type":"string","format":"uuid"},"productUUID":{"type":"string","format":"uuid"},"characteristicUUID":{"type":"string","format":"uuid"},"matchValues":{"type":"array","items":{"type":"string"}},"upperReasonableLimit":{"type":"number","format":"double"},"upperSpecLimit":{"type":"number","format":"double"},"upperControlLimit":{"type":"number","format":"double"},"specStandard":{"type":"number","format":"double"},"target":{"type":"number","format":"double"},"lowerControlLimit":{"type":"number","format":"double"},"lowerSpecLimit":{"type":"number","format":"double"},"lowerReasonableLimit":{"type":"number","format":"double"},"decimalPrecision":{"type":"integer","format":"int32"},"expectedDateFormat":{"type":"string"},"dateLabelBase":{"$ref":"#/components/schemas/DateLabelBase"},"offsetDays":{"type":"integer","format":"int32"}},"required":["targetType","locationUUID","manufacturingTypeUUID","productUUID","characteristicUUID"]}},"SetCharacteristicValuesRequest":{"title":"SetCharacteristicValuesRequest","type":"array","items":{"type":"object","properties":{"targetType":{"$ref":"#/components/schemas/CharacteristicValueTargetType"},"locationUUID":{"type":"string","format":"uuid"},"manufacturingTypeUUID":{"type":"string","format":"uuid"},"productUUID":{"type":"string","format":"uuid"},"characteristicUUID":{"type":"string","format":"uuid"},"matchValues":{"type":"array","items":{"type":"string"}},"upperReasonableLimit":{"type":"number","format":"double"},"upperSpecLimit":{"type":"number","format":"double"},"upperControlLimit":{"type":"number","format":"double"},"specStandard":{"type":"number","format":"double"},"target":{"type":"number","format":"double"},"lowerControlLimit":{"type":"number","format":"double"},"lowerSpecLimit":{"type":"number","format":"double"},"lowerReasonableLimit":{"type":"number","format":"double"},"decimalPrecision":{"type":"integer","format":"int32"},"expectedDateFormat":{"type":"string"},"dateLabelBase":{"$ref":"#/components/schemas/DateLabelBase"},"offsetDays":{"type":"integer","format":"int32"}},"required":["targetType","locationUUID","manufacturingTypeUUID","productUUID","characteristicUUID"]}},"DeleteCharacteristicValuesRequest":{"title":"DeleteCharacteristicValuesRequest","type":"array","items":{"type":"object","properties":{"characteristicUUID":{"type":"string","format":"uuid"},"targetType":{"$ref":"#/components/schemas/CharacteristicValueTargetType"},"targetUUID":{"type":"string","format":"uuid"}},"required":["characteristicUUID","targetType","targetUUID"]}}},"responses":{},"securitySchemes":{"apiKey":{"type":"http","scheme":"bearer"}},"parameters":{}},"tags":[{"name":"Characteristics"},{"name":"Locations"},{"name":"Manufacturing Types"},{"name":"Product Groups"},{"name":"Products"},{"name":"Runs"},{"name":"Unit Of Measures"}],"security":[{"apiKey":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true,"samples-enabled":true}}