{"openapi":"3.1.0","info":{"version":"2.0.0","title":"Send Payments API Reference","description":"## Send Payments API\n\nThe Send Payments API provides a flexible way to manage domestic and international payments. \n\n\nIt's designed to be flexible, allowing a broad range of use cases. This document provides information on the endpoints offered by Send and how to interact with them. You can use these end points to create your own custom workflows or you can implement the workflows we have documented on the Send website.","contact":{"name":"Jake Wauchope","url":"https://www.sendpayments.com","email":"jacob.wauchope@sendpayments.com"}},"tags":[{"name":"Authentication","description":"Every request to the Send Payments API must be signed with the authentication token available by supplying your API Key and Secret."},{"name":"Accounts","description":"Account endpoints can be used to register a new user with Send Payments. There are 2 Customer Account types: Corporate and Individual. Customer Accounts have custody of Trading Accounts which are the backbone of the Send ecosystem. When you register a new Customer Account using a POST we'll set up a Trading Account too and both the accountId and tradingAccountId will be included in the response. You'll need to store these IDs as they are used for many important operations such as creating wallets and booking trades."},{"name":"Wallets","description":"Wallets are currency specific virtual accounts which you can use to store funds, book trades, internal transfers, external payments and more. Wallets are critical to the central funds management flow of the Send Payments ecosystem. Creation of wallets under a trading account allows a Customer Account to receive funds onto their Trading Account and subsequently book trades and payments."},{"name":"Trades","description":"Trades are the means by which Wallets (and thereby, the associated Trading Account) exchange one currency for another. The exchange rate for a trade can either be locked in using a rate sheet or calculated at the market rate when booking."},{"name":"Payments","description":"Payments can be used to either move money between wallets (transfers) or send money to a recipient outside the Send ecosystem (payouts)."},{"name":"Webhooks","description":"The webhook endpoints allow you to manage your configuration of webhooks receivable from the Send platform."},{"name":"Sandbox","description":"Sandbox endpoints are only valid in our demo environment and can be used to simulate events you would not normally have control over."}],"servers":[{"url":"https://transactional-api.demo.sendpayments.com/{version}","description":"Demonstration environment.","variables":{"version":{"default":"v2"}}},{"url":"https://transactional-api.sendpayments.com/{version}","description":"Production environment.","variables":{"version":{"default":"v2"}}}],"security":[{"bearerAuthentication":[]}],"paths":{"/auth":{"post":{"tags":["Authentication"],"operationId":"POST/auth","description":"Authenticates your connection to the Send API and supplies a token for subsequent calls.","summary":"/auth","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostAuthRequest"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/AuthCredentials"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/account/individual":{"post":{"tags":["Accounts"],"operationId":"POST/account/individual","description":"Creates a new account for an individual user and returns a tradingAccountId that can be used to execute financial requests across the platform.","summary":"/account/individual","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndividualAccount"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/IndividualAccount"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/account/corporate":{"post":{"tags":["Accounts"],"operationId":"POST/account/corporate","description":"Creates a new account for an corporate user and returns a tradingAccountId that can be used to execute financial requests across the platform.","summary":"/account/corporate","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorporateAccount"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/CorporateAccount"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/account/{accountId}/authorisedrepresentative":{"post":{"tags":["Accounts"],"operationId":"POST/account/accountId/authorisedrepresentative","description":"Add a specific individual to an account who has authority to act on behalf of the account owner.","summary":"/account/{accountId}/authorisedrepresentative","parameters":[{"$ref":"#/components/parameters/idempotency"},{"$ref":"#/components/parameters/accountId"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorisedRepresentative"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/AuthorisedRepresentative"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/account/{accountId}":{"get":{"tags":["Accounts"],"operationId":"GET/account/accountId","description":"Given a valid accountId in the URL {accountId}, this will return the details for an individual or corporate account, including authorized representatives, as per the 201 responses for the POST/account/individual and POST/account/corporate respectively","summary":"/account/{accountId}","parameters":[{"$ref":"#/components/parameters/accountId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"oneOf":[{"$ref":"#/components/schemas/IndividualAccount"},{"$ref":"#/components/schemas/CorporateAccount"}]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/wallet":{"post":{"tags":["Wallets"],"operationId":"POST/wallet","description":"Creates a new currency wallet for the trading account.","summary":"/wallet","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostWalletRequest"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"oneOf":[{"$ref":"#/components/schemas/Wallet"},{"$ref":"#/components/schemas/WalletWithPayinAddress"}]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/payinaddress":{"post":{"tags":["Wallets"],"operationId":"POST/payinaddress","description":"Creates a new payin address for a Wallet. Allows the sending of funds from outside the Send platform to a specific Wallet.","summary":"/payinaddress","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinAddress"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PayinAddress"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/wallet/{walletId}/payinaddress":{"get":{"tags":["Wallets"],"operationId":"GET/wallet/walletId/payinaddress","description":"Retrieves previously created payin addresses for a wallet.","summary":"/wallet/{walletId}/payinaddress","parameters":[{"$ref":"#/components/parameters/perPage"},{"$ref":"#/components/parameters/pageNumber"},{"$ref":"#/components/parameters/walletId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","maxLength":1000,"items":{"oneOf":[{"$ref":"#/components/schemas/PayinAddress"}]}},"metaData":{"$ref":"#/components/schemas/PaginationMetaData"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/wallet/{walletId}/payin":{"get":{"tags":["Wallets"],"operationId":"GET/wallet/walletId/payin","description":"Fetches all the payins for a specified wallet.","summary":"/wallet/{walletId}/payin","parameters":[{"$ref":"#/components/parameters/perPage"},{"$ref":"#/components/parameters/pageNumber"},{"$ref":"#/components/parameters/walletId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","maxLength":1000,"items":{"oneOf":[{"$ref":"#/components/schemas/Payin"}]}},"metaData":{"$ref":"#/components/schemas/PaginationMetaData"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/wallet/{walletId}/{payinId}":{"get":{"tags":["Wallets"],"operationId":"GET/wallet/walletId/payinId","description":"Fetches the details of a specific payin.","summary":"/wallet/{walletId}/{payinId}","parameters":[{"$ref":"#/components/parameters/walletId"},{"$ref":"#/components/parameters/payinId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/Payin"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/wallet/{walletId}":{"get":{"tags":["Wallets"],"operationId":"GET/wallet/walletId","description":"Fetches the details for a specific wallet including its current balance.","summary":"/wallet/{walletId}","parameters":[{"$ref":"#/components/parameters/walletId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/Wallet"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/account/{tradingaccountId}/wallet":{"get":{"tags":["Wallets"],"operationId":"GET/account/tradingaccountId/wallet","description":"Fetches the wallets for a specific trading account.","summary":"/account/{tradingaccountId}/wallet","parameters":[{"$ref":"#/components/parameters/perPage"},{"$ref":"#/components/parameters/pageNumber"},{"$ref":"#/components/parameters/tradingaccountId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","maxLength":1000,"items":{"oneOf":[{"$ref":"#/components/schemas/Wallet"}]}},"metaData":{"$ref":"#/components/schemas/PaginationMetaData"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/ratesheet":{"post":{"tags":["Trades"],"operationId":"POST/ratesheet","description":"Fetches a rate for a given currency pairing. Rates can be used to calculate the buy and sell amounts of a client trade and can be cited to subsequently book it in.","summary":"/ratesheet","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostRatesheetRequest"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/Ratesheet"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/quote":{"post":{"tags":["Trades"],"operationId":"POST/quote","description":"Fetches a quote for a given currency pairing. Quotes can be used to calculate the buy and sell amounts of a client trade and can be cited to subsequently book it in.","summary":"/quote","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostQuoteRequest"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/Quote"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/trade/spot":{"post":{"tags":["Trades"],"operationId":"POST/trade/spot","description":"The Spot trade endpoint executes a trade between two currencies which is executable immediately. Payments can be optionally linked for currencies not supported by wallets or where there is a 1:1 coupling between trade and payment.","summary":"/trade/spot","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTradeSpotRequest"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/SpotTrade"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/ratesheet/{ratesheetId}":{"get":{"tags":["Trades"],"operationId":"GET/ratesheet/ratesheetId","description":"Retrieves a previously create ratesheet for a currency pair for a specific wallet.","summary":"/ratesheet/{ratesheetId}","parameters":[{"$ref":"#/components/parameters/ratesheetId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/Ratesheet"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/trade/{tradeTransactionId}":{"get":{"tags":["Trades"],"operationId":"GET/trade/tradeTransactionId","description":"Retrieves a previously created trade.","summary":"/trade/{tradeTransactionId}","parameters":[{"$ref":"#/components/parameters/tradeTransactionId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"oneOf":[{"$ref":"#/components/schemas/SpotTrade"}]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/account/{tradingaccountId}/trade":{"get":{"tags":["Trades"],"operationId":"GET/account/tradingaccountId/trade","description":"Retrieves all trades for a specific trading account.","summary":"/account/{tradingaccountId}/trade","parameters":[{"$ref":"#/components/parameters/perPage"},{"$ref":"#/components/parameters/pageNumber"},{"$ref":"#/components/parameters/tradingaccountId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","maxLength":1000,"items":{"oneOf":[{"$ref":"#/components/schemas/SpotTrade"}]}},"metaData":{"$ref":"#/components/schemas/PaginationMetaData"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/payment/payout":{"post":{"tags":["Payments"],"operationId":"POST/payment/payout","description":"Make a payment to a recipient outside of the Send ecosystem.","summary":"/payment/payout","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayoutPayment"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PayoutPayment"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/payment/transfer":{"post":{"tags":["Payments"],"operationId":"POST/payment/transfer","description":"Transfer funds between Send Wallets","summary":"/payment/transfer","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferPayment"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/TransferPayment"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/payment":{"get":{"tags":["Payments"],"operationId":"GET/payment","description":"Returns all payments of all types (payouts and transfers) for the enterprise account. Allows limited filtering by paymentType.","summary":"/payment","parameters":[{"$ref":"#/components/parameters/paymentType"},{"$ref":"#/components/parameters/payoutType"},{"$ref":"#/components/parameters/perPage"},{"$ref":"#/components/parameters/pageNumber"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","maxLength":1000,"items":{"oneOf":[{"$ref":"#/components/schemas/PayoutPayment"},{"$ref":"#/components/schemas/TransferPayment"}]}},"metaData":{"$ref":"#/components/schemas/PaginationMetaData"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/payment/{paymentTransactionId}":{"get":{"tags":["Payments"],"operationId":"GET/payment/paymentTransactionId","description":"Feteches a specific previously created payment.","summary":"/payment/{paymentTransactionId}","parameters":[{"$ref":"#/components/parameters/paymentTransactionId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"oneOf":[{"$ref":"#/components/schemas/PayoutPayment"},{"$ref":"#/components/schemas/TransferPayment"}]}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/account/{tradingaccountId}/payments":{"get":{"tags":["Payments"],"operationId":"GET/account/tradingaccountId/payments","description":"Fetches all payments for all wallets within a specific trading account.","summary":"/account/{tradingaccountId}/payments","parameters":[{"$ref":"#/components/parameters/perPage"},{"$ref":"#/components/parameters/pageNumber"},{"$ref":"#/components/parameters/tradingaccountId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","maxLength":1000,"items":{"oneOf":[{"$ref":"#/components/schemas/PayoutPayment"},{"$ref":"#/components/schemas/TransferPayment"}]}},"metaData":{"$ref":"#/components/schemas/PaginationMetaData"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/recipient":{"post":{"tags":["Payments"],"operationId":"POST/recipient","description":"Creates a new recipient for the trading account. A Payment Address is required to facilitate making payouts.","summary":"/recipient","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Recipient"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/Recipient"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/recipient/{recipientId}/paymentAddress":{"post":{"tags":["Payments"],"operationId":"POST/recipient/recipientId/paymentAddress","description":"Creates a new paymentAddress for an existing recipient.","summary":"/recipient/{recipientId}/paymentAddress","parameters":[{"$ref":"#/components/parameters/idempotency"},{"$ref":"#/components/parameters/recipientId"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentAddress"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PaymentAddress"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/paymentAddress/{paymentAddressId}":{"get":{"tags":["Payments"],"operationId":"GET/paymentAddress/paymentAddressId","description":"Retrieves an existing payment address.","summary":"/paymentAddress/{paymentAddressId}","parameters":[{"$ref":"#/components/parameters/paymentAddressId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PaymentAddress"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/recipient/{recipientId}":{"get":{"tags":["Payments"],"operationId":"GET/recipient/recipientId","description":"Retrieves an individual recipient by it's ID.","summary":"/recipient/{recipientId}","parameters":[{"$ref":"#/components/parameters/recipientId"}],"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/Recipient"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/account/{tradingaccountId}/recipients":{"get":{"tags":["Payments"],"operationId":"GET/recipient/tradingAccountId","description":"Retrieves a list of recipients for the given tradingAccountId.","summary":"/account/{tradingaccountId}/recipients","parameters":[{"$ref":"#/components/parameters/perPage"},{"$ref":"#/components/parameters/pageNumber"},{"$ref":"#/components/parameters/tradingaccountId"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","maxLength":1000,"items":{"oneOf":[{"$ref":"#/components/schemas/Recipient"}]}},"metaData":{"$ref":"#/components/schemas/PaginationMetaData"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/sandbox/payin":{"post":{"tags":["Sandbox"],"operationId":"POST/sandbox/payin","description":"Simulate the action of payining money to a wallet in order to fund a trade or payment.","summary":"/sandbox/payin","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostSandboxPayinRequest"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/Payin"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/webhook":{"post":{"tags":["Webhooks"],"operationId":"POST/webhook","description":"Subscribe to your choice of events by providing a url to receive event notification requests from the Send API.","summary":"/webhook","parameters":[{"$ref":"#/components/parameters/idempotency"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"responses":{"201":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/Webhook"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}},"get":{"tags":["Webhooks"],"operationId":"GET/webhook","description":"Fetches all webhooks for an enterprise user.","summary":"/webhook","parameters":[{"$ref":"#/components/parameters/perPage"},{"$ref":"#/components/parameters/pageNumber"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"$ref":"#/components/schemas/Webhook"},"metaData":{"$ref":"#/components/schemas/PaginationMetaData"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}},"/webhook/{webhookId}":{"delete":{"tags":["Webhooks"],"operationId":"DELETE/webhook/webhookId","description":"Deactivates a specific webhook.","summary":"/webhook/{webhookId}","parameters":[{"$ref":"#/components/parameters/webhookId"}],"responses":{"204":{"description":"Successful response.","content":{"application/json":{"schema":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/Webhook"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}}},"components":{"parameters":{"idempotency":{"in":"header","name":"idempotency","schema":{"type":"string","pattern":"^[a-zA-Z 0-9-_+=/]*$","example":"2a705afd-d75c-4806-ac5e-92aa18b19312","maxLength":36}},"accountId":{"in":"path","name":"accountId","required":true,"schema":{"type":"string","format":"send-record-id","pattern":"[a-zA-Z]{1,63}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}","minLength":38,"maxLength":100}},"perPage":{"in":"query","name":"perPage","description":"The maximum number of records per page to return.","schema":{"type":"number","format":"int64","maximum":1000,"minimum":1,"example":100}},"pageNumber":{"in":"query","name":"pageNumber","description":"The number of the page to return. The default starting point is the UTC date time when we receive the request and the default sort order is ascending. NOTE: Records could be added or updated between request.","schema":{"type":"number","format":"int64","example":1}},"walletId":{"in":"path","name":"walletId","required":true,"schema":{"type":"string","format":"send-record-id","pattern":"[a-zA-Z]{1,63}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}","minLength":38,"maxLength":100,"example":"wallet_5e505642-9024-474d-9434-e5a44f505aa"}},"payinId":{"in":"path","name":"payinId","required":true,"schema":{"type":"string","format":"send-record-id","pattern":"[a-zA-Z]{1,63}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}","minLength":38,"maxLength":100,"example":"payin_5e505642-9024-474d-9434-e5a44f505bb"}},"tradingaccountId":{"in":"path","name":"tradingaccountId","required":true,"schema":{"type":"string","format":"send-record-id","pattern":"[a-zA-Z]{1,63}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}","minLength":38,"maxLength":100,"example":"tradingAccount_5e505642-9024-474d-9434-e5a44f505cc"}},"paymentAddressId":{"in":"path","name":"paymentAddressId","required":true,"schema":{"type":"string","format":"send-record-id","pattern":"[a-zA-Z]{1,63}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}","minLength":38,"maxLength":100,"example":"paymentAddress_5e505642-9024-474d-9434-e5a44f505cc"}},"ratesheetId":{"in":"path","name":"ratesheetId","required":true,"schema":{"type":"string","format":"send-record-id","pattern":"[a-zA-Z]{1,63}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}","minLength":38,"maxLength":100,"example":"ratesheet_3e4df874-7284-a2c9-a0e2-376ac8b26dd1"}},"tradeTransactionId":{"in":"path","name":"tradeTransactionId","required":true,"schema":{"type":"string","format":"send-record-id","pattern":"[a-zA-Z]{1,63}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}","minLength":38,"maxLength":100,"example":"tradeTransaction_5e505642-9024-474d-9434-e5a44f505dd"}},"paymentType":{"in":"query","name":"paymentType","description":"The type of the payment.","schema":{"$ref":"#/components/schemas/EnumPaymentType"}},"payoutType":{"in":"query","name":"payoutType","description":"The type of the payment.","schema":{"$ref":"#/components/schemas/EnumPayoutType"}},"paymentTransactionId":{"in":"path","name":"paymentTransactionId","required":true,"schema":{"type":"string","format":"send-record-id","pattern":"[a-zA-Z]{1,63}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}","minLength":38,"maxLength":100,"example":"paymentTransaction_5e505642-9024-474d-9434-e5a44f505ee"}},"recipientId":{"in":"path","name":"recipientId","required":true,"schema":{"type":"string","format":"send-record-id","pattern":"[a-zA-Z]{1,63}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}","minLength":38,"maxLength":100,"example":"recipient_5e505642-9024-474d-9434-e5a44f505ff"}},"webhookId":{"in":"path","name":"webhookId","required":true,"schema":{"type":"string","format":"send-record-id","pattern":"[a-zA-Z]{1,63}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}","minLength":38,"maxLength":100,"example":"webhook_4e505642-9024-474d-9434-e5a44f505ff"}}},"schemas":{"Currency":{"type":"string","format":"iso4217","minLength":3,"maxLength":3,"example":"AUD"},"Country":{"type":"string","format":"iso3166","minLength":2,"maxLength":2,"example":"AU"},"SendRecordId":{"type":"string","format":"send-record-id","minLength":38,"maxLength":100},"AccountId":{"allOf":[{"$ref":"#/components/schemas/SendRecordId"},{"pattern":"account_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"}]},"TradingAccountId":{"allOf":[{"$ref":"#/components/schemas/SendRecordId"},{"pattern":"tradingAccount_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"}]},"TradeTransactionId":{"allOf":[{"$ref":"#/components/schemas/SendRecordId"},{"pattern":"tradeTransaction_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"}]},"RatesheetId":{"allOf":[{"$ref":"#/components/schemas/SendRecordId"},{"pattern":"ratesheet_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"}]},"WalletId":{"allOf":[{"$ref":"#/components/schemas/SendRecordId"},{"pattern":"wallet_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"}]},"PayinTransactionId":{"allOf":[{"$ref":"#/components/schemas/SendRecordId"},{"pattern":"payinTransaction_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"}]},"PayinAddressId":{"allOf":[{"$ref":"#/components/schemas/SendRecordId"},{"pattern":"payinAddress_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"}]},"PaymentAddressId":{"allOf":[{"$ref":"#/components/schemas/SendRecordId"},{"pattern":"paymentAddress_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"}]},"PaymentTransactionId":{"allOf":[{"$ref":"#/components/schemas/SendRecordId"},{"pattern":"paymentTransaction_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"}]},"RecipientId":{"allOf":[{"$ref":"#/components/schemas/SendRecordId"},{"pattern":"recipient_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"}]},"AuthorisedRepresentativeId":{"allOf":[{"$ref":"#/components/schemas/SendRecordId"},{"pattern":"authorisedRepresentative_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"}]},"ClientId":{"allOf":[{"$ref":"#/components/schemas/SendRecordId"},{"pattern":"[a-z]{4}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"}]},"PaginationMetaData":{"type":"object","properties":{"totalRecords":{"type":"number","format":"int64","description":"Total number of records in the collection ignoring pagination. Use this to determine if records have been added or removed between calls.","example":1},"totalRecordsInResponse":{"type":"number","format":"int64","description":"Total number of records in the data array. The total number for a specified page may differ between requests to the same URL if an item was added or removed from the collection between requests.","example":1},"pagination":{"type":"object","properties":{"pageNumber":{"type":"number","format":"int64","description":"The value of the pageNumber parameter supplied in the URL.","example":1},"perPage":{"type":"number","format":"int64","description":"The value of the perPage parameter supplied in the URL.","example":100}}}}},"SpotTrade":{"type":"object","required":["tradeTransactionId","buyCurrency","sellCurrency","bookedbuyAmount","bookedSellAmount","rate","status","fromWalletId","createdAt","updatedAt"],"properties":{"tradeTransactionId":{"allOf":[{"$ref":"#/components/schemas/TradeTransactionId"},{"description":"ID of the trade transaction itself.","readOnly":true}]},"buyCurrency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of the currency being bought."}],"example":"NZD"},"sellCurrency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of the currency being sold."}]},"buyAmount":{"type":"number","format":"int64","minimum":0,"description":"How much the account owner will receive in the buy currency.","example":20000},"sellAmount":{"type":"number","format":"int64","minimum":0,"description":"How much is owed by the account owner in order to fund the trade.","example":19000},"ratesheetId":{"allOf":[{"$ref":"#/components/schemas/RatesheetId"},{"description":"The id of the Ratesheet used to generate the trades rate."}]},"rate":{"type":"number","format":"double","description":"Actual rate the trade was booked at.","readOnly":true},"status":{"allOf":[{"$ref":"#/components/schemas/EnumTradeTransactionStatus"},{"description":"The status of the trade transaction."}]},"fromWalletId":{"allOf":[{"$ref":"#/components/schemas/WalletId"},{"description":"The ID of the wallet which will supply the sell currency."}]},"toWalletId":{"allOf":[{"$ref":"#/components/schemas/WalletId"},{"description":"The ID of the wallet which if specified the buy currency will fall into."}]},"tenor":{"allOf":[{"$ref":"#/components/schemas/EnumTenor"},{"description":"The tenor of the trade."}]},"settlementDate":{"type":"string","format":"date-time","description":"The UTC datetime for when the trade will settle."},"createdAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC datetime for when the trade was created.","readOnly":true},"updatedAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC datetime for when the trade was last updated.","readOnly":true},"externalReference":{"type":"string","description":"An optional value that can be passed in to later reference a related resource in the partner system."},"payment":{"$ref":"#/components/schemas/PayoutPayment"}}},"PayoutPayment":{"type":"object","required":["paymentTransactionId","paymentReason","reference","paymentType","currency","amount","fromWalletId","recipientId","paymentAddressId","status","createdAt","updatedAt"],"properties":{"paymentTransactionId":{"allOf":[{"$ref":"#/components/schemas/PaymentTransactionId"},{"description":"The Id of the payment transaction.","readOnly":true}]},"paymentReason":{"allOf":[{"$ref":"#/components/schemas/EnumPaymentReasons"},{"description":"The reason defined for the payment."}]},"reference":{"type":"string","minLength":1,"maxLength":18,"description":"The reference which will show on the recipients bank records."},"paymentType":{"allOf":[{"$ref":"#/components/schemas/EnumPaymentType"},{"description":"The rails the payment has been executed upon based upon the recipient payment address.","readOnly":true}]},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"The currency the payment is being made in."}]},"amount":{"type":"number","format":"int64","description":"The amount of the payment."},"fromWalletId":{"allOf":[{"$ref":"#/components/schemas/WalletId"},{"description":"The ID of the wallet where the payment is being sent from."}]},"recipientId":{"allOf":[{"$ref":"#/components/schemas/RecipientId"},{"description":"The recipient of the payment."}]},"paymentAddressId":{"allOf":[{"$ref":"#/components/schemas/PaymentAddressId"},{"description":"The ID of the payment address."}]},"failureReason":{"type":"string","readOnly":true,"description":"If the payment has failed, this field will contain the reason for the failure. If the payment has not failed, this field will be empty."},"status":{"allOf":[{"$ref":"#/components/schemas/EnumPaymentTransactionStatus"},{"description":"The status of the payment transaction.","readOnly":true}]},"createdAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC datetime for when the payment was created.","readOnly":true},"updatedAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC datetime for when the payment was last updated.","readOnly":true},"paymentDate":{"type":"string","format":"date","description":"The date the payment will be released to the recipient.","readOnly":true},"externalReference":{"type":"string","description":"An optional value that can be passed in to later reference a related resource in the partner system."}}},"TransferPayment":{"type":"object","required":["paymentTransactionId","paymentType","currency","amount","fromWalletId","toWalletId","status","createdAt","updatedAt"],"properties":{"paymentTransactionId":{"allOf":[{"$ref":"#/components/schemas/PaymentTransactionId"},{"description":"The ID of the payment from the payers wallet","readOnly":true}]},"paymentReason":{"allOf":[{"$ref":"#/components/schemas/EnumPaymentReasons"},{"description":"The reason for the Transfer"}]},"reference":{"type":"string","minLength":1,"maxLength":18,"description":"The reference to show on the recipients payin transaction.","example":"My reference"},"paymentType":{"allOf":[{"$ref":"#/components/schemas/EnumPaymentType"},{"description":"Which type of payment is being made. Will always be \"transfer\".","readOnly":true}]},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"Currency of the transfer."}]},"amount":{"type":"number","format":"int64","description":"Amount of the currency being sent.","example":50000},"tradeTransactionIds":{"type":"array","description":"If a payment is being sent as a result of one or many trades, they must be linked here. If there is no linked trades (ie AUD to AUD) then this array should be left empty.","items":{"$ref":"#/components/schemas/TradeTransactionId"}},"fromWalletId":{"allOf":[{"$ref":"#/components/schemas/WalletId"},{"description":"The ID of the wallet where the payment is being sent from."}]},"toWalletId":{"allOf":[{"$ref":"#/components/schemas/WalletId"},{"description":"The ID of the wallet where the transfer is being sent to."}]},"status":{"allOf":[{"$ref":"#/components/schemas/EnumPaymentTransactionStatus"},{"description":"The status of the payment.","readOnly":true}]},"createdAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The date-time the transfer was created.","readOnly":true},"updatedAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The date-time the transfer was updated.","readOnly":true},"externalReference":{"type":"string","description":"An optional value that can be passed in to later reference a related resource in the partner system."}}},"Wallet":{"type":"object","required":["tradingAccountId","walletId","currency","walletName","walletDescription","status","balance","createdAt","updatedAt"],"properties":{"tradingAccountId":{"allOf":[{"$ref":"#/components/schemas/TradingAccountId"},{"description":"ID of the trading account the wallet has been created under."}]},"walletId":{"allOf":[{"$ref":"#/components/schemas/WalletId"},{"description":"ID of the created wallet.","readOnly":true}]},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"Currency of the created wallet."}]},"walletName":{"type":"string","maxLength":100,"minLength":1,"description":"Human readable name for the wallet.","example":"My NZD Wallet"},"walletDescription":{"type":"string","maxLength":200,"minLength":1,"description":"Human readable description for the wallet.","example":"For my NZD payments."},"status":{"allOf":[{"$ref":"#/components/schemas/EnumWalletStatus"},{"description":"Status of the wallet.","readOnly":true}]},"balance":{"type":"object","readOnly":true,"required":["avaliable","pending","receivable","payable"],"properties":{"total":{"type":"number","format":"int64","description":"The total amount of actual money held on the wallet agnostic of any in flight transactions.","readOnly":true,"example":3300000},"committed":{"type":"number","format":"int64","description":"Equals the amount of money needed on the wallet in order to fund any in-flight transactions. If this value exceeds the totalBalance of the wallet additional funds must be paid in to fulfil the booked transactions.","readOnly":true,"example":20000},"available":{"type":"number","format":"int64","description":"Equals the amount of uncommitted funds available to the wallet. Is a function of the totalBalance minus the committedBalance (however will never be negative)","readOnly":true,"example":34590}}},"createdAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-time the wallet was created.","readOnly":true},"updatedAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The date-time the wallet was last updated.","readOnly":true}}},"WalletWithPayinAddress":{"allOf":[{"$ref":"#/components/schemas/Wallet"},{"properties":{"payinAddress":{"allOf":[{"$ref":"#/components/schemas/PayinAddress"}]}}}]},"IndividualAccount":{"type":"object","required":["accountId","tradingAccountId","firstName","lastName","physicalAddress","isActingAsTrustee","status","createdAt","updatedAt"],"properties":{"accountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The parent id for the created account.","readOnly":true}]},"tradingAccountId":{"allOf":[{"$ref":"#/components/schemas/TradingAccountId"},{"description":"The trading account id for the created account. This is used in subsequent requests to execute trades and payments on behalf of the account. In the future, accounts will be able to operate multiple trading accounts for greater control and flexibility.","readOnly":true}]},"birthDate":{"type":"string","format":"date","description":"Date of birth of the individual being registered."},"email":{"type":"string","format":"email","minLength":3,"maxLength":254,"description":"Email of the individual being registered. This is required if Send is compelting KYC on the account.","example":"kad@sd3sef3.com"},"firstName":{"type":"string","description":"First Name of the individual being registered.","example":"Kim"},"lastName":{"type":"string","description":"Last Name of the individual being registered.","example":"Doe"},"middleName":{"type":"string","description":"Middle Name of the individual being registered. This is required if the individual has a middle name.","example":"Alex"},"phoneCountryCode":{"type":"string","minLength":2,"maxLength":5,"pattern":"^[0-9]{2,4}$","example":"61","description":"Country calling code for the phone number of the individual."},"phone":{"type":"string","minLength":3,"maxLength":15,"description":"Phone number of the individual being registered. Required if Send is completing KYC on the individual.","example":295463822},"physicalAddress":{"type":"object","description":"Address object representing the physical address of the individual, not the postal address. Can use any valid combination of optional address lines.","required":["city","country","postcode"],"properties":{"city":{"type":"string","description":"City where the individual lives.","example":"Sydney"},"country":{"allOf":[{"$ref":"#/components/schemas/Country"},{"description":"Country where the individual lives."}],"example":"AU"},"postcode":{"type":"string","description":"Postcode of the individuals address.","example":2000},"state":{"type":"string","description":"State of the individuals address.","example":"NSW"},"addressLine1":{"type":"string","description":"Free form text for postal address - line 1.","example":"Harbourside Apartments"},"addressLine2":{"type":"string","description":"Free form text for postal address - line 2."},"streetName":{"type":"string","description":"Street Name of the individuals address.","example":"Fancy"},"streetNumber":{"type":"string","description":"Street Number of the individuals address.","example":"1"},"streetType":{"type":"string","description":"Type of Street ie (Street, Lane, Road etc).","example":"Street"},"unitNumber":{"type":"string","description":"Unit Number of the individuals address (if applicable).","example":"22"}}},"primaryIdentification":{"allOf":[{"$ref":"#/components/schemas/Identification"}]},"authorisedRepresentatives":{"type":"array","items":{"$ref":"#/components/schemas/AuthorisedRepresentative"}},"termsAndConditionsAccepted":{"type":"boolean","description":"Flag  to confirm that the individual has been shown and explicitly accepted Sends Terms and Conditions."},"isActingAsTrustee":{"type":"boolean","description":"Indicates whether the account is being opened on behalf of an individual acting as a trustee."},"trust":{"allOf":[{"$ref":"#/components/schemas/Trust"}]},"status":{"allOf":[{"$ref":"#/components/schemas/EnumAccountRegistrationStatus"},{"description":"Registration status of the individual account."}]},"createdAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-time that the account was created.","readOnly":true},"updatedAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-time that the account was last updated.","readOnly":true},"externalReference":{"type":"string","description":"An optional value that can be passed in to later reference a related resource in the partner system."}}},"CorporateAccount":{"type":"object","required":["accountId","tradingAccountId","corporateName","corporateRegistrationNumber","corporateType","physicalAddress","authorisedRepresentatives","isActingAsTrustee","status","createdAt","updatedAt"],"properties":{"accountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The parent id for the created account.","readOnly":true}]},"tradingAccountId":{"allOf":[{"$ref":"#/components/schemas/TradingAccountId"},{"description":"The trading account id for the created account. This is used in subsequent requests to execute trades and payments on behalf of the account. In the future, accounts will be able to operate multiple trading accounts for greater control and flexibility.","readOnly":true}]},"corporateName":{"type":"string","description":"Legally registered name of the corporate.","example":"KAD Engineering Limited"},"corporateBusinessName":{"type":"string","description":"Common or trading name of the corporate.","example":"KAD Engineering"},"corporateRegistrationNumber":{"type":"string","description":"Registration number of the corporate based on their country of registration.","example":"51 824 753 556"},"corporateRegistrationType":{"allOf":[{"$ref":"#/components/schemas/EnumCorporateRegistrationType"},{"description":"Type of corporate registration number being supplied (for examples ABN or ACN)."}]},"corporateType":{"allOf":[{"$ref":"#/components/schemas/EnumCorporateType"},{"description":"The type of entity the corporate is operating under. If the specific option is not present please pick the most relevant or select 'other'."}]},"countryOfRegistration":{"allOf":[{"$ref":"#/components/schemas/Country"},{"description":"Country where the corporate is registered. Denoted using 2 letter ISO standard for country codes."}]},"phoneCountryCode":{"type":"string","minLength":2,"maxLength":5,"pattern":"^[0-9]{2,4}$","example":"61","description":"Country calling code for the phone number of the corporate."},"phone":{"type":"string","minLength":3,"maxLength":15,"description":"Phone number of the corporate being registered.","example":"08 2223 4567"},"physicalAddress":{"type":"object","description":"Address object representing the physical address of the corporate, not the postal address. Can use any valid combination of optional address lines.","required":["city","country","postcode"],"properties":{"city":{"type":"string","description":"City where the corporates HQ is located.","example":"Sydney"},"country":{"allOf":[{"$ref":"#/components/schemas/Country"},{"description":"Country where the corporates HQ. Denoted using 2 letter ISO standard for country codes."}],"example":"AU"},"postcode":{"type":"string","description":"Postcode of the corporates HQ address.","example":2000},"state":{"type":"string","description":"State of the corporates HQ address.","example":"NSW"},"addressLine1":{"type":"string","description":"Free form text for postal address - line 1."},"addressLine2":{"type":"string","description":"Free form text for postal address - line 2."},"streetName":{"type":"string","description":"Street Name of the corporates HQ address.","example":"Farrar"},"streetNumber":{"type":"string","description":"Street Number of the corporates HQ address."},"streetType":{"type":"string","description":"Type of Street ie (Street, Lane, Road etc).","example":"Rd"},"unitNumber":{"type":"string","description":"Unit Number of the corporates HQ address (if applicable).","example":5}}},"authorisedRepresentatives":{"type":"array","items":{"$ref":"#/components/schemas/AuthorisedRepresentative"}},"termsAndConditionsAccepted":{"type":"boolean","description":"Flag  to confirm that a corporate representative has been shown and explicitly accepted Sends Terms and Conditions."},"isActingAsTrustee":{"type":"boolean","description":"Indicates whether the account is being opened on behalf of a corporate entity acting as a trustee."},"trust":{"allOf":[{"$ref":"#/components/schemas/Trust"}]},"status":{"allOf":[{"$ref":"#/components/schemas/EnumAccountRegistrationStatus"},{"description":"Registration status of the corporate account.","readOnly":true}]},"createdAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-time that the account was created.","readOnly":true},"updatedAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-time that the account was last updated.","readOnly":true},"externalReference":{"type":"string","description":"An optional value that can be passed in to later reference a related resource in the partner system."}}},"Webhook":{"type":"object","required":["webhookId","url","events","description","createdAt","updatedAt","status"],"properties":{"webhookId":{"type":"string","description":"The unique identifier for the webook record.","readOnly":true},"url":{"type":"string","format":"url","description":"The URL that will receive events from the Send API.","example":"https://www.testtest123456666.com/apievents1"},"events":{"type":"array","description":"Array of events that the URL will receive updates for.","items":{"type":"string"},"example":["account_registration_status_updated","authorised_representative_status_updated","wallet_status_updated","payin_address_status_updated","payin_transaction_created","payin_transaction_status_updated","trade_transaction_status_updated","payment_transaction_updated"]},"description":{"type":"string","description":"Free text to describing the webhook.","example":"Primary webhook target"},"createdAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-time that the webhook record was created.","readOnly":true},"updatedAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-time that the webhook record was updated.","readOnly":true},"status":{"allOf":[{"$ref":"#/components/schemas/EnumWebhookStatus"},{"description":"The status of the of the webhook.","readOnly":true}]}}},"Recipient":{"type":"object","required":["tradingAccountId","recipientType","physicalAddress","createdAt","updatedAt","status","paymentAddresses"],"properties":{"tradingAccountId":{"allOf":[{"$ref":"#/components/schemas/TradingAccountId"},{"description":"The trading account that the recipient should be linked to."}]},"clientReferenceName":{"type":"string","description":"Client reference name for the recipient."},"firstName":{"type":"string","description":"First name for the Recipient (Only for Individuals).","example":"Kim"},"lastName":{"type":"string","description":"Last name for the Recipient (Only for Individuals).","example":"Alex"},"middleName":{"type":"string","description":"Middle name for the Recipient (Only for Individuals).","example":"Doe"},"recipientType":{"allOf":[{"$ref":"#/components/schemas/EnumRecipientType"},{"description":"Defines what type of entity the receipient is. This will dictate which other fields become required (ie First name is required for Individuals)."}]},"physicalAddress":{"type":"object","description":"Address object representing the physical address of the recipient, not the postal address. Can use any valid combination of optional address lines.","required":["city","country","postcode"],"properties":{"city":{"type":"string","description":"City the recipient resides in.","example":"Christchurch"},"country":{"allOf":[{"$ref":"#/components/schemas/Country"},{"description":"Country the recipient resides in."}],"example":"NZ"},"postcode":{"type":"string","description":"Postcode the recipient resides in.","example":8011},"state":{"type":"string","description":"State the recipient resides in."},"addressLine1":{"type":"string","description":"Free form text for postal address - line 1.","example":"1 Short Street"},"addressLine2":{"type":"string","description":"Free form text for postal address - line 2."},"streetName":{"type":"string","description":"Street name of the recipient address."},"streetNumber":{"type":"string","description":"Street number of the recipient address."},"streetType":{"type":"string","description":"Street number of the recipient address."},"unitNumber":{"type":"string","description":"Unit number of the recipients address (if applicable)."}}},"phoneCountryCode":{"type":"string","minLength":2,"maxLength":5,"pattern":"^[0-9]{2,4}$","example":"61","description":"Country calling code for the phone number of the recipient."},"phoneNumber":{"type":"string","minLength":3,"maxLength":15,"description":"Phone number of the recipient. Required for international payments to certain countries.","example":78945678},"email":{"type":"string","format":"email","minLength":3,"maxLength":254,"description":"Email address of the recipient. Required for international payments to certain countries."},"dateOfBirth":{"type":"string","format":"date","description":"Date of Birth of the recipient. Required for international payments to certain countries.","example":"2001-04-07T00:00:00.000Z"},"taxIdentifier":{"type":"string","description":"Relevant countries Tax identification number/reference for the recipient (both business and individual). Required for international payments to certain countries."},"corporateName":{"type":"string","description":"Corporate name of the recipient. Required if type of recipient is \"corporate\"","example":"Example Industries"},"corporateBusinessName":{"type":"string","description":"Corporate business name of the recipient. Required if type of recipient is \"corporate\"","example":"Example Industries Pty Ltd"},"corporateRegistrationNumber":{"type":"string","description":"Registration number of the corporate based on their country of registration. Required if type of recipient is \"corporate\"","example":51824753556},"corporateCountryOfRegistration":{"allOf":[{"$ref":"#/components/schemas/Country"},{"description":"Country where the corporate is registered. Denoted using 2 letter ISO standard for country codes. Required if type of recipient is \"corporate\"."}]},"createdAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The date-time the recipient was created.","readOnly":true},"updatedAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The date-time the recipient was updated.","readOnly":true},"status":{"allOf":[{"$ref":"#/components/schemas/EnumRecipientStatus"},{"description":"The status of the recipient","readOnly":true}]},"recipientId":{"allOf":[{"$ref":"#/components/schemas/RecipientId"},{"description":"The ID of the recipient","readOnly":true}]},"paymentAddresses":{"type":"array","items":{"$ref":"#/components/schemas/PaymentAddress"}},"externalReference":{"type":"string","description":"An optional value that can be passed in to later reference a related resource in the partner system."}}},"PayinAddress":{"type":"object","required":["payinAddressId","walletId","payinAddressType","currency","routingCodeType","routingCode","accountReference","domicile","status","updatedAt","createdAt"],"properties":{"payinAddressId":{"allOf":[{"$ref":"#/components/schemas/PayinAddressId"},{"description":"ID of the payinAddress.","readOnly":true}]},"walletId":{"allOf":[{"$ref":"#/components/schemas/WalletId"},{"description":"ID of the wallet which has been linked to the payin address."}]},"payinAddressType":{"allOf":[{"$ref":"#/components/schemas/EnumPayinAddressType"},{"description":"What type of payin details have been generated."}]},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency accepted by the payin address. Sending other currencies to this address may result in additional fees."}]},"domicile":{"allOf":[{"$ref":"#/components/schemas/EnumPayinAddressDomicile"},{"description":"2-letter Country to denote where the payin details have been created.  ."}]},"routingCodeType":{"allOf":[{"$ref":"#/components/schemas/EnumRoutingCodeType"},{"description":"Indicates the type of routing code/payment rails the payin address operates on. For example for international payments this might be Swift or for domestic it could be BSB or Sort etc.","readOnly":true}]},"routingCode":{"type":"string","minLength":0,"maxLength":50,"description":"Code is a generalised term to denote the identifying code for a payin address. This is usually a bank identifier such as a BSB or Swift Code and is generated based on the payinAddressType, currency and domecile combination.","example":"123456789","readOnly":true},"accountReference":{"type":"string","minLength":0,"maxLength":50,"description":"Reference is a generalised term to denote the specfic account/address for the wallet. This is usually a bank account number.","example":"5567778","readOnly":true},"status":{"allOf":[{"$ref":"#/components/schemas/EnumPayinAddressStatus"},{"description":"Indicates the status of the payin address. Only addresses in the Active status are ready to receive funds.","readOnly":true}]},"createdAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The date-time the Payin Address was created.","readOnly":true},"updatedAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The date-time the payin address was last updated.","readOnly":true}}},"PaymentAddress":{"type":"object","required":["paymentAddressId","payoutType","routingCode","accountReference","currency","clientAddressName","bankCountry","createdAt","updatedAt","status"],"properties":{"paymentAddressId":{"allOf":[{"$ref":"#/components/schemas/PaymentAddressId"},{"description":"The paymentAddressId of the paymentAddress.","readOnly":true}]},"payoutType":{"allOf":[{"$ref":"#/components/schemas/EnumPayoutType"},{"description":"Type of payout to be made. Please ensure you cross reference which routing details you are supplying with the payment type to avoid any payment failures."}]},"routingCode":{"type":"string","description":"Routing code of the recipients bank, usually a local clearing code (ie BSB) or a Swift code.","example":"12345789"},"accountReference":{"type":"string","description":"Specific account number for the recipients bank address. Usually an local account number or an IBAN.","example":"49995300"},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"Currency of the recipients account."}]},"clientAddressName":{"type":"string","description":"Client reference name for the payment address.","example":"My payment address"},"bankCountry":{"allOf":[{"$ref":"#/components/schemas/Country"},{"description":"Where the recipients bank address is located."}]},"createdAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-time the payment address was created.","readOnly":true},"updatedAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-time the payment address was updated.","readOnly":true},"status":{"allOf":[{"$ref":"#/components/schemas/EnumPaymentAddressStatus"},{"description":"The status of the payment address.","readOnly":true}]}}},"Payin":{"type":"object","required":["payinTransactionId","payinAddressId","walletId","amount","currency","status","payinAddressType","createdAt","updatedAt"],"properties":{"payinTransactionId":{"allOf":[{"$ref":"#/components/schemas/PayinTransactionId"},{"description":"ID of the Payin Transaction.","readOnly":true}]},"payinAddressId":{"allOf":[{"$ref":"#/components/schemas/PayinAddressId"},{"description":"ID of the Payin Address which the payin was processed by."}]},"walletId":{"allOf":[{"$ref":"#/components/schemas/WalletId"},{"description":"ID of the wallet which has received the payin."}]},"amount":{"type":"number","format":"int64","description":"Payin amount denoted without decimals (ie 100 = $1) in the lowest denomination of the currency."},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of the payin."}]},"status":{"allOf":[{"$ref":"#/components/schemas/EnumPayinTransactionStatus"},{"description":"Status of the payin.","readOnly":true}]},"payinAddressType":{"allOf":[{"$ref":"#/components/schemas/EnumPayinAddressType"},{"description":"Indicates how the payin was sent."}]},"sourceDetails":{"type":"string","minLength":0,"maxLength":200,"description":"The source response includes information about 'where' the payin originated from. These will vary depending on the originating institution and which of Sends banking partners are used. The format of this field is unstructured."},"remitterDetails":{"type":"string","minLength":0,"maxLength":200,"description":"The remitter response includes information about 'who' the payin originated from. These will vary depending on the originating institution and which of Sends banking partners are used. The format of this field is unstructured."},"createdAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-time the Payin Transation was created.","readOnly":true},"updatedAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-time the Payin Transaction was updated.","readOnly":true}}},"Ratesheet":{"type":"object","required":["ratesheetId","currencyPairs","expiresAt"],"properties":{"ratesheetId":{"allOf":[{"$ref":"#/components/schemas/RatesheetId"},{"description":"ID of the Rate. Can be used to book trades at the locked in rate.","readOnly":true}]},"tradingAccountId":{"allOf":[{"$ref":"#/components/schemas/TradingAccountId"},{"description":"ID of the trading account the rate should be created under."}]},"currencyPairs":{"type":"array","items":{"type":"object","properties":{"buyCurrency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of what currency the trading account is looking to purchase.","example":"NZD"}]},"sellCurrency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of what currency the trading account is looking to sell.","example":"AUD"}]},"rate":{"type":"number","format":"double","description":"The rate to apply for the trade. Represents the amount of the buy currency a user would receive for 1 sell currency. For an (sell) AUD to (buy) USD trade the rate might be 0.6, indicating you would get 0.6 USD for 1 AUD.","readOnly":true}}}},"expiresAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC datetime for when the rate will expire.","readOnly":true}}},"Quote":{"type":"object","required":["quoteId","buyCurrency","sellCurrency","buyAmount","sellAmount","expiresAt"],"properties":{"quoteId":{"allOf":[{"$ref":"#/components/schemas/RatesheetId"},{"description":"ID of the Rate. Can be used to book trades at the locked in rate.","readOnly":true}]},"tradingAccountId":{"allOf":[{"$ref":"#/components/schemas/TradingAccountId"},{"description":"ID of the trading account the quote should be created under."}]},"buyCurrency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of what currency the trading account is looking to purchase.","example":"NZD"}]},"sellCurrency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of what currency the trading account is looking to sell.","example":"AUD"}]},"buyAmount":{"type":"number","format":"int64","description":"The amount of the buyCurrency that will be receivable based on this quote. If not provided in the request, this will be calculated using the rate."},"sellAmount":{"type":"number","format":"int64","description":"The amount of the sellCurrency that will be receivable based on this quote. If not provided in the request, this will be calculated using the rate."},"rate":{"type":"number","format":"double","description":"The rate to apply for the trade. Represents the amount of the buy currency a user would receive for 1 sell currency. For an (sell) AUD to (buy) USD trade the rate might be 0.6, indicating you would get 0.6 USD for 1 AUD.","readOnly":true},"expiresAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC datetime for when the rate will expire.","readOnly":true}}},"AuthorisedRepresentative":{"type":"object","required":["firstName","lastName","phoneCountryCode","phone","role","status","createdAt","updatedAt"],"properties":{"authorisedRepresentativeId":{"allOf":[{"$ref":"#/components/schemas/AuthorisedRepresentativeId"},{"description":"ID of the authorised representative.","readOnly":true}]},"email":{"type":"string","format":"email","minLength":3,"maxLength":254,"description":"Email address of the authorised representative. May be used for verification if needed.","example":"authrep11@asdr99slkdkk.com"},"firstName":{"type":"string","description":"First Name of the authorised representative.","example":"Kim"},"middleName":{"type":"string","description":"Middle Name of the authorised representative.","example":"Alex"},"lastName":{"type":"string","description":"Last Name of the authorised representative.","example":"Doe"},"phoneCountryCode":{"type":"string","minLength":2,"maxLength":5,"pattern":"^[0-9]{2,4}$","example":"61","description":"Country calling code for the phone number of the representative."},"phone":{"type":"string","minLength":3,"maxLength":15,"description":"Phone number of the authorised representative. Will be used for verification if needed.","example":"02 7779 7399"},"dateOfBirth":{"type":"string","format":"date","description":"Date of Birth of the authorised representative.","example":"2001-04-07T00:00:00.000Z"},"role":{"type":"string","description":"Role of the authorised representative. For corproates this could be CFO or Treasury Manager, for individuals this could be spouse or accountant.","example":"Accountant"},"physicalAddress":{"type":"object","description":"Address object representing the physical address of the authorised representative, not the postal address. Can use any valid combination of optional address lines.","required":["city","country","postcode"],"properties":{"city":{"type":"string","description":"City where the authorised representative lives.","example":"Sydney"},"country":{"allOf":[{"$ref":"#/components/schemas/Country"},{"description":"Country where the authorised representative lives."}],"example":"AU"},"postcode":{"type":"string","description":"Postcode of the authorised representatives address.","example":2000},"state":{"type":"string","description":"State of the authorised representatives address.","example":"NSW"},"addressLine1":{"type":"string","description":"Free form text for postal address - line 1.","example":"Harbourside Apartments"},"addressLine2":{"type":"string","description":"Free form text for postal address - line 2."},"streetName":{"type":"string","description":"Street Name of the authorised representatives address.","example":"Fancy"},"streetNumber":{"type":"string","description":"Street Number of the authorised representatives address.","example":"1"},"streetType":{"type":"string","description":"Type of Street ie (Street, Lane, Road etc).","example":"Street"},"unitNumber":{"type":"string","description":"Unit Number of the authorised representatives address (if applicable).","example":"22"}}},"primaryIdentification":{"allOf":[{"$ref":"#/components/schemas/Identification"}]},"status":{"allOf":[{"$ref":"#/components/schemas/EnumAuthorisedRepresentativeStatus"},{"description":"Whether the authorised rep is current active or inactive.","readOnly":true}]},"createdAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-timestamp the authorised rep was created.","readOnly":true},"updatedAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"The UTC date-timestamp for when the authorised rep was last updated.","readOnly":true}}},"Trust":{"type":"object","description":"An object representing the trust details.","properties":{"name":{"type":"string","description":"Legal name of the trust (if a trust is being used).","example":"Doe Family Trust"},"trustTrustees":{"type":"array","description":"Array of objects, representing all listed trustees of the trust.","items":{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["individual","corporate"]},"firstName":{"type":"string","description":"First Name of the trustee.","example":"Jay"},"lastName":{"type":"string","description":"Last Name of the trustee.","example":"Doe"},"middleName":{"type":"string","description":"Middle Name of the trustee.","example":"Alex"},"dateOfBirth":{"type":"string","format":"date","description":"Birth date of the trustee.","example":"1984-09-21T00:00:00.000Z"},"phoneCountryCode":{"type":"string","minLength":2,"maxLength":5,"pattern":"^[0-9]{2,4}$","example":"61","description":"Country calling code for the phone number of the trustee."},"phoneNumber":{"type":"string","minLength":3,"maxLength":15,"description":"Phone number of the trustee.","example":78945678},"email":{"type":"string","format":"email","minLength":3,"maxLength":254,"description":"Email address of the trustee.","example":"test@example.com"},"corporateName":{"type":"string","description":"Corporate name of the trust trustee. Required if type of trustee is \"corporate\"","example":"Example Industries"},"corporateBusinessName":{"type":"string","description":"Corporate business name of the trust trustee. Required if type of trustee is \"corporate\"","example":"Example Industries Pty Ltd"},"corporateRegistrationNumber":{"type":"string","description":"Registration number of the corporate based on their country of registration. Required if type of trustee is \"corporate\"","example":51824753556},"corporateRegistrationType":{"allOf":[{"$ref":"#/components/schemas/EnumCorporateRegistrationType"},{"description":"Type of corporate registration number being supplied (for examples ABN or ACN). Required if type of trustee is \"corporate\"."}]},"corporateCountryOfRegistration":{"allOf":[{"$ref":"#/components/schemas/Country"},{"description":"Country where the corporate is registered. Denoted using 2 letter ISO standard for country codes. Required if type of trustee is \"corporate\"."}]},"corporateType":{"allOf":[{"$ref":"#/components/schemas/EnumCorporateType"},{"description":"The type of entity the corporate is operating under. If the specific option is not present please pick the most relevant or select 'other'. Required if type of trustee is \"corporate\"."}]},"physicalAddress":{"type":"object","description":"Object representing the physical address of the trust trustee.","required":["city","country","postcode"],"properties":{"city":{"type":"string","description":"City where the trustee lives.","example":"New York"},"country":{"allOf":[{"$ref":"#/components/schemas/Country"},{"description":"Country where the trustee lives."}]},"postcode":{"type":"string","description":"Postcode of the trustee address.","example":10003},"state":{"type":"string","description":"State of the trustee address.","example":"NY"},"addressLine1":{"type":"string","description":"Free form text for postal address - line 1.","example":"The Waldorf"},"addressLine2":{"type":"string","description":"Free form text for postal address - line 2."},"streetName":{"type":"string","description":"Street Name of the trustee address.","example":"Nice"},"streetNumber":{"type":"string","description":"Street Number of the trustee address.","example":1},"streetType":{"type":"string","description":"Type of Street ie (Street, Lane, Road etc).","example":"Street"},"unitNumber":{"type":"string","description":"Unit Number of the trustee address (if applicable).","example":33}}},"primaryIdentification":{"allOf":[{"$ref":"#/components/schemas/Identification"}]}}}},"trustBeneficiaries":{"type":"array","description":"Array of objects, representing all listed beneficiaries of the trust.","items":{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["individual","corporate"]},"firstName":{"type":"string","description":"First Name of the trust beneficiary.","example":"Jay"},"lastName":{"type":"string","description":"Last Name of the trust beneficiary.","example":"Doe"},"middleName":{"type":"string","description":"Middle Name of the trust beneficiary.","example":"Alex"},"dateOfBirth":{"type":"string","format":"date","description":"Birth date of the trust beneficiary.","example":"1984-09-21T00:00:00.000Z"},"phoneCountryCode":{"type":"string","minLength":2,"maxLength":5,"pattern":"^[0-9]{2,4}$","example":"61","description":"Country calling code for the phone number of the trust beneficiary."},"phoneNumber":{"type":"string","minLength":3,"maxLength":15,"description":"Phone number of the trust beneficiary.","example":78945678},"email":{"type":"string","format":"email","minLength":3,"maxLength":254,"description":"Email address of the trust beneficiary.","example":"test@example.com"},"corporateName":{"type":"string","description":"Corporate name of the trust beneficiary. Required if type of beneficiary is \"corporate\"","example":"Example Industries"},"corporateBusinessName":{"type":"string","description":"Corporate business name of the trust beneficiary. Required if type of beneficiary is \"corporate\"","example":"Example Industries Pty Ltd"},"corporateRegistrationNumber":{"type":"string","description":"Registration number of the corporate based on their country of registration. Required if type of beneficiary is \"corporate\"","example":51824753556},"corporateRegistrationType":{"allOf":[{"$ref":"#/components/schemas/EnumCorporateRegistrationType"},{"description":"Type of corporate registration number being supplied (for examples ABN or ACN). Required if type of beneficiary is \"corporate\"."}]},"corporateCountryOfRegistration":{"allOf":[{"$ref":"#/components/schemas/Country"},{"description":"Country where the corporate is registered. Denoted using 2 letter ISO standard for country codes. Required if type of trustee is \"corporate\"."}]},"corporateType":{"allOf":[{"$ref":"#/components/schemas/EnumCorporateType"},{"description":"The type of entity the corporate is operating under. If the specific option is not present please pick the most relevant or select 'other'. Required if type of trustee is \"corporate\"."}]},"physicalAddress":{"type":"object","description":"Object representing the physical address of the trust beneficiary.","required":["city","country","postcode"],"properties":{"city":{"type":"string","description":"City where the beneficiary lives.","example":"New York"},"country":{"allOf":[{"$ref":"#/components/schemas/Country"},{"description":"Country where the beneficiary lives."}]},"postcode":{"type":"string","description":"Postcode of the beneficiary address.","example":10003},"state":{"type":"string","description":"State of the beneficiary address.","example":"NY"},"addressLine1":{"type":"string","description":"Free form text for postal address - line 1.","example":"The Waldorf"},"addressLine2":{"type":"string","description":"Free form text for postal address - line 2."},"streetName":{"type":"string","description":"Street Name of the beneficiary address.","example":"Nice"},"streetNumber":{"type":"string","description":"Street Number of the beneficiary address.","example":1},"streetType":{"type":"string","description":"Type of Street ie (Street, Lane, Road etc).","example":"Street"},"unitNumber":{"type":"string","description":"Unit Number of the beneficiary address (if applicable).","example":33}}},"primaryIdentification":{"allOf":[{"$ref":"#/components/schemas/Identification"}]}}}}}},"Identification":{"type":"object","description":"Primary ID document details.","required":["identityCountry","identityExpiry","identityNumber","identityState","identityType"],"properties":{"identityCardNumber":{"type":"string","description":"Card number of the identity document being supplied for the individual. This is primarily necessary for Australian licenses where the card number is different to the license number. Required only when Send is completing KYC on the individual.","example":"123ABC2344"},"identityCountry":{"allOf":[{"$ref":"#/components/schemas/Country"},{"description":"Country where the identity document was issued. Denoted using 2 letter ISO - ISO 3166 — Country Codes Alpha 2 standard for country codes."}]},"identityExpiry":{"type":"string","format":"date","description":"Expiry date of the identity document.","example":"2056-09-03T00:00:00.000Z"},"identityNumber":{"type":"string","description":"Actual license number of the identity document.","example":"88899333AA"},"identityState":{"type":"string","description":"State where the identity document was issued.","example":"NSW"},"identityType":{"allOf":[{"$ref":"#/components/schemas/EnumIdentityType"},{"description":"Type of identity document being supplied."}]}}},"AuthCredentials":{"type":"object","properties":{"accessToken":{"type":"string","description":"Access token for future requests."},"expiresAt":{"type":"string","format":"date-time","minLength":20,"maxLength":20,"description":"UTC time when the authentication will expire."}}},"PostAuthRequest":{"type":"object","description":"Authenticates your connection to the Send API and supplies a token for subsequent calls.","required":["clientId","clientSecret"],"properties":{"clientId":{"allOf":[{"$ref":"#/components/schemas/ClientId"},{"description":"The client ID provided by Send to authenticate the API user."}],"example":"PROD_5e505642-9024-474d-9434-e5a44f505cc"},"clientSecret":{"type":"string","example":"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX","description":"The client secret used to authenticate the API user."}}},"PostAccountIndividualRequest":{"$ref":"#/components/schemas/IndividualAccount"},"PostAccountCorporateRequest":{"$ref":"#/components/schemas/CorporateAccount"},"PostAccountAuthorisedrepresentativeRequest":{"$ref":"#/components/schemas/AuthorisedRepresentative"},"PostWalletRequest":{"oneOf":[{"$ref":"#/components/schemas/Wallet"},{"$ref":"#/components/schemas/WalletWithPayinAddress"}]},"PostPayinaddressRequest":{"$ref":"#/components/schemas/PayinAddress"},"PostRatesheetRequest":{"type":"object","required":["tradingAccountId","currencyPairs"],"properties":{"tradingAccountId":{"allOf":[{"$ref":"#/components/schemas/TradingAccountId"},{"description":"ID of the trading account the rate should be created under."}]},"currencyPairs":{"type":"array","items":{"type":"object","properties":{"buyCurrency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of what currency the trading account is looking to purchase.","example":"NZD"}]},"sellCurrency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of what currency the trading account is looking to sell.","example":"AUD"}]}}}}}},"PostQuoteRequest":{"type":"object","required":["tradingAccountId","buyCurrency","sellCurrency"],"properties":{"tradingAccountId":{"allOf":[{"$ref":"#/components/schemas/TradingAccountId"},{"description":"ID of the trading account the rate should be created under."}]},"buyCurrency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of what currency the trading account is looking to purchase.","example":"NZD"}]},"sellCurrency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of what currency the trading account is looking to sell.","example":"AUD"}]},"buyAmount":{"type":"number","format":"int64","description":"The amount of the buyCurrency that must be fixed for this quote. Either the buyAmount or sellAmount should be provided, but not both."},"sellAmount":{"type":"number","format":"int64","description":"The amount of the sellCurrency that must be fixed for this quote. Either the buyAmount or sellAmount should be provided, but not both."}}},"PostTradeSpotRequest":{"type":"object","required":["tradeTransactionId","buyCurrency","sellCurrency","bookedbuyAmount","bookedSellAmount","fromWalletId"],"properties":{"buyCurrency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of the currency being bought."}],"example":"NZD"},"sellCurrency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"description":"3-letter Currency of the currency being sold."}]},"buyAmount":{"type":"number","format":"int64","minimum":0,"description":"How much the account owner will receive in the buy currency.","example":20000},"sellAmount":{"type":"number","format":"int64","minimum":0,"description":"How much is owed by the account owner in order to fund the trade.","example":19000},"ratesheetId":{"allOf":[{"$ref":"#/components/schemas/RatesheetId"},{"description":"The id of the Ratesheet used to generate the trades rate."}]},"fromWalletId":{"allOf":[{"$ref":"#/components/schemas/WalletId"},{"description":"The ID of the wallet which will supply the sell currency."}]},"toWalletId":{"allOf":[{"$ref":"#/components/schemas/WalletId"},{"description":"The ID of the wallet which if specified the buy currency will fall into."}]},"requestedTenor":{"allOf":[{"$ref":"#/components/schemas/EnumTenor"},{"description":"The preferred tenor for the trade. This will be confirmed in the response."}]},"externalReference":{"type":"string","description":"An optional value that can be passed in to later reference a related resource in the partner system."},"payment":{"type":"object","properties":{"paymentReason":{"allOf":[{"$ref":"#/components/schemas/EnumPaymentReasons"},{"description":"The reason defined for the payment."}]},"reference":{"type":"string","minLength":1,"maxLength":18,"description":"The reference which will show on the recipients bank records."},"recipientId":{"allOf":[{"$ref":"#/components/schemas/RecipientId"},{"description":"The recipient of the payment."}]},"paymentAddressId":{"allOf":[{"$ref":"#/components/schemas/PaymentAddressId"},{"description":"The ID of the payment address."}]}}}}},"PostPaymentPayoutRequest":{"$ref":"#/components/schemas/PayoutPayment"},"PostPaymentTransferRequest":{"$ref":"#/components/schemas/TransferPayment"},"PostRecipientRequest":{"$ref":"#/components/schemas/Recipient"},"PostRecipientPaymentAddressRequest":{"$ref":"#/components/schemas/PaymentAddress"},"PostSandboxPayinRequest":{"type":"object","required":["payinAddressId","amount"],"properties":{"payinAddressId":{"allOf":[{"$ref":"#/components/schemas/PayinAddressId"},{"description":"The Payin Address (linked to the wallet and trading account) to receive the funds)."}]},"amount":{"type":"number","format":"int64","description":"How much to payin in the lowest denomination of the currency."}}},"PostWebhookRequest":{"$ref":"#/components/schemas/Webhook"},"EnumIdentityType":{"description":"Indicates that the form of identity is a drivers license","enum":["driver_license","passport"]},"EnumAccountRegistrationStatus":{"description":"","type":"string","enum":["submitted","pending","active","rejected","inactive"]},"EnumCorporateRegistrationType":{"description":"","enum":["ABN","ACN"]},"EnumCorporateType":{"description":"","enum":["sole_trader","company_listed","company_unlisted","partnership","trust","cooperative","indigenous_corporation","joint_venture"]},"EnumAuthorisedRepresentativeStatus":{"description":"","enum":["pending","active","inactive"]},"EnumWalletStatus":{"description":"","enum":["pending","active","inactive"]},"EnumPayinAddressDomicile":{"description":"","enum":["AU"]},"EnumPayinAddressType":{"description":"","enum":["local_bank_transfer","international_bank_transfer"]},"EnumRoutingCodeType":{"description":"","enum":["swift","bsb"]},"EnumPayinAddressStatus":{"description":"","enum":["pending","active","inactive"]},"EnumPayinTransactionStatus":{"description":"","enum":["new","pending","credited","refunded"]},"EnumRatesheetTimeToLiveMilliseconds":{"description":"","enum":["30000","60000","120000","300000"]},"EnumPaymentReasons":{"description":"","enum":["buying_a_vehicle","buying_or_selling_a_business","buying_or_selling_shares","donating_to_charity","emigration","family_support","gift","inheritance","living_expenses","medical_costs","online_store_purchase","paying_bills_or_mortgage","paying_business_invoice","paying_for_holiday_or_accomodation","payroll","pension_or_superannuation_transfer","professional_services","property_purchase_or_sale","salary_transfer","tax","tuition_or_school_fees","wedding","other"]},"EnumTradeTransactionStatus":{"description":"","type":"string","enum":["submitted","processing","pending_settlement","pending_payment_processing","awaiting_funds","settled","rejected"]},"EnumPaymentType":{"description":"","enum":["payout","transfer"]},"EnumPayoutType":{"description":"","enum":["swift","local"]},"EnumPaymentTransactionStatus":{"description":"","enum":["submitted","processing","pending_trade_settlement","awaiting_funds","funds_received","released","settled","rejected"]},"EnumRecipientType":{"description":"","enum":["individual","business"]},"EnumPaymentAddressStatus":{"description":"","enum":["submitted","processing","active","inactive","rejected"]},"EnumRecipientStatus":{"description":"","enum":["submitted","processing","active","inactive","rejected"]},"EnumWebhookStatus":{"description":"","enum":["active","inactive"]},"EnumAPIResourceType":{"description":"","enum":["authorised_representative","trade","wallet","payin_address","payment","payment_payout","payment_transer","recipient","payment_address","payin","webhook"]},"EnumTenor":{"description":"","enum":["T0","T1","T2"]},"HttpError":{"type":"object","required":["errors"],"properties":{"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","required":["message","type"],"properties":{"message":{"type":"string"},"type":{"type":"string"}}}}}},"ValidationError":{"type":"object","required":["message","errors"],"properties":{"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","required":["field","message","type"],"properties":{"field":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}}},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/HttpError"},{"$ref":"#/components/schemas/ValidationError"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpError"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpError"}}}},"500":{"description":"Unknown Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpError"},"example":{"message":"No message available","errors":[{"message":"Unknown Error","type":"UnknownError"}]}}}}},"securitySchemes":{"bearerAuthentication":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"A RFC8725 compliant JWT"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}